<%
type = "gift"
page = "gift"
popup = "true"
noSort = 'false'
%>
<% include ../_include/_header %>

<div class="section-body">
    <!--검색결과페이지-->
    <div class="gift">
        <div class="gift__wrap">
            <div class="gift__top">
                <div class="gift__gender">
                    <div class="gift__title is-active">
                        <a class="gift__link" href="#;">FOR WOMEN</a>
                    </div>
                    <div class="gift__title">
                        <a class="gift__link" href="#;">BAG</a>
                    </div>
                    <div class="gift__title">
                        <a class="gift__link" href="#;">WALLET</a>
                    </div>
                    <div class="gift__title">
                        <a class="gift__link add-arrow" href="#;">FOR MAN</a>
                    </div>
                </div>
            </div>
            <div class="gift__bottom">
                <ul class="gift__list">
                    <li class="gift__item is-active">
                        <a href="#;" class="gift__inner">all</a>
                    </li>
                    <li class="gift__item">
                        <a href="#;" class="gift__inner">10-20</a>
                    </li>
                    <li class="gift__item">
                        <a href="#;" class="gift__inner">20-30</a>
                    </li>
                    <li class="gift__item">
                        <a href="#;" class="gift__inner">30-40</a>
                    </li>
                    <li class="gift__item">
                        <a href="#;" class="gift__inner">40+</a>
                    </li>
                </ul>
            </div>
            <div class="gift__result">
                <!-- _productFilter noSort= true 값이면 오른쪽 소팅 버튼 숨기기. [noSort = true/false]  -->
                <% include ../_include/_productFilter %>
                <div class="product-tab__info">
                    <!-- product post -->
                    <div class="product-post product-post--post">
                        <ul class="product-post__list">
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">SOLD OUT</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img3_3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">NEW</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img4.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img4_3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                        </ul>
                    </div>
                    <!-- .product post -->
                    <% include ../_include/_paging %>
                </div>
            </div>
            <div class="gift__banner">
                <div class="gift__banner--box">
                    <div class="gift__banner--left">recommend gift</div>
                    <div class="gift__banner--right">
                        <div class="gift__banner--button">
                            <a class="gift__banner--link" href="#;">
                            for man
                            </a>
                        </div>
                        <!-- woman일 때 -->
                        <!--<div class="gift__banner--button">
                            <a class="gift__banner--link" href="#;">
                                for woman
                            </a>
                        </div>-->
                        <!--//woman일 때 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//검색결과페이지-->
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>