<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>

<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
        <div class="event-benefit shoppingguide">
            <section class="scroll-section nth-1" id="scroll-section-0">
                <div class="event-benefit__top">
                    <!--<div class="event-benefit__bg">
                        <div class="event-benefit__wrap">
                            <img src="https://cdn.louisclub.com/static/fr/img/event/shopbenefit/20210114/top_tit.png" class="img-w100" alt="">
                        </div>
                    </div>-->
                    <div class="event-benefit__wrap">
                        <div class="event-benefit__section">
                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/top.jpg" class="img-w100" alt="">
                            <ul class="event-benefit__list">
                                <li class="event-benefit__item js-point1">
                                    <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/point_1.jpg" alt="">
                                </li>
                                <li class="event-benefit__item js-point2">
                                    <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/point_2.jpg" alt="">
                                </li>
                                <li class="event-benefit__item js-point3">
                                    <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/point_3.jpg" alt="">
                                </li>
                            </ul>
                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/section_txt.jpg" class="img-w100" alt="">
                            <a href="https://www.stylelq.com/fr/member/infoSnsJoinStep1.do?site=1" target="_blank" class="event-benefit__link">
                                <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/btn.jpg" alt="">
                            </a>
                        </div>
                        <div class="event-benefit__section">
                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/section_tit2.jpg" class="img-w100" alt="">
                            <div class="event-benefit__delivery">
                                <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/box_icon.png" alt="" class="img-w100 js-box-icon">
                            </div>
                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/section_bottom.jpg" alt="" class="event-benefit__section--img">
                        </div>
                    </div>
                </div>
            </section>
            <section class="scroll-section nth-2" id="scroll-section-1">
                <div class="dim-scroll">
                    <div class="dim-scroll__flex">
                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/scroll_txt.png" class="img-w100 dim-scroll__img" alt="scroll">
                    </div>
                </div>
                <div class="event-benefit__wrap">
                    <div class="event-benefit__tip">
                        <div class="event-benefit__circle">
                            <div class="circle"></div>
                        </div>
                        <div class="event-benefit__header">
                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/section_tip.png" alt="" class="event-benefit__header--img">
                        </div>
                        <ul class="event-benefit__list2">
                            <li class="event-benefit__item2 nth-1">
                                <div class="event-benefit__area type-phone">
                                    <div class="event-benefit__box is-step1">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/phone.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step2 js-cover1">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/cover_1.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step3 js-phone1">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_phone_1.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step4 js-phone2">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_phone_2.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step5 js-cover2">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/cover_2.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step6 js-phone3">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_phone_3.png" alt="" class="event-benefit__box--img">
                                    </div>
                                    <div class="event-benefit__box is-step7 js-phone4">
                                        <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_phone_4.png" alt="" class="event-benefit__box--img">
                                    </div>
                                </div>
                            </li>
                            <li class="event-benefit__item2 nth-2">
                                <div class="event-benefit__outer">
                                    <div class="event-benefit__step">
                                        <h1 class="event-benefit__tit js-tit1">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/box_tit_1.png" alt="">
                                        </h1>
                                        <p class="event-benefit__txt1 is-opacity js-step1">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_tit_1.png" alt="">
                                        </p>
                                        <p class="event-benefit__txt2 is-opacity js-step2">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_tit_2.png" alt="">
                                        </p>
                                    </div>
                                    <div class="event-benefit__step elem-absolute">
                                        <h1 class="event-benefit__tit is-opacity js-tit2">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/box_tit_2.png" alt="">
                                        </h1>
                                        <p class="event-benefit__txt1 is-opacity js-step3">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_tit_3.png" alt="">
                                        </p>
                                        <p class="event-benefit__txt2 is-opacity js-step4">
                                            <img src="https://mcdn.louisclub.com/static/mo/img/event/shopbenefit/20210114/step_tit_4.png" alt="">
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="scroll-section" id="scroll-section-2"></section>
            <!-- 이거지우고 여기에 하단내용 넣어주세요-->

            <!-- //이거지우고 여기에 하단내용 넣어주세요-->
        </div>
    </div>
</div>

<script src="https://cdn.louisclub.com/static/fr/js/event/20210114/benefit_ie.js"></script>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>