<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>

<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
        <!--프로모션 뷰 비주얼-->
        <div class="promotion-view payco-only">
            <div class="promotion-view__title payco-only">
                <div class="promotion-view__name payco-only">[3월] 페이코 구매 혜택</div>
                <div class="promotion-view__date payco-only">참여기간 : 2022.03.01 ~ 2022.03.31</div>
            </div>
            <div class="promotion-view__visual">
                <img class="promotion-view__img" src="https://cdn.louisclub.com/static/upload/default/2022/02/28/ee4beb2c-57aa-4634-8922-80cc3a342d3b.jpg" alt=""/>
            </div>
        </div>
        <!--//프로모션 뷰 비주얼-->
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>