<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
        <!--프로모션 메인배너-->
        <div class="promotion-banner">
            <!--프로모션 이미지영역-->
            <a class="promotion-banner__link" href="promotion_view.html">
                <div class="promotion-banner__visual">
                    <img class="promotion-banner__img" src="../../images/promotion/list/promotion_main01.png" alt=""/>
                </div>
                <!--배너이미지 위 텍스트-->
                <!--<div class="promotion-banner__bottom">
                    <div class="promotion-banner__txt">11,110원 추가 쿠폰 혜택</div>
                </div>-->
                <!--//배너이미지 위 텍스트-->
            </a>
            <!--//프로모션 비디오영역-->

            <!--프로모션 비디오영역-->
            <!--<a class="promotion-banner__link" href="promotion_view.html">
                <div class="promotion-banner__visual is-video">
                    <video class="promotion-banner__video" src="https://mcdn.louisclub.com/static/mo/img/specialty/20210930/video.mp4" poster="https://mcdn.louisclub.com/static/mo/img/specialty/20210930/video_thumbnail.png" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
                </div>
                <div class="promotion-banner__bottom">
                    <div class="promotion-banner__txt">11,110원 추가 쿠폰 혜택</div>
                </div>
            </a>-->
            <!--//프로모션 비디오영역-->
        </div>
        <!--//프로모션 메인배너-->

        <div class="promotion-wrap">
            <div class="promotion-list-wrap">
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">KAREL MARTENS BAG</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/19/35143dfb-abad-4ac5-b3f5-183ffe2a0b71.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">L-Quilting mini</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
            </div>

            <div class="promotion-list-wrap">
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">LALA WALLET</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">KAREL MARTENS BAG</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
            </div>
            <div class="promotion-list-wrap">
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">LALA WALLET</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">KAREL MARTENS BAG</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
            </div>
            <div class="promotion-list-wrap">
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">LALA WALLET</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
                <!--프로모션 배너 리스트-->
                <div class="promotion-list">
                    <a class="promotion-list__link" href="promotion_view.html">
                        <div class="promotion-list__box">
                            <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                        </div>
                        <div class="promotion-list__name">KAREL MARTENS BAG</div>
                    </a>
                </div>
                <!--//프로모션 배너 리스트-->
            </div>
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>