<%
type = "promotion"
page = "promotion"
popup = "false"
lnbTitle = "PROMOTION"
%>

<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
        <!--프로모션 뷰 비주얼-->
        <div class="promotion-view only-may">
            <div class="promotion-view__visual">
                <!--비디오 샘플-->
                <div class="promotion-view__video">
                    <video class="promotion-view__video--src" src="https://cdn.louisclub.com/static/fr/img/specialty/20200710/find_pc.mp4" id="find-video" loop=""
                           autoplay="" muted="ture" playsinline="" data-object-fit="cover"></video>
                </div>
                <!--//비디오 샘플-->

                <!--콘텐츠 영역-->
                <div class="promotion-view__contents">
                    <div class="promotion-view__header">
                        <p class="promotion-view__header--en">thank you for</p>
                        <p class="promotion-view__header--ko">가격대별 선물 추천</p>
                    </div>

                    <!-- 가격대별 선물추천-->
                    <div class="promotion-recommend">
                        <div class="wrap">
                            <!-- 상단탭 -->
                            <div class="promotion-recommend__header">
                                <div class="promotion-recommend__tab">
                                    <ul class="promotion-recommend__tab--inner">
                                        <li class="promotion-recommend__tab--item">
                                            <a href="#;" class="promotion-recommend__tab--link js-slide-tab" data-link="bag">10만원대</a>
                                        </li>
                                        <li class="promotion-recommend__tab--item">
                                            <a href="#;" class="promotion-recommend__tab--link js-slide-tab" data-link="women">20만원대</a>
                                        </li>
                                        <li class="promotion-recommend__tab--item">
                                            <a href="#;" class="promotion-recommend__tab--link js-slide-tab" data-link="men">30만원 이상</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--//상단탭 -->

                            <!-- 가격대별 선물추천 슬라이드-->
                            <div class="promotion-thumb">
                                <div class="swiper-container promotion-thumb__container">
                                    <div class="swiper-wrapper promotion-thumb__wrapper">
                                        <div class="swiper-slide promotion-thumb__item" data-slide="bag">
                                            <a href="#;" class="promotion-thumb__inner">
                                                <img class="promotion-thumb__img" src="../../images/promotion/view/img_0428_slide01.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="swiper-slide promotion-thumb__item" data-slide="women">
                                            <a href="#;" class="promotion-thumb__inner">
                                                <img class="promotion-thumb__img" src="../../images/promotion/view/img_0428_slide02.png" alt="" />
                                            </a>
                                        </div>
                                        <div class="swiper-slide promotion-thumb__item" data-slide="men">
                                            <a href="#;" class="promotion-thumb__inner">
                                                <img class="promotion-thumb__img" src="../../images/promotion/view/img_0428_slide03.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-progress-bar promotion-thumb__progressbar">
                                    <span class="slide_progress-bar"></span>
                                </div>
                            </div>
                            <!--//가격대별 선물추천 슬라이드 -->
                        </div>
                    </div>
                    <!--//가격대별 선물추천-->
                </div>
                <!--//콘텐츠 영역-->
            </div>
            <div class="promotion-view__title">
                <div class="promotion-view__name">Gift for You</div>
                <div class="promotion-view__date">2021.11.04 ~ 2021.11.14</div>
            </div>
        </div>
        <!--//프로모션 뷰 비주얼-->

        <div class="promotion-group">
            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">Wallet 1+1</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-pink">예약<br/>판매</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->

            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">WOMEN'S WALLET</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->

            <!--프로모션 상품 리스트-->
            <div class="promotion-product">
                <div class="promotion-product__header">
                    <div class="promotion-product__name">MEN'S WALLET</div>
                </div>
                <div class="promotion-product__wrap">
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="promotion-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//프로모션 상품 리스트-->
        </div>

        <div class="promotion-wrap only-bottom">
            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">KAREL MARTENS BAG</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/19/35143dfb-abad-4ac5-b3f5-183ffe2a0b71.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">L-Quilting mini</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">LALA WALLET</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>