<%
type = "platform"
page = "platform"
popup = "false"
noSort = "false"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <section class="platform">
            <% include ../_include/_platformTab %>

            <!-- platform video -->
            <div class="platform-banner platform-banner--img2 is-main"><!-- 안에 이미지가 들어갈시 platform-banner--img 클래스, 비디오 추가시 platform-banner--video 클래스 추가 -->
                <img class="platform-banner__img2" src="../../images/platform/visual01.jpg" alt="" />
            </div>
            <!-- .platform video -->

            <!-- platform video -->
            <div class="platform-banner platform-banner--video2 is-bgColor"><!-- 안에 이미지가 들어갈시 platform-banner--img 클래스, 비디오 추가시 platform-banner--video 클래스 추가 -->
                <video src="https://cdn.louisclub.com/static/fr/img/platform/20211111/platform_exhibition_20211112.mp4" class="platform-banner__file2" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
            </div>
            <!-- .platform video -->

            <div class="platform-txt">
                <a class="platform-txt__link" href="../project/project.html">
                    <img class="platform-txt__img" src="../../images/platform/title01.png" alt="" />
                </a>
            </div>

            <!-- platform video -->
            <div class="platform-banner platform-banner--img2 is-main"><!-- 안에 이미지가 들어갈시 platform-banner--img 클래스, 비디오 추가시 platform-banner--video 클래스 추가 -->
                <img class="platform-banner__img2" src="../../images/platform/visual02.jpg" alt="" />
            </div>
            <!-- .platform video -->

        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
