<%
type = "payment"
page = "payment"
popup = "true"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <section class="payment payment-success">
            <div class="payment-head">
                <h3 class="payment__title">PAYMENT</h3>
                <div class="payment-head__cont">
                    <div class="payment-head__text payment-head__text--state">주문완료</div>
                    <div class="payment-head__text"><span class="payment-head__text--name">홍길동</span> 님, 주문이 정상적으로 완료되었습니다.</div>
                    <div class="payment-head__text payment-head__text--id">주문번호 : M202081816</div>
                    <div class="payment-head__btn">
                        <ul class="payment-head__list">
                            <li class="payment-head__item">
                                <a href="" class="btn-v1 btn-v1--small type-primary">주문 내역 조회</a>
                            </li>
                            <li class="payment-head__item">
                                <a href="" class="btn-v1 btn-v1--small type-white">계속 쇼핑 하기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="payment-left">
                <!-- 배송지 정보 -->
                <section class="payment-section">
                    <h2 class="payment-section__title">배송지 정보</h2>

                    <div class="payment-section__cont">
                        <div class="order-info">
                            <div class="order-info__title">
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">받는분</div></dt>
                                    <dd><div class="order-info__name">홍길동</div></dd>
                                </dl>
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">연락처</div></dt>
                                    <dd><div class="order-info__tel">010-1234-5678</div></dd>
                                </dl>
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">추가연락처</div></dt>
                                    <dd><div class="order-info__text">010-1234-5678</div></dd>
                                </dl>
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">주소</div></dt>
                                    <dd><div class="order-info__text">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div></dd>
                                </dl>
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">배송메시지</div></dt>
                                    <dd><div class="order-info__text">배송전 연락 부탁드립니다.</div></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- .배송지 정보 -->
                
                <!-- 주문고객 정보 -->
                <section class="payment-section">
                    <h2 class="payment-section__title">주문고객 정보</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_ordererInfo %>
                    </div>
                </section>
                <!-- .주문고객 정보 -->

                <!-- 주문 상품정보-->
                <section class="payment-section">
                    <h2 class="payment-section__title">주문 상품정보</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_orderProductNonMember %>
                    </div>
                </section>
                <!-- .주문 상품정보 -->

                <!-- 결제하기-->
                <section class="payment-section">
                    <h2 class="payment-section__title">결제</h2>
                    <div class="payment-section__cont">
                        <div class="order-info">
                            <div class="order-info__title">
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">결제일시</div></dt>
                                    <dd><div class="order-info__text">홍길동</div></dd>
                                </dl>
                                <dl class="order-info__group">
                                    <dt><div class="order-info__label">결제방법</div></dt>
                                    <dd>
                                        <div class="order-info__text">무통장 입금 미확인</div>
                                        <div class="order-info__text">입금계좌 : [우리은행] 458392827474 </div>
                                        <div class="order-info__text">입금만료일 : 2022.01.02 </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- .결제하기 -->
            </div>

            <!-- 레이아웃 오른쪽 fixed -->
            <div class="payment-right">
                <!-- 토탈결제금액-->
                <section class="payment-section">
                    <h5 class="payment-section__title">TOTAL</h5>
                    <div class="payment-total">
                        <div class="payment-total__title">
                            <dl class="payment-total__inner">
                                <dt class="payment-total__text">총 주문상품금액</dt>
                                <dd class="payment-total__price">289,290원</dd>
                            </dl>
                        </div>
                        <div class="payment-total__cont">
                            <ul class="payment-total__list">
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">쿠폰할인금액</dt>
                                        <dd class="payment-total__price">-38,710원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">적립금 즉시할인</dt>
                                        <dd class="payment-total__price">0원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">적립금 사용</dt>
                                        <dd class="payment-total__price">-2,000원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">배송비</dt>
                                        <dd class="payment-total__price">0원</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- .토탈결제금액 -->
                <!-- 구매동의-->
                <section class="payment-section">
                    <div class="payment-total__bottom">
                        <dl class="payment-total__inner">
                            <dt class="payment-total__text">TOTAL</dt>
                            <dd class="payment-total__price">289,290원
                                <p class="payment-total__price--saleInfo">(약 10%할인)</p>
                            </dd>
                        </dl>
                    </div>
                </section>
                <!-- .구매동의 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_popup/_installment %>
<% include ../_popup/_addressSearch %>
<% include ../_include/_footer %>