<%
type = "payment"
page = "payment"
popup = "true"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <section class="payment">
            <div class="payment-head">
                <h3 class="payment__title">PAYMENT</h3>
            </div>

            <div class="payment-left">
                <!-- 배송지 정보 -->
                <section class="payment-section">
                    <h2 class="payment-section__title">배송지 정보</h2>

                    <div class="payment-section__cont">
                        <!-- 탭 -->
                        <div class="payment-section-tab">
                            <ul class="payment-section-tab__fix">
                                <li class="payment-section-tab__item">
                                    <!--<a href="#" class="product-tab__link js-add-tab-link is-current">-->
                                        <div class="form__radio form__radio--big form__radio--red js-add-tab-link">
                                            <input class="form__radio--input sr-only" type="radio" name="addressTab" id="add1" checked>
                                            <label class="form__radio--text" for="add1">기본배송지</label>
                                        </div>
                                    <!--</a>-->
                                </li>
                                <li class="payment-section-tab__item">
                                    <!--<a href="#" class="product-tab__link js-add-tab-link">-->
                                        <div class="form__radio form__radio--big form__radio--red js-add-tab-link">
                                            <input class="form__radio--input sr-only" type="radio" name="addressTab" id="add2">
                                            <label class="form__radio--text" for="add2">새로운주소</label>
                                        </div>
                                    <!--</a>-->
                                </li>
                                <li class="payment-section-tab__item">
                                    <!--<a href="#" class="product-tab__link js-add-tab-link">-->
                                        <div class="form__radio form__radio--big form__radio--red js-add-tab-link">
                                            <input class="form__radio--input sr-only" type="radio" name="addressTab" id="add3">
                                            <label class="form__radio--text" for="add3">주문자 정보와 동일</label>
                                        </div>
                                    <!--</a>-->
                                </li>
                            </ul>
                        </div>
                        <!-- //탭 -->
                        <a href="#shippingPop" class="user-address__link js-popup-open">배송지 목록</a>

                        <div class="payment-section-tab__info is-current">
                            <!-- 배송지 없음 -->
                            <p class="payment-section__text no-data">등록된 배송지 정보가 없습니다. 배송지 정보를 입력하세요.</p>
                        </div>
                        
                        <div class="payment-section-tab__info">
                            <div class="new-address">
                                <% include ../_include/_addressInfo %>
                            </div>
                        </div>

                        <div class="payment-section-tab__info">
                            <div class="orderer-information">
                                <% include ../_include/_addressInfoModify %>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- .배송지 정보 -->
                
                <!-- 주문고객 정보 -->
                <section class="payment-section">
                    <h2 class="payment-section__title">주문고객 정보</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_ordererInfo %>
                    </div>
                </section>
                <!-- .주문고객 정보 -->

                <!-- 주문 상품정보-->
                <section class="payment-section">
                    <h2 class="payment-section__title">주문 상품정보</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_orderProduct %>
                    </div>
                </section>
                <!-- .주문 상품정보 -->

                <!-- 쿠폰/할인 정보-->
                <section class="payment-section">
                    <h2 class="payment-section__title">쿠폰/할인 정보</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_couponInfo %>
                    </div>
                </section>
                <!-- .쿠폰/할인 정보 -->

                <!-- 결제하기-->
                <section class="payment-section">
                    <h2 class="payment-section__title">결제</h2>
                    <div class="payment-section__cont">
                        <% include ../_include/_paymentTool %>
                    </div>
                </section>
                <!-- .결제하기 -->
            </div>

            <!-- 레이아웃 오른쪽 fixed -->
            <div class="payment-right">
                <!-- 토탈결제금액-->
                <section class="payment-section">
                    <h5 class="payment-section__title">TOTAL</h5>
                    <div class="payment-total">
                        <div class="payment-total__title">
                            <dl class="payment-total__inner">
                                <dt class="payment-total__text">총 주문상품금액</dt>
                                <dd class="payment-total__price">289,290원</dd>
                            </dl>
                        </div>
                        <div class="payment-total__cont">
                            <ul class="payment-total__list">
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">쿠폰할인금액</dt>
                                        <dd class="payment-total__price">-38,710원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">적립금 즉시할인</dt>
                                        <dd class="payment-total__price">0원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">적립금 사용</dt>
                                        <dd class="payment-total__price">-2,000원</dd>
                                    </dl>
                                </li>
                                <li class="payment-total__item">
                                    <dl class="payment-total__inner">
                                        <dt class="payment-total__text">배송비</dt>
                                        <dd class="payment-total__price">0원</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- .토탈결제금액 -->
                <!-- 구매동의-->
                <section class="payment-section">
                    <div class="payment-total__bottom">
                        <dl class="payment-total__inner">
                            <dt class="payment-total__text">TOTAL</dt>
                            <dd class="payment-total__price">289,290원
                                <p class="payment-total__price--saleInfo">(약 10%할인)</p>
                            </dd>
                        </dl>
                    </div>
                    <div class="payment-section__cont">
                        <dl class="payment-total__inner">
                            <dt class="payment-total__text">구매동의</dt>
                            <dd class="payment-total__cont">
                                <div class="payment-agree">
                                    <p class="payment-agree__text">주문할 상품의 상품명, 상품가격, 배송 정보를 확인하였으며, 구매에 동의하시겠습니까? (전자상거래법 제8조 제2항)</p>
                                    <div class="form__checkbox form__checkbox--big">
                                        <input class="form__checkbox--input sr-only" type="checkbox" name="paymentAgree" id="paymentAgree">
                                        <label class="form__checkbox--text js-full-use" for="paymentAgree">동의합니다.</label>
                                    </div>
                                    <button class="payment-agree__btn btn-v1 type-primary">결제하기</button>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </section>
                <!-- .구매동의 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_popup/_installment %>
<% include ../_popup/_gift %>
<% include ../_popup/_message %>
<% include ../_popup/_coupon %>
<% include ../_popup/_addressSearch %>
<% include ../_popup/_shipping %>
<% include ../_include/_footer %>