<%
type = "project"
page = "project"
popup = "true"
%>

<% include ../_include/_header %>
<div class="container">
    <div class="site-project">
        <div class="collabo-list">
            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <div class="collabo-list__item">
                    <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/1.jpg" alt=""/>
                    <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                        <div class="collabo-list__box">LOUIS QUATORZE X TZURI GUETTA</div>
                    </a>
                </div>
            </div>
            <!--//콜라보 리스트-->

            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <div class="collabo-list__item">
                    <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/2.jpg" alt=""/>
                    <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                        <div class="collabo-list__box">LOUIS QUATORZE X TZURI GUETTA</div>
                    </a>
                </div>
            </div>
            <!--//콜라보 리스트-->

            <!--콜라보 리스트-->
            <div class="collabo-list__wrap">
                <div class="collabo-list__item">
                    <img class="collabo-list__img" src="https://mcdn.louisclub.com/static/mo/img/collabo/list/3.jpg" alt=""/>
                    <a class="collabo-list__link js-popup-open" href="#collaborationPop">
                        <div class="collabo-list__box">LOUIS QUATORZE X TZURI GUETTA</div>
                    </a>
                </div>
            </div>
            <!--//콜라보 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_popup/_collaboration.ejs %>
<% include ../_include/_footer %>