<%
type = "project"
page = "project"
popup = "false"
lnbTitle = "김은학"
%>
<% include ../_include/_header %>
<div class="container">
    <!--10 김은학-->
    <div class="findIntroduce nth-10">
        <section class="findIntroduce__section">
            <div class="findIntroduce__wrap">
                <div class="findIntroduce__num">
                    <img class="findIntroduce__img motion-up" src="../../images/project/findintroduce/10/num.png" alt="">
                </div>
            </div>
        </section>
        <section class="findIntroduce__section">
            <div class="findIntroduce__wrap">
                <div class="findIntroduce__box type-img">
                    <div class="findIntroduce__header">
                        <h3 class="findIntroduce__name js-load-motion">
                            김은학
                            <span class="findIntroduce__eng">Eunhak Kim</span>
                        </h3>
                        <ul class="find-sns">
                            <li class="find-sns__item">
                                <a href="https://www.instagram.com/yeon.seoul" class="find-sns__link">
                                    <img src="../../images/project/findintroduce/1/sns_ico_1.png" alt="instar">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <img src="../../images/project/findintroduce/9/section_img_1.png" alt="">
                </div>
                <div class="findIntroduce__box type-txt">
                    <div class="findIntroduce-txt">
                        <p class="findIntroduce-txt__parm motion-up type-delay10">
                            김은학은 공장에서 만들어지는 대량 생산품보다는 수공예적 과정의 결과물을 중요시하며, 재료와
                            형태가 주는 순수한 조형미를 추구한다. 현재 자신의 오브제로 도시를 창조하는 플래닛-언플래닛
                            프로젝트를 진행하며 공예·디자인 분야에서 다양한 창작 활동을 펼치고 있다.
                        </p>
                        <p class="findIntroduce-txt__parm motion-up type-delay10">
                            신작 <Building_Cheese>는 루이까또즈의 ‘치즈’ 시리즈에서 볼 수 있는
                                금장 장식의 조밀한 주름에서 영감을 얻었다. 작가의 상상 속에 자리한 빌딩 ‘치즈’는 단순한
                                직육면체의 구조를 둘러싼 장식적인 면들이 특징이다. 네 면 중 대칭되는 두 면은 치즈
                                시리즈의 금장 장식을 재해석하고, 반대로 대칭되는 두 면은 작가가 진행해 온 플래닛-언플래닛의
                                심벌들을 사용해 표면을 장식했다. 모래주물의 결과인 표면의 거친 질감과 대비되는 굵직한 여러
                                선들로 이루어진 알루미늄 오브제는 작가가 이어온 프로젝트 속의 건축물이면서도
                                루이까또즈의 일부를 재해석한 독립적인 오브제이기도 하다.
                        </p>
                    </div>
                    <div class="findIntroduce__vertical">
                        <img class="js-load-motion type-delay15 type-left"src="../../images/project/findintroduce/10/vertical_img_1.png" alt="Compositional Copper - LQ ">
                    </div>
                </div>
            </div>
        </section>
        <section class="findIntroduce__section">
            <div class="findIntroduce__wrap">
                <header class="findIntroduce__top">
                    <h3 class="findIntroduce__name2 motion-up">Eunhak Kim</h3>
                </header>
                <div class="content-video">
                    <div class="content-video__wrap">
                        <div class="content-video__area is-active nth-10 js-play-btn">
                            <div class="content-video__intro">
                                <div class="content-video__play"></div>
                            </div>
                            <div class="content-video__youtube" data-url="4-6Oq3xBP3w"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="findIntroduce__section">
            <div class="findIntroduce__wrap">
                <div class="findIntroduce-slide swiper-conainer js-findIntroduce1-slide">
                    <p class="findIntroduce-slide__desc motion-up">
                        <strong class="findIntroduce-slide__point">LQ table</strong>
                        Powder coated steel,<br>
                        710X750X900(h)mm
                    </p>
                    <ul class="findIntroduce-slide__list swiper-wrapper">
                        <li class="findIntroduce-slide__item swiper-slide">
                            <img class="img-w100" src="../../images/project/findintroduce/10/section_slide_1.png" class="img-w100" alt="">
                        </li>
                        <li class="findIntroduce-slide__item swiper-slide">
                            <img class="img-w100" src="../../images/project/findintroduce/10/section_slide_2.png" class="img-w100" alt="">
                        </li>
                        <li class="findIntroduce-slide__item swiper-slide">
                            <img class="img-w100" src="../../images/project/findintroduce/10/section_slide_3.png" class="img-w100" alt="">
                        </li>
                    </ul>
                    <div class="swiper-pagination findIntroduce-slide__dot"></div>
                </div>
            </div>
        </section>
        <section class="findIntroduce__section">
            <div class="findIntroduce__wrap">
                <header class="findIntroduce__header2">
                    <img class="motion-up" src="../../images/project/findintroduce/7/section_now.png" alt="">
                </header>
                <article class="findIntroduce-store">
                    <div class="findIntroduce-store__box">
                        <div class="findIntroduce-store__wrap motion-up">
                            <p class="findIntroduce-store__name">AK플라자 광명점</p>
                            <p class="findIntroduce-store__address">경기도 광명시 양지로 17 AK플라자 1층</p>
                            <ul class="findIntroduce-store__list">
                                <li class="findIntroduce-store__item type-address">
                                    <input type="text" class="findIntroduce-store__input" id="ShareUrl">
                                    <a href="" target="_blank" class="findIntroduce-store__link js-url-copy">주소 복사</a>
                                </li>
                                <li class="findIntroduce-store__item type-map">
                                    <a href="https://map.naver.com/v5/entry/place/12133966?c=14366012.2201715,4185298.7347977,15,0,0,0,dh" target="_blank" class="findIntroduce-store__link">길 찾기</a>
                                </li>
                                <li class="findIntroduce-store__item type-tel">
                                    <a href="tel:02-897-5955" target="_blank" class="findIntroduce-store__link">02-897-5955</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="findIntroduce-store__slide">
                        <div class="findIntroduce-slide swiper-conainer js-findIntroduce2-slide">
                            <ul class="findIntroduce-slide__list swiper-wrapper">
                                <li class="findIntroduce-slide__item swiper-slide">
                                    <img class="img-w100" src="../../images/project/findintroduce/10/section_store_1.png" class="img-w100" alt="">
                                </li>
                                <li class="findIntroduce-slide__item swiper-slide">
                                    <img class="img-w100" src="../../images/project/findintroduce/10/section_store_2.png" class="img-w100" alt="">
                                </li>
                                <li class="findIntroduce-slide__item swiper-slide">
                                    <img class="img-w100" src="../../images/project/findintroduce/10/section_store_3.png" class="img-w100" alt="">
                                </li>
                            </ul>
                            <div class="swiper-pagination findIntroduce-slide__dot2"></div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="findIntroduce__bottom">
            <a href="" class="findIntroduce__btn">
                <img src="../../images/project/findintroduce/1/btn.png" alt="">
            </a>
        </section>
    </div>
    <!--//10 김은학-->
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>