<!-- cart-fix -->
<div class="cart-fix">
    <a href="#;" class="cart-fix__add"><span class="cart-fix__add--count">2</span></a>
    <div class="cart-fix__top js-scrollTop"><span class="sr-only">맨위로</span></div>
</div>
<!-- .cart-fix -->