<!-- //section끝 -->
<!--footer시작-->
<footer class="footer">
    <div class="footer__layout">
        <div class="footer__wrap">
            <!--왼쪽 영역-->
            <div class="footer__left">
                <img src="../../images/common/icon_footer_logo.png" class="footer__logo" alt="루이까또즈">
                <p class="footer__info">
                    (주)크리에이션엘  ㅣ  대표이사 전상우 신경민 ㅣ  서울시 동대문구 하정로 26<br>
                    국내사업자등록번호 211-81063749  사업자 정보 확인  ㅣ 통신판매업신고 제 2011-서울동대문구-0019호<br>
                    고객센터 080-599-1414   A/S문의 080-725-7272<br>
                    월-금 9:30 -18:00 (공휴일 휴무)  점심 12:00-13:00<br>
                    소비자피해 보상법 고객님은 안전거래를 위해 현금 결제시 저희사이트에서 가입한 구매안전 서비스를 이용하실 수 있습니다.
                    <span class="footer__info--underline">
                        <a href="#;" class="footer__info--link">서울보증보험 가입 확인</a>
                    </span>
                </p>
            </div>
            <!--//왼쪽 영역-->

            <!--오른쪽 영역-->
            <div class="footer__right">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#termsPop" class="footer__link js-popup-open">이용약관</a>
                    </li>
                    <li class="footer__item">
                        <a href="#termsPop2" class="footer__link js-popup-open">개인정보처리방침</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">고객센터</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">STORES</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">MEMBERSHIP</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">ABOUT</a>
                    </li>
                </ul>
            </div>
            <!--오른쪽 영역-->
        </div>
        <!--sns채널-->
        <div class="footer-sns">
            <ul class="footer-sns__list">
                <li class="footer-sns__item type-facebook">
                    <a href="" class="footer-sns__link">facebook</a>
                </li>
                <li class="footer-sns__item type-post">
                    <a href="" class="footer-sns__link">post</a>
                </li>
                <li class="footer-sns__item type-instagram">
                    <a href="" class="footer-sns__link">instagram</a>
                </li>
                <li class="footer-sns__item type-youtube">
                    <a href="" class="footer-sns__link">youtube</a>
                </li>
                <li class="footer-sns__item type-talk">
                    <a href="" class="footer-sns__link">talk</a>
                </li>
            </ul>
        </div>
        <!--//sns채널-->

        <div class="footer__copy">
            COPYRIGHT LOUIS QUATORZE. ALL RIGHTS RESERVED.
        </div>
    </div>
</footer>