
<script src="../../js/libs/jquery-3.6.0.min.js"></script>
<% if (page == "detail") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
    <script src="../../js/libs/jquery.panzoom.js"></script>
    <script type="text/javascript" src="../../EVGvzMuD34R4pVZWRaher4/orbitvu12/orbitvu.js"></script>
    <script type="text/javascript">
        inject_orbitvu(
            'ov-mgGdFXoxiS6PPRrWC8k5gX',
            '../../EVGvzMuD34R4pVZWRaher4/orbitvu12/',
            '',
            {
                ovus_folder: "../../EVGvzMuD34R4pVZWRaher4/1030/",
                width: "auto",
                content2: 'yes',
                height: "auto",
                partial_load: "yes"
            });
    </script>
<% } %>
<% if (page == "project") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
    <script src="../../js/libs/ScrollMagic.min.js"></script>
    <script src="../../js/libs/TweenMax.min.js"></script>
    <script src="../../js/libs/animation.gsap.js"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script src="../../js/findYoutube.js"></script>
    <script src="../../js/menuFixed.js"></script>
    <script src="../../js/find.js"></script>
<% } %>
<% if (page == "collection") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
<% if (page == "promotion") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
    <script src="../../js/libs/ScrollMagic.min.js"></script>
    <script src="../../js/libs/TweenMax.min.js"></script>
    <script src="../../js/libs/animation.gsap.js"></script>
    <script src="../../js/promotion.js"></script>
<% } %>

<script src="../../js/common.js"></script>

<% if (popup == "true") { %>
    <script src="../../js/popup.js"></script>
<% } %>

<% if (page == "center") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
<% if (page == "main") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
<% if (page == "mypage") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
<% if (page == "cart") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
<% if (page == "live") { %>
    <script src="../../js/libs/swiper-4.5.0.min.js"></script>
<% } %>
</body>
</html>
<!--footerë-->
