<%
var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="루이가또즈">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <title><%= data.site.name.kor %></title>
    <!-- icon/favicon -->
    <link rel="shortcut icon" href="../../images/logo/favicon.ico">
    <link rel="icon" type="image/png"  href="../../images/logo/favicon_32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../images/logo/favicon_192.png" sizes="192x192">

    <!-- 공통 css -->
    <link rel="stylesheet" href="../../css/common.css">
    <% if (page == "main") { %>
        <link rel="stylesheet" href="../../css/pages/main.css">
    <%}else if (page == "product") { %>
        <link rel="stylesheet" href="../../css/pages/product.css">
    <%}else if (page == "") { %>
    <%}else if (page == "") { %>
    <%}else if (page == "") { %>
    <%}else if (page == "") { %>
    <% } %>
</head>

<!-- <body class="page-main"> -->
<% classAdd = page == 'main' ? 'page-main' : '' %>
<body class="<%= classAdd %>">

<!-- header:: main menu -->
<% include ../_include/_contentHeader %>
<!-- .header:: main menu -->


<!-- [s]contents -->


    
