<header>
    <div class="header">
        <!-- 내용::임시 -->
        <div>
            <h1>logo</h1>
            <ul>
                <li><a href="#">top button1</a></li>
                <li><a href="#">top button2</a></li>
                <li><a href="#">top button3</a></li>
            </ul>
        </div>

        <nav>
            <ul>
                <li><a href="#">main menu 1</a></li>
                <li><a href="#">main menu 2</a></li>
                <li><a href="#">main menu 3</a></li>
                <li><a href="#">main menu 4</a></li>
                <li><a href="#">main menu 5</a></li>
                <li><a href="#">main menu 6</a></li>
                <li><a href="#">main menu 7</a></li>
            </ul>
        </nav>
    </div>
</header>
