<%
var data = jsonData
%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="루이까또즈">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <title><%= data.site.name.kor %></title>
    <!-- icon/favicon -->
    <link rel="shortcut icon" href="../../images/logo/favicon.ico">
    <link rel="icon" type="image/png"  href="../../images/logo/favicon_32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../images/logo/favicon_192.png" sizes="192x192">

    <!-- 공통 css -->
    <link rel="stylesheet" href="../../css/common.css">

    <% if (page == "main") { %>
        <link rel="stylesheet" href="../../css/pages/main.css">
        <link rel="stylesheet" href="../../css/pages/product.css">
    <% } %>
    <% if (page == "join") { %>
        <link rel="stylesheet" href="../../css/pages/join.css">
    <% } %>
    <% if (page == "product") { %>
        <link rel="stylesheet" href="../../css/pages/product.css">
    <% } %>
    <% if (page == "detail") { %>
        <link rel="stylesheet" href="../../css/pages/detail.css">
    <% } %>
    <% if (page == "cart") { %>
        <link rel="stylesheet" href="../../css/pages/cart.css">
    <% } %>
    <% if (page == "collection") { %>
        <link rel="stylesheet" href="../../css/pages/collection.css">
    <% } %>
    <% if (page == "payment") { %>
        <link rel="stylesheet" href="../../css/pages/payment.css">
    <% } %>

    <% if (page == "promotion") { %>
        <link rel="stylesheet" href="../../css/pages/promotion.css">
    <% } %>
    <% if (page == "platform") { %>
        <link rel="stylesheet" href="../../css/pages/product.css">
        <link rel="stylesheet" href="../../css/pages/platform.css">
    <% } %>
    <% if (page == "project") { %>
        <link rel="stylesheet" href="../../css/pages/project.css">
        <link rel="stylesheet" href="../../css/pages/project_collaboration.css">
    <% } %>
    <% if (page == "center") { %>
        <link rel="stylesheet" href="../../css/pages/center.css">
    <% } %>
    <% if (page == "mypage") { %>
        <link rel="stylesheet" href="../../css/pages/mypage.css">
    <% } %>
    <% if (page == "gift") { %>
        <link rel="stylesheet" href="../../css/pages/gift.css">
        <link rel="stylesheet" href="../../css/pages/product.css">
    <% } %>
    <% if (page == "") { %>
    <% } %>
    <% if (page == "") { %>
    <% } %>
    <% if (page == "") { %>
    <% } %>

</head>

<% classAdd = page == 'main' ? 'page-main' : '' %>
<body class="<%= classAdd %>">

<!-- header -->
<% include ../_include/_contentHeader %>
<!-- //header -->

<% include ../_include/_loading %>

<!-- contents start -->