<!-- lnb -->
<div class="lnb">
    <!-- <div class="lnb__tit">
        <a href="" class="lnb__back js-lnb-back">back</a>
        <a href="#;" class="lnb__btn js-lnb-btn"><span class="lnb__arrow"><%= lnbTitle %></span></a>
    </div> -->
    <!-- lnbMenu -->
    <div class="lnb__dim js-lnb-close">dim</div>
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item is-active">
                <a href="" class="lnb__link">
                    <span class="lnb__line">ALL</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">BAG</span>
                </a>
            </li>
            <li class="lnb__item ">
                <a href="" class="lnb__link">
                    <span class="lnb__line">WALLET</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->