<div class="ranking-wrap">
    <!-- cont -->
    <div class="ranking-cont">
        <!-- item -->
        <div class="ranking-cont__item">
            <div class="ranking-info">
                <div class="ranking-info__title">
                    <div class="ranking-info__icon"><img src="../../images/membership/membership_4.png" alt="" /></div>
                    <div class="ranking-info__name ranking-info__name--club">CLUB</div>
                    <div class="ranking-info__condition">본인인증회원</div>
                </div>
                <div class="ranking-info__coupon">
                    <ul class="ranking-info__list">
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--title">COUPON</span>
                                            <span class="ranking-info__price--text">5<span class="ranking-info__price--won">%</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">매월 더블 할인 5% 쿠폰 제공<br>3만원 이상 구매시</dd>
                            </dl>
                        </li>
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--text">10,000<span class="ranking-info__price--won">원</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">생일 기념 적립금 1만원 제공</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .item -->
         <!-- item -->
         <div class="ranking-cont__item">
            <div class="ranking-info">
                <div class="ranking-info__title">
                    <div class="ranking-info__icon"><img src="../../images/membership/membership_3.png" alt="" /></div>
                    <div class="ranking-info__name ranking-info__name--silver">SILVER</div>
                    <div class="ranking-info__condition">구매금액 50만원 이상</div>
                </div>
                <div class="ranking-info__coupon">
                    <ul class="ranking-info__list">
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--title">COUPON</span>
                                            <span class="ranking-info__price--text">5<span class="ranking-info__price--won">%</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">매월 더블 할인 5% 쿠폰 제공<br>3만원 이상 구매시</dd>
                            </dl>
                        </li>
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--text">20,000<span class="ranking-info__price--won">원</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">생일 기념 적립금 2만원 제공</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .item -->
        <!-- item -->
        <div class="ranking-cont__item">
            <div class="ranking-info">
                <div class="ranking-info__title">
                    <div class="ranking-info__icon"><img src="../../images/membership/membership_2.png" alt="" /></div>
                    <div class="ranking-info__name ranking-info__name--gold">GOLD</div>
                    <div class="ranking-info__condition">구매금액 150만원 이상</div>
                </div>
                <div class="ranking-info__coupon">
                    <ul class="ranking-info__list">
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--title">COUPON</span>
                                            <span class="ranking-info__price--text">5<span class="ranking-info__price--won">%</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">매월 더블 할인 5% 쿠폰 제공<br>3만원 이상 구매시</dd>
                            </dl>
                        </li>
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--text">30,000<span class="ranking-info__price--won">원</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">생일 기념 적립금 3만원 제공</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .item -->
        <!-- item -->
        <div class="ranking-cont__item">
            <div class="ranking-info">
                <div class="ranking-info__title">
                    <div class="ranking-info__icon"><img src="../../images/membership/membership_1.png" alt="" /></div>
                    <div class="ranking-info__name">PLATINUM</div>
                    <div class="ranking-info__condition">구매금액 300만원 이상</div>
                </div>
                <div class="ranking-info__coupon">
                    <ul class="ranking-info__list">
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--title">COUPON</span>
                                            <span class="ranking-info__price--text">5<span class="ranking-info__price--won">%</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">매월 더블 할인 5% 쿠폰 제공<br>3만원 이상 구매시</dd>
                            </dl>
                        </li>
                        <li class="ranking-info__item">
                            <dl class="ranking-info__inner">
                                <dt class="ranking-info__price">
                                    <div class="ranking-info__price--box">
                                        <div class="ranking-info__price--inner">
                                            <span class="ranking-info__price--text">50,000<span class="ranking-info__price--won">원</span></span>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="ranking-info__text">생일 기념 적립금 5만원 제공</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .item -->
    </div>

    <div class="ranking-notice">
        <div class="ranking-notice__title">회원등급안내</div>
        <ul class="center-bullet color-black">
            <li class="center-bullet__item">회원등급은 매월 1일 기준으로 적용됩니다.</li>
            <li class="center-bullet__item">PLATINUM 회원등급은 12개월 유지됩니다.</li>
            <li class="center-bullet__item">구매금액은 최종 결제한 금액으로 모든 할인금액은 제외된 금액입니다.</li>
        </ul>
    </div>

    <div class="ranking-notice">
        <div class="ranking-notice__title">할인쿠폰 및 적립금 유의사항</div>
        <ul class="center-bullet color-black">
            <li class="center-bullet__item">등급헤택 쿠폰은 매월 30일까지 사용 가능합니다.</li>
            <li class="center-bullet__item">등급쿠폰은 상품할인쿠폰과 중복사용이 가능합니다.</li>
            <li class="center-bullet__item">고객변심에 의한 취소, 반품의 경우 쿠폰은 재 발행되지 않습니다.</li>
            <li class="center-bullet__item">생일 기념 적립금은 해당 월 5일에 자동 적립됩니다. (생일 전월 말까지 가입고객 해당. 생일 당월 가입시 차년도부터 적립금 지급)</li>
            <li class="center-bullet__item">생일 기념 적립금은 월을 기준으로 1년(12개월)동안 유효합니다.</li>
        </ul>
    </div>
    <!-- .cont -->
</div>