<div class="order-mypage">
    <!-- div tabel -->
    <div class="order-mypage__table">
        <div class="order-mypage__thead">
            <div class="order-mypage__th"></div>
            <div class="order-mypage__th">상품/옵션 정보</div>
            <div class="order-mypage__th">수량</div>
            <div class="order-mypage__th">판매가</div>
            <div class="order-mypage__th">총 결제금액</div>
            <div class="order-mypage__th">주문상태</div>
        </div>

        <div class="order-mypage__tbody">
            <!-- item -->
            <div class="order-mypage__item">
                <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
                <div class="order-mypage__info">
                    <div class="order-mypage__cont">
                        <div class="order-mypage__option">
                            <ul class="order-mypage__option--list">
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text">1</span>
                                </li>
                                <li class="order-mypage__option--item order-mypage__option--price">
                                    <span class="order-mypage__option--sale">328,000원</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--current">289,290원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-Meta__option">FREESIZE </div>
                    <div class="order-mypage__meta type-text">
                        <ul class="order-mypage__meta--list">
                            <li class="order-mypage__meta--item">선물 포장 : <span>미신청</span></li>
                            <li class="order-mypage__meta--item"></li>
                        </ul>
                    </div>
                    <div class="order-mypage__message"></div>
                </div>
                <div class="order-mypage__state">
                    <p class="detail-Meta__state--text">배송중</p>
                    <p class="detail-Meta__state--num">123456789000<br>롯데택배</p>
                    <div class="detail-Meta__btn">
                        <a href="" class="btn-v3 btn-v3--small type-white">배송조회</a>
                    </div>
                    <div class="detail-Meta__btn">
                        <a href="" class="btn-v3 btn-v3--small type-white">구매확정</a>
                    </div>
                </div>
            </div>
            <!-- //item -->

            <!-- item -->
            <div class="order-mypage__item">
                <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
                <div class="order-mypage__info">
                    <div class="order-mypage__cont">
                        <div class="order-mypage__option">
                            <ul class="order-mypage__option--list">
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text">1</span>
                                </li>
                                <li class="order-mypage__option--item order-mypage__option--price">
                                    <span class="order-mypage__option--sale">328,000원</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--current">289,290원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-Meta__option">FREESIZE </div>
                    <div class="order-mypage__meta type-text">
                        <ul class="order-mypage__meta--list">
                            <li class="order-mypage__meta--item">선물 포장 : <span>미신청</span></li>
                            <li class="order-mypage__meta--item"></li>
                        </ul>
                    </div>
                    <div class="order-mypage__message">“ 스무번째 생일축하해! ”</div>
                </div>
                <div class="order-mypage__state">
                    <p class="detail-Meta__state--text">배송중</p>
                    <p class="detail-Meta__state--num">123456789000<br>롯데택배</p>
                    <div class="detail-Meta__btn">
                        <a href="" class="btn-v3 btn-v3--small type-white">배송조회</a>
                    </div>
                    <div class="detail-Meta__btn">
                        <a href="" class="btn-v3 btn-v3--small type-white">구매확정</a>
                    </div>
                </div>
            </div>
            <!-- //item -->
           

            <!-- item -->
            <div class="order-mypage__item">
                <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/detail-img1.jpg" alt=""></a>
                <div class="order-mypage__info">
                    <div class="order-mypage__cont">
                        <div class="order-mypage__option">
                            <ul class="order-mypage__option--list">
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text">1</span>
                                </li>
                                <li class="order-mypage__option--item order-mypage__option--price">
                                    <span class="order-mypage__option--sale">328,000원</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--current">289,290원</span>
                                </li>                       
                            </ul>
                        </div>
                        <div class="detail-Meta__option">FREESIZE </div>
                        <div class="order-mypage__meta">
                            <ul class="order-mypage__meta--list">
                                <li class="order-mypage__meta--item">
                                    <div class="form__checkbox form__checkbox--big-red">
                                        <input class="form__checkbox--input sr-only" type="checkbox" name="gift1" id="giftLabel1">
                                        <label class="form__checkbox--text" for="giftLabel1">선물 포장</label>
                                    </div>
                                    <a href="#giftPop" class="order-mypage__meta--btn js-popup-open"><span class="sr-only">선물포장 설명</span></a>
                                </li>
                                <li class="order-mypage__meta--item">
                                    <div class="form__checkbox form__checkbox--big-red">
                                        <input class="form__checkbox--input sr-only" type="checkbox" name="message1" id="messageLabel1">
                                        <label class="form__checkbox--text js-open-message" for="messageLabel1">메세지 카드</label>
                                    </div>
                                    <a href="#messagePop" class="order-mypage__meta--btn js-popup-open"><span class="sr-only">선물포장 설명</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="order-mypage__message">
                            <textarea class="form__input--textarea js-max-keyup" title="내용" placeholder="선물 메시지를 50자(공백 포함) 이내로 작성해 주세요."></textarea>
                            <button type="submit" class="form__input--btn btn-v3 btn-v3--small type-secondary">저장</button>
                        </div>
                    </div>
                </div>
                <div class="order-mypage__state">
                    <span class="detail-Meta__state--text text-black">결제완료</span>
                </div>
            </div>
            <!-- //item -->


            <!-- item 취소완료 -->
            <div class="order-mypage__item">
                <a href="#;" class="order-mypage__thumb"><img class="order-mypage__img" src="../../images/dummy/product_img4.png" alt=""></a>
                <div class="order-mypage__info">
                    <div class="order-mypage__cont">
                        <div class="order-mypage__option">
                            <ul class="order-mypage__option--list">
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text order-mypage__title">루이까또즈 MINI CAVIAR (미니캐비어) 사첼백 HO1PM21IV</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--text">1</span>
                                </li>
                                <li class="order-mypage__option--item order-mypage__option--price">
                                    <span class="order-mypage__option--sale">328,000원</span>
                                </li>
                                <li class="order-mypage__option--item">
                                    <span class="order-mypage__option--current">289,290원</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="detail-Meta__option">FREESIZE </div>
                    <div class="order-mypage__meta type-text">
                        <ul class="order-mypage__meta--list">
                            <li class="order-mypage__meta--item">선물 포장 : <span>미신청</span></li>
                            <li class="order-mypage__meta--item"></li>
                        </ul>
                    </div>
                    <div class="order-mypage__message"></div>
                </div>
                <div class="order-mypage__state">
                    <span class="detail-Meta__state--text">취소완료</span>
                </div>
            </div>
            <!-- //item 취소완료 -->

        </div>
    </div> 
    <!-- //div tabel -->
</div>