<div class="order-mypage">
    <table class="list-table" summary="취소 / 반품 ">
        <caption>취소 / 반품 </caption>
        <colgroup>
            <col><col width="45%"><col width="3%"><col><col>
        </colgroup>
        <thead>
            <tr>
                <th>주문번호</th>
                <th>상품/옵션 정보</th>
                <th>수량</th>
                <th>총 결제금액</th>
                <th>주문상태</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p class="detail-Meta__orderId">P20210812142407</p>
                    <p class="detail-Meta__date">2021.10.27</p>
                    <div class="detail-Meta__btn">
                        <button class="btn-v3 btn-v3--small type-white">상세보기</button>
                    </div>
                </td>
                <td>
                    <div class="detail-Meta">
                        <a href="#;" class="detail-Meta__thumb"><img class="cart-product__img" src="../../images/dummy/detail-img1.jpg" alt="" /></a>
                        <h2 class="detail-Meta__title">oalc SINGLE BREASTED HARRIS TWEED JACKET 싱글브레스트 해리스 트위드 재킷 (Beige)</h2>
                        <div class="detail-Meta__option">FREESIZE </div>
                    </div>
                </td>
                <td><span>1</span></td>
                <td><span class="detail-Meta__price--current">289,290원</span></td>
                <td>
                    <p class="detail-Meta__state--text">주문취소</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="detail-Meta__orderId">P20210812142407</p>
                    <p class="detail-Meta__date">2021.10.27</p>
                    <div class="detail-Meta__btn">
                        <button class="btn-v3 btn-v3--small type-white">상세보기</button>
                    </div>
                </td>
                <td>
                    <div class="detail-Meta">
                        <a href="#;" class="detail-Meta__thumb"><img class="cart-product__img" src="../../images/dummy/collection-img.png" alt="" /></a>
                        <h2 class="detail-Meta__title">oalc SINGLE BREASTED HARRIS TWEED JACKET 싱글브레스트 해리스 트위드 재킷 (Beige)</h2>
                        <div class="detail-Meta__option">FREESIZE </div>
                    </div>
                </td>
                <td><span>1</span></td>
                <td><span class="detail-Meta__price--current">289,290원</span></td>
                <td>
                    <p class="detail-Meta__state--text">반품신청</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="detail-Meta__orderId">P20210812142407</p>
                    <p class="detail-Meta__date">2021.10.27</p>
                    <div class="detail-Meta__btn">
                        <button class="btn-v3 btn-v3--small type-white">상세보기</button>
                    </div>
                </td>
                <td>
                    <div class="detail-Meta">
                        <a href="#;" class="detail-Meta__thumb"><img class="cart-product__img" src="../../images/dummy/collection-img.png" alt="" /></a>
                        <h2 class="detail-Meta__title">oalc SINGLE BREASTED HARRIS TWEED JACKET 싱글브레스트 해리스 트위드 재킷 (Beige)</h2>
                        <div class="detail-Meta__option">FREESIZE </div>
                    </div>
                </td>
                <td><span>1</span></td>
                <td><span class="detail-Meta__price--current">289,290원</span></td>
                <td>
                    <p class="detail-Meta__state--text">반품완료</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


