<!-- 플랫폼 탭 -->
<div class="product-tab">
    <ul class="product-tab__fix">
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">Exhibition</a>
        </li>
        <li class="product-tab__item is-current">
            <a href="#" class="product-tab__link js-basic-tab-link">ALL Works </a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">L Edition</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">Art Object</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">Textile & Fashion</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">Printed Matter</a>
        </li>
    </ul>
</div>
<!-- //탭 -->