<div class="product-review__info">
    <div id="crema-product-reviews" class="crema-product-reviews" data-product-code="LLFO1DL71FXBPI0080"></div>

    <!--<div class="product-review__header">
        <dl class="review-total">
            <dt class="review-total__title">총 평점</dt>
            <dd class="review-total__count">
                <div class="review-total__text">4.0</div>
                <div class="review-total__star">
                    <span class="review-total__star--item is-active"><span class="sr-only">1</span></span>
                    <span class="review-total__star--item is-active"><span class="sr-only">2</span></span>
                    <span class="review-total__star--item is-active"><span class="sr-only">3</span></span>
                    <span class="review-total__star--item is-active"><span class="sr-only">4</span></span>
                    <span class="review-total__star--item"><span class="sr-only">5</span></span>
                </div>
            </dd>
        </dl>
    </div>
    <div class="product-review__cont">-->
        <!-- 포토 동영상 모아보기 -->
        <!--<div class="review-photo__total">
            <div class="review-photo__title">포토/동영상 모아보기(4)</div>
            <div class="review-photo__slide">
                <ul class="review-photo__list">
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                    <li class="review-photo__item">
                        <a href="../../images/dummy/review_photo.png" target="_blank" class="review-photo__link"><img class="review-photo__img" src="../../images/dummy/review_photo.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </div>-->
        <!-- .포토 동영상 모아보기 -->
        <!-- 리뷰리스트 -->
        <!--<div class="review-comment__list">-->
            <!-- item -->
             <!--<div class="review-list">
                <div class="review-list__grade">
                    <div class="review-list__grade--text">4.0</div>
                    <div class="review-list__grade--star">
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">1</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">2</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">3</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">4</span></span>
                        <span class="review-list__grade--star-item"><span class="sr-only">5</span></span>
                    </div>
                </div>
                <div class="review-list__cont">
                    <p class="review-list__text">너무 예뻐요! 확실히 소가죽이라 부드럽고 제품샷보다 내부 색상이 채도가 낮아서 더 취향이더라고요. 수납공간도 많고 동전 들어가는 부분이 넓어서 좋아요.</p>
                    <div class="review-list__more">
                        <a href="#;" class="review-list__more--btn js-more-view">더보기</a>
                    </div>
                    <div class="review-list__photo">
                        <ul class="review-list__photo--list">
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                            <li class="review-list__photo--item">
                                <a href="../../images/dummy/review_photo.png" target="_blank" class="review-list__photo--link"><img class="review-list__photo--img" src="../../images/dummy/review_photo.png" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="review-list__meta">
                        <span class="review-list__write">kbl***</span>
                        <span class="review-list__date">2021.06.25</span>
                    </div>
                    <div class="review-answer">
                        <div class="review-answer__header">
                            <span class="review-answer__header-manager">운영자</span>
                            <span class="review-answer__header-date">2021.06.25</span>
                        </div>
                        <div class="review-answer__cont">
                            <p>안녕하세요. 구매해 주셔서 감사합니다. 항상 좋은 품질과 빠른 배송으로 보답하겠습니다.</p>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- .item -->
            <!-- item -->
            <!--<div class="review-list">
                <div class="review-list__grade">
                    <div class="review-list__grade--text">4.0</div>
                    <div class="review-list__grade--star">
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">1</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">2</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">3</span></span>
                        <span class="review-list__grade--star-item is-active"><span class="sr-only">4</span></span>
                        <span class="review-list__grade--star-item"><span class="sr-only">5</span></span>
                    </div>
                </div>
                <div class="review-list__cont">
                    <p class="review-list__text">너무 예뻐요! 확실히 소가죽이라 부드럽고 제품샷보다 내부 색상이 채도가 낮아서 더 취향이더라고요. 수납공간도 많고 동전 들어가는 부분이 넓어서 좋아요.너무 예뻐요! 확실히 소가죽이라 부드럽고 제품샷보다 내부 색상이 채도가 낮아서 더 취향이더라고요. 수납공간도 많고 동전 들어가는 부분이 넓어서 좋아요.</p>
                    <div class="review-list__more">
                        <a href="#;" class="review-list__more--btn js-more-view">더보기</a>
                    </div>
                    <div class="review-list__meta">
                        <span class="review-list__write">kbl***</span>
                        <span class="review-list__date">2021.06.25</span>
                    </div>
                </div>
            </div>-->
            <!-- .item -->

            <!-- 데이터없음 -->
            <!-- <div class="notData-wrap">
                <div class="notData-wrap__title">
                    <span class="notData-wrap__title--text">등록된 리뷰가 없습니다.</span>
                </div>
            </div> -->
            <!-- //데이터없음 --> 
        <!--</div>-->
        <!-- //리뷰리스트 -->
        <!--<% include ../_include/_paging %>-->
    <!--</div>-->
</div>

