<!-- fix button -->
<div class="fix-button">
    <div class="fix-button__item">
        <a href="javascript:void(0);" class="fix-button__link fix-button__link--like"><span class="fix-button__text sr-only">좋아요</span></a>
        <!-- 좋아요 시 is-active -->
    </div>
    <div class="fix-button__item">
        <a href="javascript:void(0);" class="fix-button__link fix-button__link--cart"><span class="fix-button__text">Add To Cart</span></a>
    </div>
    <!-- N pay -->
    <div class="fix-button__item">
        <a href="javascript:void(0);" class="fix-button__link fix-button__link--pay"><span class="fix-button__text sr-only">Pay</span></a>
    </div>
    <div class="fix-button__item">
        <a href="javascript:void(0);" class="fix-button__link fix-button__link--buy"><span class="fix-button__text">Buy Now</span></a>
    </div>
</div>
<!-- .fix button -->