<!-- fix button -->
<div class="fix-button sold-out">
    <div class="fix-button__item">
        <a href="javascript:void(0);" class="fix-button__link fix-button__link--like"><span class="fix-button__text sr-only">좋아요</span></a>
        <!-- 좋아요 시 is-active -->
    </div>
    <div class="fix-button__item">
        <span class="fix-button__link"><span class="fix-button__text">품절</span></span>
    </div>
    <div class="fix-button__item">
        <a href="javascript:void(0);" onclick="stoNtsAsk()" class="fix-button__link"><span class="fix-button__text">입고알림신청</span></a>
    </div>
</div>
<!-- .fix button -->