<div class="product-notice__info">
    <h4 class="product-notice__title">전자상거래 상품정보 제공고시</h4>
    <ul class="product-notice__list">
        <li class="product-notice__item">
            <span class="product-notice__item--title">종류 :</span>
            <span class="product-notice__item--cont">가방</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">종류 :</span>
            <span class="product-notice__item--cont">여성크로스백</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">소재 :</span>
            <span class="product-notice__item--cont">소가죽 (자세한 사항은 상세페이지 참조)</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">색상 :</span>
            <span class="product-notice__item--cont">IVORY</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">종류 :</span>
            <span class="product-notice__item--cont">가방</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">크기 :</span>
            <span class="product-notice__item--cont">24.7(w) X 16(h) X 8(d) (탈부착 스트랩 : 57.5- 63.5 , 탑핸들 : 8.5) / 단위 : cm</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title"></span>
            <span class="product-notice__item--cont">제조자, 수입품의 경우 수입자를 함께 표기 : (주)크리에이션엘</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--title">제조국 :</span>
            <span class="product-notice__item--cont">한국</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--cont">루이까또즈 상품은 가죽 가공을 최소화 처리하여 제작되었 습니다. 사용 및 보관 시 스크래치 및 마찰에 주의해 주세요. 상품은 절대 세탁하지 마시고 꼭 전문 업체에 의뢰해 주세요. 각 가죽의 가공 처리에 따른 주의사항이 모두 다르므로 자세 한 사항은 상세페이지를 참조해 주세요.</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--cont">품질보증 A/S 기간은 정품 보증카드에 표기된 날로부터 1년 무상 지원되며 유상 A/S는 제외됩니다. 환불은 구매 일로부터 7일이내에 사용하지 않은 상품에 한하여 가능합니다.<br />(해당 쇼핑몰에 반품 접수 하신 후 고객센터와 통화하셔서 반품 안내 받아주세요.) 본 제품에 이상이 있어 피해보상을 원하실 때에는 반드시 품질보증서와 영수증을 가지고 구입 매장 또는 소비자 상담실로 연락해 주십시오. 자세한 사항은
상세페이지를 참조해 주세요.</span>
        </li>
        <li class="product-notice__item">
            <span class="product-notice__item--cont">A/S책임자와 전화번호 : 루이까또즈 A/S고객센터<br />(080-725-7272)</span>
        </li>
    </ul>
</div>