<!-- hover -->
<div class="product-icon ">
    <ul class="product-icon__hover ">
        <li class="product-icon__item type-basket">
            <a href="" class="product-icon__link">
                <img src="../../images/common/basket.svg" class="product-icon__link--img" alt="">
            </a>
        </li>
        <li class="product-icon__item type-like">
            <a href="" class="product-icon__link">
                <span class="sr-only">좋아요</span>
            </a>
        </li>
    </ul>
</div>
<!-- //hover -->