<div class="product-detail__info">
    <p class="product-detail__info--text">미니캐비어 사첼백. 스무살의 싱그러움을 닯은 미니캐비어의 사첼백 스타일의 가방. 상단에 금속 장식이 있는 고급스러운 무드의 여성용 사첼백. 체인 스트랩으로 실용적이고 여성스러운 가방.</p>
    <img src="../../images/dummy/product-detail.jpg" alt="" />
</div>