<div class="order-mypage">
    <table class="list-table" summary="적립금">
        <caption>적립금</caption>
        <colgroup>
            <col><col><col><col><col>
        </colgroup>
        <thead>
            <tr>
                <th>적립/사용일시</th>
                <th>지급 적립금</th>
                <th>시용 적립금</th>
                <th>주문번호</th>
                <th>사유</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="mypage-reserve__date">2021.10.19</span></td>
                <td></td>
                <td><span class="mypage-reserve__point">-2,000</span></td>
                <td><span class="mypage-reserve__orderId">P20210812142407</span></td>
                <td><span class="mypage-reserve__type">포토상품리뷰</span></td>
            </tr>
            <tr>
                <td><span class="mypage-reserve__date">2021.10.19</span></td>
                <td><span class="mypage-reserve__point num-plus">2,000</span></td>
                <td></td>
                <td><span class="mypage-reserve__orderId">P20210812142407</span></td>
                <td><span class="mypage-reserve__type">포토상품리뷰</span></td>
            </tr>
            <tr>
                <td><span class="mypage-reserve__date">2021.10.19</span></td>
                <td><span class="mypage-reserve__point num-plus">7,000</span></td>
                <td></td>
                <td><span class="mypage-reserve__orderId">P20210812142407</span></td>
                <td><span class="mypage-reserve__type">회원가입</span></td>
            </tr>
        </tbody>
    </table>
</div>


