<!-- FIND YOUR LIGHT - SPECTRUM 탭 -->
<div class="product-tab">
    <ul class="product-tab__fix">
        <li class="product-tab__item is-current">
            <a href="#" class="product-tab__link js-basic-tab-link">About</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">연슬 </a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">김정섭</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">스튜디오 차차</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">김현희</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">이학민</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">이시산</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">이채영</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">신다인</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">제로랩</a>
        </li>
        <li class="product-tab__item">
            <a href="#" class="product-tab__link js-basic-tab-link">김은학</a>
        </li>
    </ul>
</div>
<!-- //탭 -->