<!-- special -->
<div class="stores-special">
    <ul class="stores-special__list">
        <li class="stores-special__item">
            <div class="special-item">
                <a href="#;" class="special-item__link">
                    <div class="special-item__thumb"><img class="special-item__img" src="../../images/stores/special_thumb1.png" alt="" /></div>
                    <div class="special-item__title">PARIS FLAGSHIP STORE</div>
                </a>
            </div>
        </li>
        <li class="stores-special__item">
            <div class="special-item">
                <a href="#;" class="special-item__link">
                    <div class="special-item__thumb"><img class="special-item__img" src="../../images/stores/special_thumb2.png" alt="" /></div>
                    <div class="special-item__title">PLATFORM-L</div>
                </a>
            </div>
        </li>
    </ul>
</div>
<!-- .special -->