<!-- global -->
<div class="stores-global">
    <div class="stores-global__section">
        <div class="stores-global__title">ON-LINE</div>
        <div class="stores-global__list">
            <ul class="stores-global__inner">
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://louisquatorze.tmall.hk/" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_Tmall.png" alt="" /></div>
                            <div class="global-item__text">Tmall Global</div>
                        </a>
                    </div>
                </li>
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://www.zalora.com.hk/louis-quatorze/" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_Zalora.png" alt="" /></div>
                            <div class="global-item__text">Zalora HongKong</div>
                        </a>
                    </div>
                </li>
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://shopee.sg/louisquatorze.sg" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_Singapore.png" alt="" /></div>
                            <div class="global-item__text">Shoppe Singapore</div>
                        </a>
                    </div>
                </li>
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://www.qoo10.sg/shop/louisquatorze" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_Qoo10.png" alt="" /></div>
                            <div class="global-item__text">Qoo10 Singapore</div>
                        </a>
                    </div>
                </li>
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://shopee.tw/louisquatorze.tw" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_Taiwan.png" alt="" /></div>
                            <div class="global-item__text">Shopee Taiwan</div>
                        </a>
                    </div>
                </li>
                <li class="stores-global__item">
                    <div class="global-item">
                        <a href="https://notagshop.com.tw/collections/louis-quatorze" class="global-item__link" target="_blank">
                            <div class="global-item__thumb"><img src="../../images/stores/logo_NotagTaiwan.png" alt="" /></div>
                            <div class="global-item__text">Notag Taiwan</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="stores-global__section">
        <div class="stores-global__title">OFF-LINE</div>
        <!-- list -->
        <div class="stores-location">
            <div class="stores-location__wrap">
                <ul class="stores-location__list">                   
                    <!-- item -->
                    <li class="stores-location__item">
                        <div class="location-item">
                            <a href="#;" class="location-item__link js-location-more">
                                <div class="location-item__country">FRANCE</div>
                                <div class="location-item__title">GALERIES LAFAYETTE HAUSSMANN(GL6)</div>
                                <div class="location-item__address">21 Boulevard Haussmann, 75009 Paris, France</div>
                            </a>
                            <div class="location-item__meta">
                                <a href="tel:33140235477" class="location-item__meta--tel">+33 1 40 23 54 77</a>
                            </div>
                        </div>
                    </li>
                    <!-- .item -->
                    <!-- item -->
                    <li class="stores-location__item">
                        <div class="location-item">
                            <a href="#;" class="location-item__link js-location-more">
                                <div class="location-item__country">FRANCE</div>
                                <div class="location-item__title">GALERIES LAFAYETTE HAUSSMANN(GL6)</div>
                                <div class="location-item__address">21 Boulevard Haussmann, 75009 Paris, France</div>
                            </a>
                            <div class="location-item__meta">
                                <a href="tel:33140235477" class="location-item__meta--tel">+33 1 40 23 54 77</a>
                            </div>
                        </div>
                    </li>
                    <!-- .item -->
                    <!-- item -->
                    <li class="stores-location__item">
                        <div class="location-item">
                            <a href="#;" class="location-item__link js-location-more">
                                <div class="location-item__country">FRANCE</div>
                                <div class="location-item__title">GALERIES LAFAYETTE HAUSSMANN(GL6)</div>
                                <div class="location-item__address">21 Boulevard Haussmann, 75009 Paris, France</div>
                            </a>
                            <div class="location-item__meta">
                                <a href="tel:33140235477" class="location-item__meta--tel">+33 1 40 23 54 77</a>
                            </div>
                        </div>
                    </li>
                    <!-- .item -->
                    <!-- item -->
                    <li class="stores-location__item">
                        <div class="location-item">
                            <a href="#;" class="location-item__link js-location-more">
                                <div class="location-item__country">FRANCE</div>
                                <div class="location-item__title">GALERIES LAFAYETTE HAUSSMANN(GL6)</div>
                                <div class="location-item__address">21 Boulevard Haussmann, 75009 Paris, France</div>
                            </a>
                            <div class="location-item__meta">
                                <a href="tel:33140235477" class="location-item__meta--tel">+33 1 40 23 54 77</a>
                            </div>
                        </div>
                    </li>
                    <!-- .item -->
                    <!-- item -->
                    <li class="stores-location__item">
                        <div class="location-item">
                            <a href="#;" class="location-item__link js-location-more">
                                <div class="location-item__country">FRANCE</div>
                                <div class="location-item__title">GALERIES LAFAYETTE HAUSSMANN(GL6)</div>
                                <div class="location-item__address">21 Boulevard Haussmann, 75009 Paris, France</div>
                            </a>
                            <div class="location-item__meta">
                                <a href="tel:33140235477" class="location-item__meta--tel">+33 1 40 23 54 77</a>
                            </div>
                        </div>
                    </li>
                    <!-- .item -->
                </ul>
                <div class="stores-location__map">
                    <div class="location-item__map">
                        <div class="location-item__content">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.2507569999198!2d126.99816211560149!3d37.265480449069045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b431c4eab2813%3A0x87d7679749e70fef!2zQUvtlIzrnbzsnpAg7IiY7JuQ7KCQ!5e0!3m2!1sko!2skr!4v1638240382403!5m2!1sko!2skr" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../_include/_paging %>
        </div>
        <!-- .list -->
    </div>
</div>
<!-- .global -->