<%
type = "mypage"
page = "mypage"
popup = "false"
lnbTitle = "멤버십회원으로 전환"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbMyPage %>
        <section class="membershipJoin">
            <div class="membershipJoin-result">
                <div class="membershipJoin-result__head">
                    <p class="membershipJoin-result__title">멤버십 전환안내</p>
                </div>
                <div class="membershipJoin-result__text">회원님께서는 기존에 가입하신 <br /><span class="text--point">멤버십 회원 정보가 존재</span>합니다.</div>
                <div class="membershipJoin-result__table">
                    <table class="basic-table">
                        <caption class="sr-only">구매 채별별 적립율</caption>
                        <colgroup>
                            <col style="width:38%;">
                            <col style="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row" class="basic-table--bold">아이디</th>
                                <td class="basic-table--left">youngv**</td>
                            </tr>
                            <tr>
                                <th scope="row" class="basic-table--bold">가입유형</th>
                                <td class="basic-table--left">네이버 계정</td>
                            </tr>
                            <tr>
                                <th scope="row" class="basic-table--bold">이메일</th>
                                <td class="basic-table--left">abcdefg**@***</td>
                            </tr>
                            <tr>
                                <th scope="row" class="basic-table--bold">휴대폰 번호</th>
                                <td class="basic-table--left">010-****-1622</td>
                            </tr>
                            <tr>
                                <th scope="row" class="basic-table--bold">가입일</th>
                                <td class="basic-table--left">2020.05.20</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="center-bullet">
                    <li class="center-bullet__item">MEMBERSHIP 아이디로 로그인 후 사용하시기 바랍니다</li>
                    <li class="center-bullet__item">ID통합 등 회원 관련 문의사항은 <a class="join-existing__tel" href="tel:080-599-1414">080-599-1414</a>로 문의 주시기 바랍니다.</li>
                    <li class="center-bullet__item">멤버십회원은 하나의 ID로 온라인 및 오프라인 매장에서 적립금 사용 및 적립이 가능 합니다.</li>
                </ul>
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>