<%
type = "mypage"
page = "mypage"
popup = "true"
lnbTitle = "상품 Q&A"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbMyPage %>
        <section class="service-center myQna">
            <div class="myQna-center">
                <div class="center-right__head">
                    <p class="center-right__title">상품 Q&A</p>
                </div>

                <!-- list -->
                <div class="myQna-wrap">
                    <ul class="myQna-wrap__list">
                        <!-- item -->
                        <li class="myQna-wrap__item">
                            <div class="myQna-item">
                                <dl class="myQna-item__inner">
                                    <dt class="myQna-item__title">
                                        <a href="#;" class="myQna-item__link js-myQna-more">
                                            <div class="myQna-item__thumb">
                                                <img class="myQna-item__img" src="../../images/dummy/inquiry_thumbs.png" alt="">
                                            </div>
                                            <div class="myQna-item__info">
                                                <div class="myQna-item__pre">루이까또즈 1980 MONOGRAM 남성
                                                    메신저백 MO4MG04NA</div>
                                                <div class="myQna-item__state">
                                                    <span class="myQna-item__tag inquiry-item__end">완료</span>
                                                    <!-- 대기:inquiry-item__waiting 완료:inquiry-item__end -->
                                                    <span class="myQna-item__state--title">루이까또즈 LQ리그 모노그램 토트백 MO2PM02GA 상품에 대하여</span>
                                                </div>
                                            </div>
                                            <div class="myQna-item__cont--head">
                                                <div class="myQna-item__date">2021.06.25</div>
                                            </div>
                                        </a>
                                    </dt>
                                    <dd class="myQna-item__cont">
                                        <!-- 더미 -->
                                        <div class="myQna-item__cont--body">
                                            <div class="myQna-item__cont--pre">
                                                안녕하세요. 해당 상품을 매장에서 직접보고 구매하고 싶은데 서울 지역 어느 매장을 방문하면 될까요?
                                            </div>
                                        </div>
                                        <div class="myQna-item__cont--anc bg-gray">
                                            <div class="myQna-item__bullet--string">A.</div>
                                            <div class="myQna-item__cont--pre">
                                            안녕하세요.고객님<br>
                                            루이까또즈 직영몰 담당자 입니다.<br>
                                            항상 저희 루이까또즈를 찾아 주셔서 감사합니다.<br>
                                            금일 오후 1시 이전까지 결제를 해주실 경우에는 당일출고가 되오며 금일 오후 1시 이후 주문건은 익일 출고가 됩니다.
                                            </div>
                                        </div>
                                        <!-- .더미 -->
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <!-- .item -->

                        <!-- item -->
                        <li class="myQna-wrap__item">
                            <div class="myQna-item">
                                <dl class="myQna-item__inner">
                                    <dt class="myQna-item__title">
                                        <a href="#;" class="myQna-item__link js-myQna-more">
                                            <div class="myQna-item__thumb">
                                                <img class="myQna-item__img" src="../../images/dummy/product_img2.png" alt="">
                                            </div>
                                            <div class="myQna-item__info">
                                                <div class="myQna-item__pre">루이까또즈 1980 MONOGRAM 남성
                                                    메신저백 MO4MG04NA</div>
                                                <div class="myQna-item__state">
                                                    <span class="myQna-item__tag inquiry-item__end">완료</span>
                                                    <!-- 대기:inquiry-item__waiting 완료:inquiry-item__end -->
                                                    <span class="myQna-item__state--title">루이까또즈 LQ리그 모노그램 토트백 MO2PM02GA 상품에 대하여</span>
                                                </div>
                                            </div>
                                            <div class="myQna-item__cont--head">
                                                <div class="myQna-item__date">2021.06.25</div>
                                            </div>
                                        </a>
                                    </dt>
                                    <dd class="myQna-item__cont">
                                        <!-- 더미 -->
                                        <div class="myQna-item__cont--body">
                                            <div class="myQna-item__cont--pre">
                                                안녕하세요. 해당 상품을 매장에서 직접보고 구매하고 싶은데 서울 지역 어느 매장을 방문하면 될까요?
                                            </div>
                                        </div>
                                        <div class="myQna-item__cont--anc bg-gray">
                                            <div class="myQna-item__bullet--string">A.</div>
                                            <div class="myQna-item__cont--pre">
                                            안녕하세요.고객님<br>
                                            루이까또즈 직영몰 담당자 입니다.<br>
                                            항상 저희 루이까또즈를 찾아 주셔서 감사합니다.<br>
                                            금일 오후 1시 이전까지 결제를 해주실 경우에는 당일출고가 되오며 금일 오후 1시 이후 주문건은 익일 출고가 됩니다.
                                            </div>
                                        </div>
                                        <!-- .더미 -->
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <!-- .item -->

                        <!-- item -->
                        <li class="myQna-wrap__item">
                            <div class="myQna-item">
                                <dl class="myQna-item__inner">
                                    <dt class="myQna-item__title">
                                        <a href="#;" class="myQna-item__link js-myQna-more">
                                            <div class="myQna-item__thumb">
                                                <img class="myQna-item__img" src="../../images/dummy/detail-img1.jpg" alt="">
                                            </div>
                                            <div class="myQna-item__info">
                                                <div class="myQna-item__pre">루이까또즈 1980 MONOGRAM 남성
                                                    메신저백 MO4MG04NA</div>
                                                <div class="myQna-item__state">
                                                    <span class="myQna-item__tag inquiry-item__waiting">대기</span>
                                                    <!-- 대기:inquiry-item__waiting 완료:inquiry-item__end -->
                                                    <span class="myQna-item__state--title">매장 재고 여부</span>
                                                </div> 
                                            </div>
                                            <div class="myQna-item__cont--head">
                                                <div class="myQna-item__date">2021.06.25</div>
                                            </div>
                                        </a>
                                    </dt>
                                    <dd class="myQna-item__cont">
                                       <!-- 더미 -->
                                        <div class="myQna-item__cont--body">
                                            <div class="myQna-item__cont--pre">
                                            안녕하세요. 해당 상품을 매장에서 직접보고 구매하고싶은데 서울 지역 어느 매장을 방문하면 될까요?
                                            </div>
                                        </div>
                                        <div class="myQna-item__btn">
                                            <a href="#qnaWrite" class="myQna-btn js-popup-open">수정</a>
                                            <a href="#" class="myQna-btn">삭제</a>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                        <!-- .item -->

                    </ul>
                </div>
                <!-- list -->
                <% include ../_include/_paging %>
            </div>
            <!-- 유의사항 -->
            <div class="myQna-info">
                <ul class="center-bullet">
                    <li class="center-bullet__item">상품과 관계가 없는 내용이나 비방성 글은 등록자에게 사전 동의 없이 임의로 삭제될 수 있습니다.</li>
                    <li class="center-bullet__item">답변완료된 문의는 수정, 삭제 하실 수 없습니다.</li>
                </ul>
            </div>
            <!-- .유의사항 -->
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_popup/_qnaWrite %>
<% include ../_include/_footer %>
