<%
type = "mypage"
page = "mypage"
lnbTitle = "비밀번호 변경"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbMyPage %>
        <section class="service-center myPass">
            <div class="myPass-center">  
                <div class="center-right__head">
                    <p class="center-right__title">비밀번호 변경</p>
                </div>

                <!-- 컨텐츠 -->
                <div class="myPass-cont">
                     <!-- item -->
                     <div class="fieldset__group">
                        <div class="fieldset__label">현재 비밀번호</div>
                        <div class="fieldset__list">
                            <div class="fieldset__inner">
                                <input type="text" class="form__input--text" placeholder="현재 비밀번호">
                            </div>
                        </div>
                    </div>
                    <!-- //item -->

                    <div class="fieldset__group">
                        <div class="fieldset__label">새 비밀번호</div>
                        <div class="fieldset__list">
                            <div class="fieldset__inner">
                                <input type="text" class="form__input--text" placeholder="새 비밀번호">
                            </div>
                        </div>
                    </div>
                    <div class="fieldset__group">
                        <div class="fieldset__label">새 비밀번호 확인</div>
                        <div class="fieldset__list">
                            <div class="fieldset__inner">
                                <input type="text" class="form__input--text" placeholder="새 비밀번호 확인">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="input-list__item">
                        <input type="text" class="input-v1" placeholder="현재 비밀번호">
                    </div>
                    <div class="input-list__item">
                        <div class="input-list__inner">
                            <input type="text" class="input-v1" placeholder="새 비밀번호">
                        </div>
                        <div class="input-list__inner">
                            <input type="text" class="input-v1" placeholder="새 비밀번호 확인">
                        </div>
                    </div> -->
                </div>

                <div class="btn-group btn-inquiry__group">
                    <ul class="btn-group__list type-two">
                        <li class="btn-group__item">
                            <button class="btn-group__btn btn-v1 btn-v1--small type-white">취소</button>
                        </li>
                        <li class="btn-group__item">
                            <button class="btn-group__btn btn-v1 btn-v1--small type-primary">저장</button>
                        </li>
                    </ul>
                </div>  


                <div class="myPass-infoSearch">
                    <p>고객님의 정보가 일치하지 않습니다.</p>
                    <div class="btn-group">
                        <ul class="btn-group__list type-three">
                            <li class="btn-group__item">
                                <button class="btn-group__btn btn-v1 type-white">아이디 찾기</button>
                            </li>
                            <li class="btn-group__item">
                                <button class="btn-group__btn btn-v1 type-white">비밀번호 찾기</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .컨텐츠 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
