<%
type = "mypage"
page = "mypage"
popup = "false"
lnbTitle = "Wish List"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbMyPage %>
        <section class="service-center">
            <div class="myReserves-contents">
                <div class="center-right__head">
                    <p class="center-right__title">Wish List</p>
                </div>

                <!-- 리스트 -->
                <section class="myReserves-section">
                    <div class="cart-list">
                        <table class="list-table" summary="장바구니">
                            <caption>장바구니</caption>
                            <colgroup>
                                <col width="3%"><col width="50%"><col><col><col><col><col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="type-chk">
                                        <div class="checkbox-point">
                                            <input class="checkbox-point__input sr-only js-table-checkAll" type="checkbox" name="cart" id="cartAll" >
                                            <label for="cartAll" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                        </div>
                                    </th>
                                    <th>상품/옵션 정보</th>
                                    <th>판매가/혜택가</th>
                                    <th>수량</th>
                                    <th>합계</th>
                                    <th>배송비</th>
                                    <th>선택</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="type-chk">
                                        <div class="checkbox-point">
                                            <input class="checkbox-point__input sr-only" type="checkbox" name="cart" id="cart1" >
                                            <label for="cart1" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="detail-Meta">
                                            <a href="#;" class="detail-Meta__thumb"><img class="cart-product__img" src="../../images/dummy/detail-img1.jpg" alt="" /></a>
                                            <h2 class="detail-Meta__title">oalc SINGLE BREASTED HARRIS TWEED JACKET 싱글브레스트 해리스 트위드 재킷 (Beige)</h2>
                                            <div class="detail-Meta__option">
                                                <!-- Select -->
                                                <div class="selBox__meta--select">
                                                    <input type="text" value="" class="hidden-input is-hide">
                                                    <p class="selBox-custom__selected"><span class="selected_text">Sorting</span></p>
                                                    <ul class="selBox-custom__select">
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">FREESIZE</a></li>
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">M</a></li>
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">S</a></li>
                                                    </ul> 
                                                </div>
                                                <!-- .Select -->
                                                <button class="btn-v3 btn-v3--small type-white">변경</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="detail-Meta__price">
                                            <span class="detail-Meta__price--sale">328,000원</span>
                                            <span class="detail-Meta__price--current">289,290원</span>
                                            <a href="#benefitsPop" class="detail-Meta__benefit js-popup-open">benefit</a>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- quantity -->
                                        <div class="quantity">
                                            <a href="#;" classw="quantity__minus js-minus"><span class="sr-only">minus</span></a>
                                            <input class="quantity__text--current" type="number" value="1" min="1" max="999" maxlength="3" inputmode="numeric" pattern="[0-9]*" readonly="readonly" />
                                            <a href="#;" class="quantity__plus js-plus"><span class="sr-only">plus</span></a>
                                        </div>
                                        <!-- quantity -->
                                    </td>
                                    <td><span class="detail-Meta__price--current">289,290원</span></td>
                                    <td><span>무료배송</span></td>
                                    <td>
                                        <div class="detail-Meta__btn">
                                            <a href="" class="btn-v3 btn-v3--small type-primary">바로구매</a>
                                            <a href="" class="btn-v3 btn-v3--small type-white">Wish List</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="type-chk">
                                        <div class="checkbox-point">
                                            <input class="checkbox-point__input sr-only" type="checkbox" name="cart" id="cart1" >
                                            <label for="cart1" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="detail-Meta">
                                            <a href="#;" class="detail-Meta__thumb"><img class="cart-product__img" src="../../images/dummy/product_img3.png" alt="" /></a>
                                            <h2 class="detail-Meta__title">oalc SINGLE BREASTED HARRIS TWEED JACKET 싱글브레스트 해리스 트위드 재킷 (Beige)</h2>
                                            <div class="detail-Meta__option">
                                                <!-- Select -->
                                                <div class="selBox__meta--select">
                                                    <input type="text" value="" class="hidden-input is-hide">
                                                    <p class="selBox-custom__selected"><span class="selected_text">Sorting</span></p>
                                                    <ul class="selBox-custom__select">
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">FREESIZE</a></li>
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">M</a></li>
                                                        <li class="selBox-custom__option"><a href="" class="selBox-custom__link">S</a></li>
                                                    </ul> 
                                                </div>
                                                <!-- .Select -->
                                                <button class="btn-v3 btn-v3--small type-white">변경</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="detail-Meta__price">
                                            <span class="detail-Meta__price--sale">328,000원</span>
                                            <span class="detail-Meta__price--current">289,290원</span>
                                            <a href="#benefitsPop" class="detail-Meta__benefit js-popup-open">benefit</a>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- quantity -->
                                        <div class="quantity">
                                            <a href="#;" classw="quantity__minus js-minus"><span class="sr-only">minus</span></a>
                                            <input class="quantity__text--current" type="number" value="1" min="1" max="999" maxlength="3" inputmode="numeric" pattern="[0-9]*" readonly="readonly" />
                                            <a href="#;" class="quantity__plus js-plus"><span class="sr-only">plus</span></a>
                                        </div>
                                        <!-- quantity -->
                                    </td>
                                    <td><span class="detail-Meta__price--current">289,290원</span></td>
                                    <td><span>무료배송</span></td>
                                    <td>
                                        <div class="detail-Meta__btn">
                                            <a href="javascript:void(0);" onclick="return false;" class="btn-v3 btn-v3--small type-disabled">품절</a>
                                            <a href="" class="btn-v3 btn-v3--small type-white">Wish List</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <% include ../_include/_paging %>
                </section>
                <!-- .리스트 -->
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
