<%
type = "live"
page = "live"
popup = "true"
lnbTitle = "live"
%>

<% include ../_include/_header %>
<div class="container">
    <div class="site-promotion">
        <!-- 라이브 상단 비주얼 영역-->
        <div class="live-view">
            <div class="live-view__wrap">
                <div class="live-view__header">
                    <div class="live-view__txt">
                        <p class="live-view__txt--title">LIVE 주간 루이까또즈</p>
                    </div>
                </div>
                <div class="live-view__button">
                <ul class="live-view__list">
                    <li class="live-view__item">
                        <button class="live-view__btn btn-v1 btn-blk">07.16 오후 8시</button>
                    </li>
                    <li class="live-view__item">
                        <a href="#livePopSecond" class="live-view___on js-popup-open">
                            <button class="live-view__btn btn-v1 btn-white ">알람 받는 중</button>
                        </a>
                        <!-- 알림 해제버튼 -->
                        <!--<a href="#livePopSecond" class="live-view___off js-popup-open">
                            <button class="live-view__btn btn-v1 btn-white ">알람 해제</button>
                        </a>-->
                        <!-- .알림 해제버튼 -->
                    </li>
                </ul>
            </div>
                <div class="live-view__coupon">
                <div class="live-view__download">
                    <p class="live-view__download--title">LIVE 전용 쿠폰</p>
                    <div class="live-view__source">
                        <div class="live-view__percent">
                            COUPON<br />
                            <span class="live-view__percent--num">5</span>%
                        </div>
                        <button class="live-view__btn btn-v1 btn-coupon"></button>
                    </div></div>
            </div>
            </div>
        </div>
        <!--.라이브 상단 비주얼 영역-->

        <div class="live-group">
            <!--라이브 상품 리스트-->
            <div class="live-product">
                <div class="live-product__header">
                    <div class="live-product__name">라이브 소개 상품</div>
                </div>
                <div class="live-product__wrap">
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
                <div class="live-product__wrap">
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="live-product__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state type-circle type-black">9차<br/>재입고</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//라이브 상품 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_popup/_livePopup %>
<% include ../_popup/_livePopupSecond %>
<% include ../_popup/_liveCoupon %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>