@import "../base/variables";
@import "../base/mixins";

//하단 연관제품
.recommended{
    width: calcRem($minWidth);
    margin: auto;
    overflow: hidden;
    // padding:0 calcRem(20rem);
    margin-top: calcRem(40rem);
    background-color: $whiteColor;
    position: relative;
    z-index: 1;

    &__title{
        margin:0;
        font-size: calcRem(20rem);
        font-weight: $regular;
        text-align: center;

        border-top: 1px solid $black1;
        padding:calcRem(20rem) 0;
        border-bottom: 1px solid $gray2;
    }

    //슬라이드
    &-slide{
        margin: 0;
        margin-top: calcRem(60rem);
        // margin-left:calcRem(-20rem);
        // margin-right:calcRem(-20rem);
        &__container{
            overflow: visible;
        }

        //페이징
        &__pagination{
            margin-top:calcRem(40rem);
            text-align: center;
            font-size:0;
            line-height:0;

            .swiper-pagination{
                &-current{
                    font-size:calcRem(12rem);
                    line-height:calclH(19,12);
                    padding-right:calcRem(11rem);
                    position: relative;

                    &:after{
                        content:"";
                        width:1px;
                        height:calcRem(10rem);
                        background-color: $gray1;
                        position: absolute;
                        right:0;
                        @include vertical-center;
                    }
                }

                &-total{
                    font-size:calcRem(12rem);
                    line-height:calclH(19,12);
                    padding-left:calcRem(10rem);
                }
            }
        }

        //버튼
        //prev, next
        .detail-thumb{
            &--prev,
            &--next{
                width:calcRem(14rem);
                height:calcRem(30rem);
                position: absolute;
                @include vertical-center;
                cursor: pointer;
            }
            &--prev{
                left:calcRem(20rem);
                @include pageBackground('/images/common/ico_slide_prev.svg','no-repeat center center / contain');
                z-index: $childZindex;
            }
            &--next{
                right:calcRem(20rem);
                @include pageBackground('/images/common/ico_slide_next.svg','no-repeat center center / contain');
                z-index: $childZindex;
            }
            &--prev, 
            &--next{
                transform: translateY(100%);
            }
        }
        
        
    }

    //슬라이드 컨텐츠
    &-product{
        width:100%;
        padding:0 calcRem(20rem);

        &__thumb{
            position: relative;
            overflow: hidden;

            &:after{
                content:"";
                display: block;
                padding-bottom:100%;
            }

            &:hover .product-icon__hover{
                opacity: 1;
                transform: rotateX(0);
            }
        }

        &__state{
            font-size:calcRem(12rem);
            line-height:calclH(16,10);
            font-weight: $medium;
            color:$point1;
            position: absolute;
            top:calcRem(20rem);
            left:calcRem(20rem);
            z-index: $childZindex;
            text-transform: uppercase;
    
            &.type-circle{
                border-radius: 100%;
                width: calcRem(40rem);
                height: calcRem(40rem);
                line-height: 1.25;
                background-color: #b8a7ed;
    
                &.type-black{background-color: #525252;}
                &.type-khaki{background-color:#a6a189}
                &.type-tan{background-color:#ce9d6c;}
                &.type-black{background-color:#525252;}
                &.type-pink{background-color:#e4bbbf;}
                &.type-camel{background-color:#d2b173;}
                &.type-green{background-color:#aed1b3;}
                &.type-ivory{background-color:#ffebbf;}
                &.type-yellow{background-color:#FFDE00;}
                &.type-blue {background-color: #acd3f5;}
                &.type-violet {background-color: #b9a5f5;}
                &.type-butter_yellow { background-color: #f9e55f;}
                &.type-purple { background-color: #b8a7ed;}
                &.type-brown { background-color: #60322C;}
    
                .product-mark__circle {
                    display: table-cell;
                    width: 1%;
                    height: inherit;
                    vertical-align: middle;
                    text-align: center;
                    color: $whiteColor;
                }
                
            }
    
            &--expected{
                position: relative;
                padding-left:calcRem(5rem);
                margin-left:calcRem(5rem);
    
                &:after{
                    content:"";
                    width:1px;
                    height:calcRem(6rem);
                    background-color: $gray2;
                    position: absolute;
                    left:0;
                    @include vertical-center;
                }
            }
        }

        &__img{
            width:100%;
            @include ab-center;
        }

        &__cont{
            text-align: center;
            margin-top:calcRem(10rem);
        }

        &__title{
            @include body3;
        }

        &__price{
            @include body2;
            margin-top:calcRem(10rem);
        }
    }
}

.cart{
    width: calcRem($minWidth);
    margin: auto;

    &__title{
        margin:0;
        font-size: calcRem(20rem);
        font-weight: $regular;
        text-align: center;
        padding-bottom: calcRem(20rem); 
    }
    &-banner{
        text-align: center;
        padding: calcRem(40rem) 0 calcRem(60rem);

        .cart-list__no-cart{
            margin-bottom: calcRem(10rem);
        }
        &__text{
            @include body3;
            margin-bottom: calcRem(20rem);
            &--point{
                font-weight: $medium;
                color: $point1;
            }
        }
        &__btn{
            display: inline-block;
            .btn-v1--small{
                padding: calcRem(8rem) calcRem(30rem) calcRem(6rem);
            }
        }
    }
}

// 데이터 리스트 
.cart-list{
    .list-table{
        .detail-Meta{
            @include flexWrap;
            -webkit-box-orient: vertical; -ms-flex-direction: column;
            flex-direction: column;
            height: calcRem(150rem);

            &__btn{
                width: calcRem(88rem);
                margin: auto;
                .btn-v3{margin: 5px 0;}
            }
            &__thumb{
                width: calcRem(150rem);
                height: calcRem(150rem);
            }
            &__title{
                width: calc(100% - 170px);
                @include body3;
                text-align: left;
                margin-top: auto;
            }
            &__option{
                width: calc(100% - 170px);
                margin-bottom: auto;

                @include flexWrap;
                .btn-v3{
                    width: auto;
                    height: calcRem(24rem);
                    padding: calcRem(5rem) calcRem(8rem);
                    box-sizing: border-box;
                    line-height: 1;
                    margin-left: calcRem(20rem);
                }
            }

            &__price{
                // margin-top:calcRem(20rem);
                line-height: 0;
                position: relative;
                // padding-right:calcRem(30rem);
        
                &--current{
                    @include body2;
                    font-weight: $medium;
                    display: block;
                    // vertical-align: middle;
                }
        
                &--sale{
                    @include body2;
                    font-weight: $light;
                    color:$throughColor;
                    text-decoration: line-through;
                    // margin-left:calcRem(20rem);
                    display: inline-block;
                    // vertical-align: middle;
                }
            }
        
            &__benefit{
                display: inline-block;
                font-size:calcRem(12rem);
                line-height:calclH(20,12);
                color:$whiteColor;
                padding:calcRem(2rem) calcRem(15rem);
                background-color: $point1;
                letter-spacing: $defaultLetter;
                margin-top:calcRem(15rem);
            }
        }
    }
}

//최종금액
.cart-list2{
    @include flexWrap;
    .cart-btn{
        margin-left: 0;

        .btn-v3{
            display: inline-block;
            width: calcRem(100rem);
        }
    }
    .cart-total{
        margin-left: auto;
        width: 30%;

        $this:&;
        padding:calcRem(30rem) calcRem(20rem);

        &__list{
            padding-bottom:calcRem(20rem);
            margin-bottom:calcRem(20rem);
            border-bottom:solid 1px $gray1;
            

            &--item{
                margin-top:calcRem(10rem);

                &:first-child{
                    margin-top:0;
                }
            }
        }

        &--inner{
            margin:0;

            &:after{
                @include block-reset;
            }
        }

        &__title{
            float: left;
            @include body3;

            #{$this}-sum &{
                // @include title2;
            }
        }

        &__text{
            overflow: hidden;
            text-align: right;
            @include body3;

            #{$this}-sum &{
                @include title2;
                color:$point1;
            }
        }
    }
}