@import "../base/variables";
@import "../base/mixins";

//메인 탑배너슬라이드
.main-banner{
  position: relative;
  min-width: calcRem(1200rem);
  height: calcRem(900rem);
  margin: 0;
  padding: 0;

  &__item{
    display: inline-block;
    height: inherit;
    list-style: none;
  }

  &__inner {
    display: block;
    //position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
  }

  &__box{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center;
  }

  &__wrap{
    position: relative;
    width: 100%;
    height: inherit;
  }

  &__img{
    width: 100%;
    height: 100%;
  }
  &__video{
    width: 100%;
  }
  &__content{
    bottom: calcRem(100rem);
    position: absolute;
    width: 100%;
    text-align: center;
  }
  &__name{
    font-size: calcRem(22rem);
    line-height: calcRem(28rem);
  }
  &__pagination{
    bottom: calcRem(40rem);
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    z-index: 100;
    font-size:0;
    line-height:0;
    &.is-white{
      color: #000;
      .swiper-pagination-current:after{
        background-color: #000;
      }
    }

    &.is-black{
      color: #fff;
    }

    &.disabled{
      display: none !important;
    }

    .swiper-pagination{
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(10rem);
          background-color: #fff;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }
      &-total{
        font-size:calcRem(18rem);
        line-height:calclH(19,12);
        padding-left:calcRem(10rem);
      }
    }
  }

  // 프로그래스바
  .swiper-progress-bar{
    bottom: 0;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: calcRem(3rem);
    .slide_progress-bar {
      margin: 0 auto;
      position: absolute;
      width: calcRem(480rem);
      height: calcRem(3rem);
      background: rgba(255, 255, 255, 0.5);
      clear: both;
      opacity: 0;
      bottom: calcRem(20rem);
      left: 0;
      right: 0;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background: #9B192F;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }
    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide_progress-bar {
        &:after {
          width: 100%;
          transition: width linear;
          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }
}

//검색결과
.main-search{
  position: relative;
  display: block;
  padding-top: calcRem(180rem);
  // overflow: scroll;
  &__wrap{
    min-width: 1200px;
    text-align: center;
  }
  &__top{
    display: block;
  }
  &__result{
    font-size: calcRem(20rem);
    font-weight: 400;
    line-height: calcRem(32rem);
  }
  &__txt{
    padding-top: calcRem(5rem);
    font-size: calcRem(14rem);
    font-weight: 300;
  }
  &__num{
    color: #9B192F;
  }
  &__bottom{
    position: relative;
    padding: calcRem(60rem) 0;
  }
  &__list{
    display: inline-block;
  }
  &__item + &__item{
    margin-left: calcRem(10rem);
  }
  &__item{
    float: left;
    display: inline-block;
    padding: calcRem(5rem) calcRem(8rem);
    border: 1px solid #cbcbcb;
    &.is-active{
      color: #9B192F;
      border: 1px solid #9B192F;
    }
  }
  &__inner{
    display: block;
    font-size: calcRem(14rem);
    font-weight: 300;
  }
  .search__result{
    width:calcRem($minWidth);
    margin: auto;
    margin-bottom: calcRem(120rem);
  }
}

//최근본상품페이지
//검색결과
.main-viewed{
  position: relative;
  display: block;
  padding-top: calcRem(180rem);
  // overflow: scroll;
  &__wrap{
    min-width: 1200px;
    text-align: center;
  }
  .viewed__result{
    width:calcRem($minWidth);
    margin: auto;
    margin-bottom: calcRem(120rem);
    &--noti{
      padding: calcRem(150rem) 0 calcRem(300rem);
      font-size: calcRem(14rem);
      font-weight: 300;
    }
  }
}

//메인 신상슬라이드
.main-new {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: calcRem(120rem) 0 calcRem(104rem);

  &__wrap{
    display: flex;
    align-items: center;
  }
  &__header{
    position: relative;
    text-align: center;
    padding-top: calcRem(55rem);
  }
  &__title{
    top: 0;
    position: relative;
    font-size: calcRem(30rem);
    line-height: calcRem(32rem);
    z-index: 90;
    font-weight: $medium;
  }

  &__left{
    margin: 0 auto;
    flex: 1;
    display: inline-block;
    width: calcRem(340rem);
    min-width: calcRem(340rem);
  }
  &__container{
    overflow: visible;
  }
  &__slide{
    flex: 1;
    position: relative;
    margin: 0 calcRem(18rem);
    float: right;
    display: inline-block;
    width: calcRem(1580rem);
    min-width: calcRem(1580rem);
    overflow: hidden;
    //롤링슬라이드
    .swiper-wrapper{
      transition-timing-function: linear;
    }
  }
  &__prev{
    width:calcRem(8rem);
    height:calcRem(16rem);
    position: absolute;
    left:calcRem(130rem);
    //top: 60.7%;
    //transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_prev.svg','no-repeat center center / contain');
    background-size:calcRem(8rem) calcRem(16rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }

  &__next{
    width:calcRem(8rem);
    height:calcRem(16rem);
    position: absolute;
    left:204px;
    //top: 60.7%;
    //transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_next.svg','no-repeat center center / contain');
    background-size:calcRem(8rem) calcRem(16rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }
  &__item{
    padding: 0 calcRem(2.5rem);
    box-sizing: border-box;
  }
  &__inner {
    display: block;
    width: 100%;
    line-height: 0;
  }
  &__img {
    display: block;
    width: auto;
  }

  &__content {
    bottom: calcRem(106rem);
    position: absolute;
    color: #000;
    text-align: center;
  }

  &__name {
    font-size: calcRem(14rem); //14
    font-weight: 300;
    line-height: calcRem(19rem); //20
    padding: 0 calcRem(10rem);
  }
  &__price {
    padding-top: calcRem(5rem);
    font-size: calcRem(14rem);
    font-weight: 400;
    line-height: calcRem(20rem);
  }
  &__option {
    padding-top: calcRem(40rem);
  }
  &__pagination {
    //padding: calcRem(20rem) 0 0;
    top: calcRem(-5rem);
    width: 100%;
    position: relative;
    color: #000;
    text-align: center;
    font-size: 0;
    line-height: 0;

    .swiper-pagination {
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(14rem);
          background-color: $gray1;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }
  &__more{
    display: block;
    padding-top: calcRem(25rem);
  }
  &__link{
    display: block;
  }
  &__button{
    margin: 0 auto;
    width: calcRem(160rem);
    padding: calcRem(10rem) 0;
    border: 1px solid #000;
    font-size: calcRem(18rem);
    font-weight: $regular;
    text-align: center;
    text-transform: uppercase;
  }
}

//메인 배너슬라이드2
.main-banner2 {
  position: relative;

  &__inner {
    display: block;
    width: 100%;
    height: auto;
    line-height: 0;
  }

  &__source {
    display: block;

    &--img {
      height: 100%;
    }

    &--video {
      height: 100%;
    }
  }

  &__img {
    width: 100%;
  }

  &__video {
    width: 100%;
  }

  &__content {
    bottom: calcRem(50rem);
    position: absolute;
  }

  &__name {
    font-size: calcRem(22rem);
    line-height: calcRem(28rem);
  }

  &__pagination {
    bottom: calcRem(22rem);
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    z-index: 100;
    font-size: 0;
    line-height: 0;

    &.is-white {
      color: #000;

      .swiper-pagination-current:after {
        background-color: #000;
      }
    }

    &.is-black {
      color: #fff;
    }

    .swiper-pagination {
      &-current {
        font-size: calcRem(12rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(10rem);
          background-color: $gray1;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(12rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }

  // 프로그래스바
  .swiper-progress-bar {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: calcRem(3rem);

    .slide_progress-bar {
      position: absolute;
      height: calcRem(3rem);
      background: rgba(255, 255, 255, 0.5);
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background: #9B192F;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }

    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }

    &.animate {
      .slide_progress-bar {
        &:after {
          width: 100%;
          transition: width linear;
          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }


  //------- 640fixed  -----------------
  .main-banner, .main-banner2, .main-new {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    // max-height: 640px;
    // box-sizing: border-box;
    .main-banner__inner {
      width: auto;
    }

    .main-banner__source--img {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }

    .main-banner__video,
    .main-banner2__video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;

      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }

    .main-banner__img,
    .main-banner2__img {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
      font-size: 0;

      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  .main-new {
    height: auto;
    // max-height: inherit;
  }

  // .main-banner{
  // 	max-height: 100vh;
  // }
  // @media screen and (min-device-height:720px) {
  // 	.main-banner2{
  // 		max-height: inherit;
  // 	}
  // }
  @media screen and (min-device-height: 920px) {
    .main-new {
      &__content {
        bottom: 100px;
      }
    }
  }
  //----------------------------------


  //메인 컬렉션
  .main-collection {
    position: relative;
    margin-top: calcRem(60rem);

    &__center {
      position: absolute;
      width: 100%;
      text-align: center;
      @include vertical-center;
    }

    &__inner {
      display: block;
      position: absolute;
      width: 100%;
    }

    &__img {
      width: 100%;
      display: block;
    }

    &__button {
      margin: 0 calcRem(20rem);
      padding: calcRem(14rem) 0;
      color: #fff;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-size: calcRem(14rem);
    }
  }

  //루이까또즈 멤버십
  .main-membership {
    color: #9B192F;
    border-bottom: 1px solid #cbcbcb;
    position: relative;

    .membership-wrap {
      padding: calcRem(60rem) 0;
      text-align: center;
    }

    &__header {
      font-size: calcRem(12rem);
    }

    &__title {
      font-size: calcRem(20rem);
    }

    &__logo {
      padding: calcRem(24rem) 0 calcRem(30rem);
    }

    &__img {
      width: calcRem(42rem);
      height: calcRem(45rem);
    }

    &__info {
      padding-bottom: calcRem(35rem);
      font-size: calcRem(12rem);
      font-weight: 300;
      line-height: calcRem(20rem);
    }

    &__title {

    }

    &__link {
      display: block;
    }

    &__button {
      width: calcRem(210rem);
      margin: 0 auto;
      padding: calcRem(8rem) 0;
      color: #fff;
      background: #9b192f;
      font-size: calcRem(12rem);
      font-weight: $medium;
      line-height: calcRem(20rem);
      text-transform: uppercase;
    }
  }

  // 프로젝트
  .main-project {
    position: relative;
    padding-bottom: calcRem(50rem);

    &__header {
      padding: calcRem(60rem) 0 calcRem(40rem);
      text-align: center;
      font-size: calcRem(12rem);
    }

    &__brand {
      font-weight: 400;
    }

    &__title {
      font-size: calcRem(20rem);
      font-weight: 400;
    }

    &__link {
      display: block;
    }

    &__wrap {
      position: relative;
    }

    &__link + &__link {
      padding-top: calcRem(4rem);
    }

    &__visual {
      position: relative;
    }

    &__img {
      width: 100%;
      display: block;
    }

    &__name {
      width: 100%;
      position: absolute;
      color: #fff;
      text-align: center;
      @include vertical-center;
    }
  }

  /**********
  * [QA - 디자인팀::2022-01-06]
  * - 모바일 풀페이지 메인세션 1~ 4번까지만 적용
  * - 디바이스 높이값 상관없이 full 이미지처리
  **********/
  //section height:100vh
  // .sectionFull{
  // 	box-sizing: border-box;
  // 	height: 100vh;
  // 	padding-top: 0;
  // 	transition: all 1s;

  // 	//section1::main-banner
  // 	&.main-banner{
  // 		$this:'.main-banner';

  // 		#{$this}__source--img{
  // 			height: 100vh;
  // 		}
  // 		#{$this}__source--video{
  // 			height: 100vh;
  // 		}
  // 		#{$this}__img{
  // 			min-width: 100%;
  // 			min-height: 100%;
  // 			width: auto;
  // 			height: auto;
  // 			object-fit: cover;
  // 			font-size: 0;

  // 			position: absolute;
  // 			top: -9999px;
  // 			bottom: -9999px;
  // 			left: -9999px;
  // 			right: -9999px;
  // 			margin: auto;
  // 		}

  // 		#{$this}__video{
  // 			min-width: 100%;
  // 			min-height: 100%;
  // 			object-fit: cover;

  // 			position: absolute;
  // 			top: -9999px;
  // 			bottom: -9999px;
  // 			left: -9999px;
  // 			right: -9999px;
  // 			margin: auto;
  // 		}
  // 	}

  // 	//section2::main-new
  // 	&.main-new{
  // 		$this:'.main-new';

  // 		#{$this}__container,
  // 		#{$this}__wrapper{
  // 			height: auto;
  // 		}
  // 	}

  // 	//section3::main-banner2
  // 	&.main-banner2{
  // 		$this:'.main-banner2';
  // 		box-sizing: inherit;
  // 		// padding-top: 0;
  // 		background-color:#fff;

  // 		#{$this}__img{
  // 			min-width: 100%;
  // 			min-height: 100%;
  // 			width: auto;
  // 			height: auto;
  // 			object-fit: cover;
  // 			font-size: 0;

  // 			position: absolute;
  // 			top: -9999px;
  // 			bottom: -9999px;
  // 			left: -9999px;
  // 			right: -9999px;
  // 			margin: auto;
  // 		}

  // 		#{$this}__video{
  // 			min-width: 100%;
  // 			min-height: 100%;
  // 			object-fit: cover;
  // 			font-size: 0;

  // 			position: absolute;
  // 			top: -9999px;
  // 			bottom: -9999px;
  // 			left: -9999px;
  // 			right: -9999px;
  // 			margin: auto;
  // 		}

  // 		#{$this}__container{
  // 			height: 100vh;
  // 		}
  // 	}

  // 	//section4::main-best
  // 	// &.main-best{
  // 	// 	$this:'.main-best';
  // 	// }


  // 	@media screen and (min-height: 641px){
  // 		// section2 : 세로640px 이상부터는 중앙정렬
  // 		&.main-new{
  // 			$this:'.main-new';

  // 			display: flex;
  // 			flex-direction: column;
  // 			justify-content: center;
  // 			height: 100vh;

  // 			#{$this}__header{
  // 				top: 23vh;
  // 				padding: 0;
  // 			}

  // 			#{$this}__content {
  // 				top:76%;
  // 			}
  // 		}

  // 		&.main-best{
  // 			display: flex;
  // 			flex-direction: column;
  // 			justify-content: center;
  // 			height: 100vh;
  // 		}
  // 	}

  // 	// @media screen and (min-width: 768px){
  // 	// 	&.main-banner{
  // 	// 		$this:'.main-banner';

  // 	// 		#{$this}__img{
  // 	// 			max-width: inherit;
  // 	// 			min-width: 100%;
  // 	// 			min-height: 100%;
  // 	// 			width: 100%;
  // 	// 			height: auto;
  // 	// 		}
  // 	// 	}
  // 	// }
  // }


  //검색 후 결과페이지
  .main-search {
    overflow: hidden;

    &__wrap {
      padding: 0 calcRem(20rem);
      text-align: center;
    }

    // 검색결과명
    &__top {
      display: block;
      padding-bottom: calcRem(30rem);
    }

    &__result {
      font-size: calcRem(17rem);
      font-weight: 500;
      line-height: calcRem(27rem);
    }

    &__txt {
      padding-top: calcRem(5rem);
      font-size: calcRem(14rem);
      font-weight: 300;
      line-height: calcRem(22rem);
    }

    &__num {
      color: #9B192F;
    }

    // 검색결과 상품슬라이드
    &__bottom {
      padding-bottom: calcRem(30rem);
      margin-left: calcRem(-4rem);
      margin-right: calcRem(-4rem);
      position: relative;
    }

    &__wrapper {
      font-size: 0;
      white-space: nowrap;
      box-sizing: border-box;
    }

    &__container {
      /*overflow: visible;*/
    }

    &__item {
      width: auto;
      padding: 0 calcRem(4rem);
    }

    &__inner {
      // display: block;
      // font-size: calcRem(11rem);
      font-size: calcRem(12rem);
      font-weight: 300;
      line-height: normal;
      box-sizing: border-box;
      padding: 5px 7px;
      color: #000;
      border: 1px solid #cbcbcb;

      &.is-active {
        color: #9B192F;
        border: 1px solid #9B192F;
      }
    }
  }

  //최근 본 상품페이지
  .main-viewed {
    margin-top: calcRem(-20rem);
    margin-bottom: calcRem(-50rem);
    padding: calcRem(150rem) 0 calcRem(220rem);

    &__wrap {
      width: 100%;
      display: block;
    }

    &__txt {
      text-align: center;
      font-size: calcRem(14rem);
      font-weight: 300;
      line-height: calcRem(22rem);
    }
  }
}

//구매자 베스트
.main-best{
  margin: calcRem(140rem) auto calcRem(140rem);
  width: calcRem(1200rem);
  min-width: calcRem(1200rem);

  &__header{
    margin-bottom:calcRem(20rem);
    text-align: center;
  }

  &__title{
    @include heading3;
    text-transform: uppercase;
    margin:0 0 calcRem(30rem);
  }

  //tab
  &__tab{
    &--inner{
      text-align: center;
      font-size:0;
      line-height:0;
      margin:0 calcRem(-20rem);
      border-top: 1px solid #b8b8b8;
    }

    &--item{
      display: inline-block;
      vertical-align: middle;
      padding: calcRem(8rem) 0;
      width: 15.33333%;
      border-top: 2px solid transparent;
      &.is-current{
        border-top: 2px solid #000;
      }
    }

    &--link{
      display: block;
      @include heading4;
      opacity: 0.5;
      text-transform: uppercase;
      font-weight: $regular;

      .is-current &{
        opacity: 1;
      }
    }
  }
}

//best slide
//detail thumb
.best-thumb {
  //썸네일
  &__inner {
    padding: calcRem(20rem) 0 calcRem(50rem);
    position: relative;
    width: 100%;
    display: block;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  &__img {
    @include ab-center;
    width: 100%;
    padding-bottom: calcRem(20rem);
  }

  //prev, next
  &--prev {
    width: calcRem(15rem);
    height: calcRem(30rem);
    position: absolute;
    left: 0;
    @include vertical-center;
    @include pageBackground('/images/common/ico_slide_prev.svg', 'no-repeat center center / contain');
    background-size: calcRem(15rem) calcRem(30rem);
    z-index: $childZindex;
    cursor: pointer;
  }

  &--next {
    width: calcRem(15rem);
    height: calcRem(30rem);
    position: absolute;
    right: 0;
    @include vertical-center;
    @include pageBackground('/images/common/ico_slide_next.svg', 'no-repeat center center / contain');
    background-size: calcRem(15rem) calcRem(30rem);
    z-index: $childZindex;
    cursor: pointer;
  }

  //페이징
  &__pagination {
    padding-top: calcRem(64rem);
    text-align: center;
    font-size: 0;
    line-height: 0;

    .swiper-pagination {
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(10rem);
          background-color: $gray1;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }

  //상품명,가격
  &__bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: calcRem(16rem);
    line-height: calcRem(20rem);
  }

  &__name{
    font-weight: 300;
    text-align: center;
    padding-bottom: calcRem(5rem);
  }

  &__price {
    @include body2;
  }
}


//메인 배너슬라이드3
.main-banner3 {
  position: relative;
  padding-top: calcRem(60rem);

  &__inner {
    display: block;
    width: 100%;
    line-height: 0;
  }

  &__img {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }

  &__video {
    width: 100%;
    height: calcRem(410rem);
    object-fit: cover;
  }

  &__content {
    bottom: calcRem(100rem);
    position: absolute;
  }

  &__name {
    font-size: calcRem(22rem);
    line-height: calcRem(28rem);
  }

  &__pagination {
    bottom: calcRem(40rem);
    width: 100%;
    position: absolute;
    color: #000;
    text-align: center;
    z-index: 100;
    font-size: 0;
    line-height: 0;
    color: #fff;

    &.is-white {
      color: #000;

      .swiper-pagination-current:after {
        background-color: #000;
      }
    }

    &.is-black {
      color: #fff;
    }

    .swiper-pagination {
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(10rem);
          background-color: #fff;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }

  // 프로그래스바
  .swiper-progress-bar {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: calcRem(3rem);

    .slide_progress-bar {
      margin: 0 auto;
      position: absolute;
      width: calcRem(480rem);
      height: calcRem(3rem);
      background: rgba(255, 255, 255, 0.5);
      clear: both;
      opacity: 0;
      bottom: calcRem(20rem);
      left: 0;
      right: 0;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background: #9B192F;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }

    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }

    &.animate {
      .slide_progress-bar {
        &:after {
          width: 100%;
          transition: width linear;
          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }
}

//메인 신상슬라이드
.main-collection {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: calcRem(120rem) 0 calcRem(104rem);

  &__wrap{
    display: flex;
    align-items: center;
  }
  &__header{
    position: relative;
    text-align: center;
    padding-top: calcRem(55rem);
  }
  &__title{
    top: 0;
    position: relative;
    font-size: calcRem(30rem);
    line-height: calcRem(32rem);
    z-index: 90;
    font-weight: $medium;
    text-transform: uppercase;
  }
  &__left{
    margin: 0 auto;
    flex: 1;
    display: inline-block;
    width: calcRem(340rem);
    min-width: calcRem(340rem);
  }
  &__container{
    overflow: visible;
  }
  &__slide{
    flex: 1;
    position: relative;
    margin: 0 calcRem(18rem);
    float: right;
    display: inline-block;
    width: calcRem(1580rem);
    min-width: calcRem(1580rem);
    overflow: hidden;
    //롤링슬라이드
    .swiper-wrapper{
      transition-timing-function: linear;
    }
  }
  &__prev{
    width:calcRem(8rem);
    height:calcRem(16rem);
    position: absolute;
    left:calcRem(130rem);
    //top: 60.7%;
    //transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_prev.svg','no-repeat center center / contain');
    background-size:calcRem(8rem) calcRem(16rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }

  &__next{
    width:calcRem(8rem);
    height:calcRem(16rem);
    position: absolute;
    left:204px;
    //top: 60.7%;
    //transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_next.svg','no-repeat center center / contain');
    background-size:calcRem(8rem) calcRem(16rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }
  &__item{
    padding: 0 calcRem(2.5rem);
    box-sizing: border-box;
  }
  &__inner {
    display: block;
    width: 100%;
    line-height: 0;
  }
  &__img {
    display: block;
    width: auto;
  }

  &__content {
    position: absolute;
    color: #000;
    text-align: center;
  }

  &__name {
    padding: 0 calcRem(10rem);
    font-size: calcRem(24rem);
    font-weight: 300;
    line-height: calcRem(20rem);
    color: #fff;
    text-transform: uppercase;
  }
  &__price {
    padding-top: calcRem(5rem);
    font-size: calcRem(14rem);
    font-weight: 400;
    line-height: calcRem(20rem);
  }
  &__option {
    padding-top: calcRem(40rem);
  }
  &__pagination {
    //padding: calcRem(20rem) 0 0;
    top: calcRem(-5rem);
    width: 100%;
    position: relative;
    color: #000;
    text-align: center;
    font-size: 0;
    line-height: 0;

    .swiper-pagination {
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(14rem);
          background-color: $gray1;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }
  &__more{
    display: block;
    padding-top: calcRem(25rem);
  }
  &__link{
    display: block;
  }
  &__button{
    margin: 0 auto;
    width: calcRem(160rem);
    padding: calcRem(10rem) 0;
    border: 1px solid #000;
    font-size: calcRem(18rem);
    font-weight: $regular;
    text-align: center;
    text-transform: uppercase;
  }
}

// 선물 추천
.main-gift{
  &__wrap{
    display: flex;
  }
  &__inner{
    padding: calcRem(50rem);
  }
  &__title{
    padding-bottom: calcRem(140rem);
    font-size: calcRem(30rem);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__left{
    flex: 1;
    background: radial-gradient(101.9% 177.25% at 101.9% 44.78%, #FF8888 0%, rgba(255, 87, 87, 0.479167) 52.08%, rgba(255, 150, 53, 0.49) 100%);
  }
  &__right{
    flex: 1;
    background-color: #f5f5f5;
  }
  &__bottom{
    display: flex;
  }
  &__info{
    flex: 1;
    &--top{
      margin: 0;
      font-size: calcRem(22rem);
      font-weight: 400;
    }
    &--bottom{
      margin: 0;
      padding-top: calcRem(38rem);
      font-size: calcRem(18rem);
      font-weight: 300;
    }
  }
  &__gender{
  }
  &__link{
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: calcRem(24rem);
    font-weight: 400;
    &:after{
      content: '';
      right: 0;
      width:calcRem(8rem);
      height:calcRem(30rem);
      position: absolute;
      @include pageBackground('/images/main/main-gift-arrow01.png','no-repeat center center / contain');
      background-size:calcRem(8rem) calcRem(16rem) ;
    }
  }
  &__link + &__link{
    margin-top: calcRem(20rem);
  }
}

//멤버십
.main-membership{
  &__wrap{
    display: flex;
  }
  &__inner{
    padding: calcRem(50rem);
  }
  &__info{
    display: flex;
  }
  &__title {
    padding-bottom: calcRem(140rem);
    color: #9B192F;
    font-size: calcRem(30rem);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__logo{

  }
  &__txt{
    margin-left: calcRem(24rem);
    margin-right: calcRem(70rem);
    color: #9B192F;
    font-size: calcRem(18rem);
    font-weight: 300;
  }

  &__button{
    width: calcRem(240rem);
    height: calcRem(50rem);
    color: #fff;
    background-color: #9B192F;
    font-size: calcRem(24rem);
    text-align: center;
  }
  &__link{
    display: block;
    line-height: calcRem(50rem);
  }
}

//메인 배너슬라이드4
//메인 신상슬라이드
.main-banner4 {
  position: relative;
  overflow: hidden;
  padding: calcRem(60rem) 0 calcRem(80rem);

  &__title{
    @include heading3;
    text-transform: uppercase;
    text-align: center;
    margin:0 0 calcRem(30rem);
  }
  &__txt{
    margin: 0;
    @include heading4;
    text-align:center;
  }
  &__container{
    overflow: visible;
  }
  &__slide{
    position: relative;
    margin: 0 calcRem(100rem);
  }
  &__item{
    padding: 0 calcRem(5rem);
    box-sizing: border-box;
  }
  &__inner {
    display: block;
    width: 100%;
    line-height: 0;
  }
  &__link{
    display: block;
    width: 100%;
  }
  &__img {
    display: block;
    width: 100%;
  }

  &__content {
    position: absolute;
    color: #fff;
    text-align: center;
  }

  &__name {
    font-size: calcRem(36rem);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__name2{
    font-size: calcRem(30rem);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__prev{
    width:calcRem(18rem);
    height:calcRem(34rem);
    position: absolute;
    left:calcRem(20rem);
    top: 50%;
    transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_prev_w.svg','no-repeat center center / contain');
    background-size:calcRem(18rem) calcRem(34rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }

  &__next{
    width:calcRem(18rem);
    height:calcRem(34rem);
    position: absolute;
    right:calcRem(20rem);
    top: 50%;
    transform: translateY(-50%);
    @include pageBackground('/images/common/ico_slide_next_w.svg','no-repeat center center / contain');
    background-size:calcRem(18rem) calcRem(34rem) ;
    z-index: $childZindex;
    cursor: pointer;
  }
  &__pagination {
    /*bottom: calcRem(20rem);*/
    padding: calcRem(20rem) 0 0;
    width: 100%;
    position: relative;
    color: #000;
    text-align: center;
    z-index: 100;
    font-size: 0;
    line-height: 0;

    .swiper-pagination {
      &-current {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-right: calcRem(11rem);
        position: relative;

        &:after {
          content: "";
          width: 1px;
          height: calcRem(10rem);
          background-color: $gray1;
          position: absolute;
          right: 0;
          @include vertical-center;
        }
      }

      &-total {
        font-size: calcRem(18rem);
        line-height: calclH(19, 12);
        padding-left: calcRem(10rem);
      }
    }
  }

  // 프로그래스바
  .swiper-progress-bar {
    //bottom: 0;
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: calcRem(3rem);

    .slide_progress-bar {
      margin: 0 calcRem(105rem);
      position: absolute;
      height: calcRem(3rem);
      background: rgba(255, 255, 255, 0.5);
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background: #9B192F;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }

    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }

    &.animate {
      .slide_progress-bar {
        &:after {
          width: 100%;
          transition: width linear;
          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }
}
