@import "../base/variables";
@import "../base/mixins";

.product-wrap{
    display: block;

    //데이터 없음
    .notData-wrap{
        @include body5;
        text-align: center;
        padding:calcRem(80rem) calcRem(20rem);
        font-size:calcRem(12rem);
    }
}


// tab
.product-tab{
    width:calcRem($minWidth);
    margin: auto;
    margin-bottom: calcRem(50rem);
    box-sizing: border-box;

    &__fix{
        @include flexWrap;
        @include flex-alignCenter;
        @include flex-justifyCenter;
    }
    &__item{
        margin:0 calcRem(15rem);
        @include body1;

        &.is-current{
            font-weight:$medium;
            position: relative;

            &:after{
                position:absolute;
                left:-1%;
                bottom:-2px;
                width:102%;
                height:1px;
                background-color:#000;
                content:'';
            }
        }
    }

    &__cont{
        width: calcRem($minWidth);
        margin: calcRem(30rem) auto 0;
    }
}

//product Post Layout
.product-post{
    $this:&;

    padding: calcRem(20rem) 0;
    box-sizing: border-box;

    &__list{
        margin:calcRem(-20rem) 0;
        @include flexWrap;
    }

    &__item{
        padding:calcRem(20rem) 0;
        #{$this}--post &{
            width:33.33%;
        }

        #{$this}--list &{
            width:100%;
        }
    }

    //등록된 상품 없을 시
    &__no-product{
        @include body5;
        text-align: center;
        padding:calcRem(20rem) calcRem(20rem);
        font-size:calcRem(12rem);
    }
}

//product Post Item
.product-item{
    $this:&;
    position: relative;

    &:hover .product-icon__hover{
        opacity: 1;
        transform: rotateX(0);
    }

    &__link{
        position: relative;
        display: block;
    }

    &__state{
        font-size:calcRem(12rem);
        line-height:calclH(16,10);
        font-weight: $medium;
        color:$point1;
        position: absolute;
        top:calcRem(20rem);
        left:calcRem(20rem);
        z-index: $childZindex;
        text-transform: uppercase;

        &.type-circle{
            border-radius: 100%;
            width: calcRem(60rem);
            height: calcRem(60rem);
            line-height: 1.5;
            background-color: #b8a7ed;

            &.type-black{background-color: #525252;}
            &.type-khaki{background-color:#a6a189}
            &.type-tan{background-color:#ce9d6c;}
            &.type-black{background-color:#525252;}
            &.type-pink{background-color:#e4bbbf;}
            &.type-camel{background-color:#d2b173;}
            &.type-green{background-color:#aed1b3;}
            &.type-ivory{background-color:#ffebbf;}
            &.type-yellow{background-color:#FFDE00;}
            &.type-blue {background-color: #acd3f5;}
            &.type-violet {background-color: #b9a5f5;}
            &.type-butter_yellow { background-color: #f9e55f;}
            &.type-purple { background-color: #b8a7ed;}
            &.type-brown { background-color: #60322C;}

            .product-mark__circle {
                display: table-cell;
                width: 1%;
                height: inherit;
                vertical-align: middle;
                text-align: center;
                color: $whiteColor;
            }
            
        }

        &--expected{
            position: relative;
            padding-left:calcRem(5rem);
            margin-left:calcRem(5rem);

            &:after{
                content:"";
                width:1px;
                height:calcRem(6rem);
                background-color: $gray2;
                position: absolute;
                left:0;
                @include vertical-center;
            }
        }
    }

    &__thumb{
        line-height:0;
        position: relative;
        overflow: hidden;

        &:after{
            content:"";
            display: block;
            padding-bottom:100%;
        }
        img+img{
            opacity: 0;
        }
        &:hover{
            img+img{
                opacity: 1;
                transition: all 0.3s;
            }
        }
    }

    &__img{
        position: absolute;
        width:100%;
        @include ab-center;
    }

    &__cont{
        margin-top:calcRem(10rem);
        padding:0 calcRem(20rem);
        text-align: center;
    }

    &__title{
        text-transform: uppercase;
        @include body3;
    }

    &__price{
        margin-top:calcRem(10rem);

        &--sale{
            @include body3;
            font-weight: $regular;
            color:$throughColor;
            text-decoration: line-through;
            display:block;
        }

        &--current{
            @include body2;
            display:block;
        }
    }
}

.product-tab__info:not(:nth-child(2)){
    display: none;
}

//product top banner
.product-banner{
    margin-bottom:calcRem(80rem);
    line-height:0;
    position: relative;
    overflow: hidden;

    &.product-banner--img:after{
        content:"";
        display: block;
        padding-bottom:47%;
    }

    &.product-banner--video:after{
        content:"";
        display: block;
        padding-bottom:57%;
    }

    &__img{
        @include ab-center;
        width:100%;
    }

    &__file{
        @include ab-center;
        width:100% !important;
        height:100% !important;
    }
}


// product bottom banner
.product-banner-btm{
    width: calcRem($minWidth);
    margin:120px auto 0;

    &__list{
        padding: 0;
        font-size: 0;
        letter-spacing: 0;
        text-align: center;
    }
    &__item{
        display: inline-block;
        width: 33.3333%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        
        &:not(:last-child):after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width:1px;
            height: 100%;
            background-color: #fff;
        }
    }
    &__txt{
        margin-top: 15px;
        font-size: 0;
        @include title2;
    }
}


