@import "../base/variables";
@import "../base/mixins";
@import "../pages/promotion";

//font
@font-face {
    font-family: 'Gotham';
    src: url(../../fonts/gotham/GothamBlack.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url(../../fonts/gotham/GothamMedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

//mixin
@mixin imageBlock {
    display:block;
    width:100%;
}

@mixin create-line($classes...){
    @each $class in $classes {
        .#{$class} &{
            @content;
        }
    }
}

//animation keyframe
@-webkit-keyframes x-diagonal-slide-slow {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes x-diagonal-slide-slow {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@-webkit-keyframes x-diagonal-slide-med {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes x-diagonal-slide-med {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@-webkit-keyframes x-diagonal-slide-fast {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes x-diagonal-slide-fast {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@-webkit-keyframes y-diagonal-slide-slow {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes y-diagonal-slide-slow {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@-webkit-keyframes y-diagonal-slide-med {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes y-diagonal-slide-med {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@-webkit-keyframes y-diagonal-slide-fast {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}
@keyframes y-diagonal-slide-fast {
    0% {
        -webkit-transform: translateX(-800px);
        transform: translateX(-800px);
    }
    100% {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
}

@keyframes fyl-arrow {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0px, 20px);
        opacity: 0;
    }
}

// project - about: 섹션
.find{
    //기본값
    &-section {
        $this: &;

        &__list {
            margin: calcRem(44rem) 0 0;
            padding: calcRem(50rem);
            list-style: none;
            font-size: 0;
            letter-spacing: 0;
            background-color: #fff;
        }

        &__item {
            display: inline-block;
            width: 25%;
        }

        &__link {
            display: block;
        }

        &__wrap{
            margin:0 auto;
            width: calcRem(1200rem);
        }
        &__bottom{
            margin: calcRem(24rem) 0 0;
            font-size: calcRem(14rem);
            text-align: center;
        }
    }
    //섹션0
    &-section0 {
        padding: calcRem(80rem) 0 calcRem(80rem);
        background: url(https://cdn.louisclub.com/static/fr/img/find/bg_01.jpg) no-repeat center bottom calcRem(80rem)/cover;
    }

    //섹션1
    &-section1 {
        margin-top: calcRem(-80rem);
        padding-top: 16%;
        background: url(https://cdn.louisclub.com/static/fr/img/find/bg_02.jpg) no-repeat center center/cover;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 0;

        &__txt {
            margin-top: 22%;
        }

        &__top {
            background: url(https://mcdn.louisclub.com/static/mo/img/find/section2_top_bg.jpg) no-repeat center center/cover;
        }
    }

    //섹션2
    &-section2 {
        margin-bottom: calcRem(-120rem);
        overflow: hidden;
        background: url(https://cdn.louisclub.com/static/fr/img/find/bg_03.jpg) no-repeat center center/cover;
        &__top {
            position: relative;
            background: url(https://mcdn.louisclub.com/static/mo/img/find/section4_bg1.jpg) no-repeat center center/cover;
        }

        &__top:after {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 13%;
            width: 0;
            height: 100%;
            border-left: 1px solid #fff;
            content: '';
        }
    }

}

// project - about:첫번째 섹션 - 애니메이션 영역
.find-poster {
    width: 100%;
    vertical-align: middle;
    &__content{
        margin: 0 auto;
        width: calcRem(580rem);
        height: calcRem(800rem);
        color: $whiteColor;
        position: relative;
        overflow: hidden;
        background-color: #9367db;
        &:after{
            content:"";
            display: block;
            padding-bottom: calcRem(580rem);
        }
    }
    &__wrap{
        position: absolute;
        box-sizing: border-box;
        padding-right: calcRem(50rem);
        padding-bottom: calcRem(50rem);
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(30deg);
        transform-origin: center center;
    }
    &__meta{
        font-size: calcRem(4rem);
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        letter-spacing: .05em;
        float: right;

        &:after{
            @include block-reset;
        }
    }
    &__box{
        float: left;
        padding-right: calcRem(100rem);
        vertical-align: top;
        box-sizing: border-box;
        &:last-child{
            padding-right: calcRem(160rem);
        }
    }
    &__title{
        white-space: nowrap;
        padding-right: calcRem(36rem);
    }
    &__name{
        margin: 0;
        font-size: calcRem(126rem);
        font-family: 'Gotham';
        line-height: 1.4;
        font-weight: 600;
    }

    // 애니메이션 바
    &__graphic{
        div{
            position: absolute;
            background: #fff;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        &--x{
            z-index: 1;
            margin-left: calcRem(35rem);
            margin-top: calcRem(10rem);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    &__span{
        display: block;
        font-size: calcRem(34rem);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        white-space: nowrap;
    }

    &__meta p{
        display: block;
        margin-top: 0;
        margin-bottom: calcRem(12rem) !important;
        font-size: calcRem(34rem);
    }

    // 애니메이션 컨텐츠
    .artist{
        font-size: calcRem(16rem);
        font-family: 'Gotham';
        font-weight: 500;
        text-transform: uppercase;

        &__name + &__name{
            margin-top: 6%;
        }

        &__name{
            font-family: 'Gotham';
            font-weight: 500;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }
    &__span{
        font-size: calcRem(34rem);
        font-family: 'Gotham';
        font-weight: 600;
    }
    &__meta{
        &__artist{
            margin: 0;
            font-family: 'Gotham';
            font-weight: 600;
            white-space: nowrap;
        }
    }

    //애니메이션 바
    &__graphic{
        div {
            position: absolute;
            background: #fff;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        &--x{
            .x-1{
                left: 245px;
                bottom: 20px;
                width: 60px;
                height: 2px;
                -webkit-animation: x-diagonal-slide-fast 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-fast 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-2{
                left: 208px;
                bottom: -100px;
                width: 100px;
                height: 8px;
                -webkit-animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-3{
                left: 155px;
                bottom: -85px;
                width: 155px;
                height: 20px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-4{
                left: 108px;
                bottom: -115px;
                width: 200px;
                height: 2px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-5{
                left: -70 px;
                bottom: -140px;
                width: 330px;
                height: 12px;
                -webkit-animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-6{
                left: -430px;
                bottom: -140px;
                width: 120px;
                height: 12px;
                -webkit-animation: x-diagonal-slide-fast 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-fast 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-7{
                left: -440px;
                bottom: -65 px;
                width: 450px;
                height: 20px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-8{
                left: 20px;
                bottom: -10px;
                width: 170px;
                height: 2px;
                -webkit-animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-9{
                left: -350px;
                bottom: -10px;
                width: 260px;
                height: 2px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-10{
                left: -360px;
                bottom: -115px;
                width: 370px;
                height: 2px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-11{
                left: -270px;
                bottom: -100px;
                width: 370px;
                height: 8px;
                -webkit-animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-med 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }

            .x-12{
                left: -235px;
                bottom: 3px;
                width: 165px;
                height: 12px;
                -webkit-animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
                animation: x-diagonal-slide-slow 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
            }
        }
    }
}

.find-artist{
    &__name{
        font-size: calcRem(16rem);
        font-family: GothamM !important;
        text-transform: uppercase;
    }
    &__name + &__name{
        margin-top: 6%;
    }
}

// 리스트
.find-info{
    margin-top: calcRem(100rem);
    display: inline-block;
    width: 100%;
    &__wrap{
        margin: 0 auto;
        width: calcRem(1200rem);
    }
    &__box{
        float: left;
        width: 50%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    &__box:nth-child(2){
        margin-top: calcRem(-9rem);
        padding-left: calcRem(20rem);
    }
    &__parm + &__parm{
        margin-left: calcRem(40rem);
    }
    &__parm{
        float: left;
        width: calcRem(270rem);
        margin: 0;
        vertical-align: top;
        font-size: calcRem(15rem);
        font-family: 'Noto Sans KR';
        font-weight: 300;
        color: #000;
        line-height: 2;
        text-align: justify;
        word-break: break-all;
    }
}

.find-bottom{
    padding: calcRem(120rem) 0 calcRem(40rem);
    text-align: center;
    &__box{
        float: left;
        width: 50%;
        text-align: left;
        &.type-logo {
            padding-left: calcRem(218rem);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    &__txt{
        float: right;
        margin: 0;
        width: calcRem(464rem);
        font-size: calcRem(15rem);
        color: #fff;
        line-height: 2;
        text-align: justify;
        word-break: break-all;
    }
    &__logo{
        display: inline-block;
        margin-top: calcRem(90rem);
    }
}

.find-video{
    margin: calcRem(100rem) 0 calcRem(-80rem);
    margin-top: calcRem(100rem);
    &__wrap{
        margin: 0 auto;
        width: 34%;
    }
    &__box{
        position: relative;
    }
    &__video{
        width: 100%;
    }
    &__sound{
        display: block;
        position: absolute;
        right: calcRem(26rem);
        bottom: calcRem(26rem);
        overflow: hidden;
        width: calcRem(36rem);
        height: calcRem(36rem);
        background: url(https://cdn.louisclub.com/static/fr/img/specialty/20200911/sound_off.png) no-repeat center center/contain;
        text-indent: -9999px;
    }
}

// 매장 관련 섹션
.find-store {
    margin-top: calcRem(150rem);
    padding-bottom: calcRem(150rem);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &__tit{
        margin: 0 0 calcRem(40rem);
    }
    &__box{
        width: calcRem(890rem);
        &.type-desc{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 310px;
            padding-left: calcRem(40rem);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    &__wrap{
        position: relative;
    }
    &__name{
        position: absolute;
        bottom: calcRem(120rem);
        margin: 0 0 calcRem(60rem);
        font-size: calcRem(16rem);
        font-weight: 500;
    }
    &__txt1{
        margin: 0;
        font-size: calcRem(24rem);
        font-weight: 600;
        font-family: GothamM !important;
        text-transform: uppercase;
        line-height: 1.2;
    }
    &__txt2{
        font-size: calcRem(16rem);
        font-weight: 500;
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item{
        display: none;
        &.is-active{
            display: block;
        }
    }
}
.find-slide{
    position: relative;
    overflow: hidden;
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link{
        display: block;
    }
    &-pagination{
        position: absolute;
        left: 0;
        right: 0;
        bottom: calcRem(20rem) !important;
        text-align: center;
        width: 100%;
        z-index: 50;
        line-height: 0;
        font-size: 0;
        .swiper-pagination-bullet {
            margin-left: 18px;
            width: 8px;
            height: 8px;
            background: #fff !important;
            opacity: 1 !important;
            display: inline-block;
            border-radius: 100%;
            &:first-child{
                margin-left: 0;
            }
        }
        .swiper-pagination-bullet-active{
            background: #000 !important;
        }
    }
}
//애니메이션
.motion{
    &-up{
        opacity: 0;
        transform: translateY(50%);
        transition-property: opacity, transform;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.05, 0.83);

        &--active{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//프로젝트 컨포넌트
.findIntroduce{
    $this:&;
    $total:11;
    @for $i from 1 to $total{
        &.nth-#{$i}{
            margin-bottom: calcRem(-120rem);
            background:url('../../images/project/findintroduce/#{$i}/bg.jpg') no-repeat center center / cover;
        }
    }
    &__wrap{
        position:relative;
        width:calcRem(1200rem);
        margin:0px auto;
        border-left:1px solid rgba(255,255,255,0.6);
        border-right:1px solid rgba(255,255,255,0.6);
        box-sizing: content-box;
    }
    &__num{
        display:inline-block;
        padding:30px;
        border-right:1px solid rgba(255,255,255,0.6);
    }
    &__section{
        position:relative;
        font-size:0;
        box-sizing:border-box;
        letter-spacing: 0;
        & + &{
            border-top:1px solid rgba(255,255,255,0.6);
        }
    }
    &__box{
        position:relative;
        display:inline-block;
        width:50%;
        vertical-align: top;
        &.type-txt{
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            padding:0 0 0 calcRem(20rem);
            box-sizing: border-box;
            font-size:0;
            letter-spacing: 0;
        }
    }
    &__header{
        position:absolute;
        top:0;
        left:0;
        right:0;
        padding-left:calcRem(30rem);
        padding-top:calcRem(30rem);
        box-sizing:border-box;
    }
    &__header2{
        width:400px;
        padding:30px;
        border-right:1px solid rgba(255,255,255,0.6);
        box-sizing: border-box;
    }
    &__name{
        display:inline-block;
        margin:0 0 calcRem(18rem);
        font-size: calcRem(20rem);
        font-weight:400;
    }
    &__name2{
        margin:0;
        font-size:calcRem(20rem);
        font-family: GothamM;
        line-height:1;
    }
    &__top{
        padding:calcRem(70rem) 0 calcRem(30rem);
        text-align: center;
        text-transform: uppercase;
    }
    &__vertical{
        display:inline-block;
        width:calcRem(150rem);
        height:100%;
        padding:calcRem(30rem) 0 0 0;
        border-left:1px solid rgba(255,255,255,0.6);
        vertical-align: top;
        box-sizing: border-box;
        text-align: center;
    }
    &__eng{
        display:block;
        font-family: GothamM;
        text-transform: uppercase;
        font-size:calcRem(45rem);
        line-height:1;
        letter-spacing: -1px;
    }
    &__bottom{
        padding:calcRem(96rem) 0 calcRem(120rem);
        border-top:1px solid rgba(255,255,255,0.6);
        text-align: center;
        box-sizing:border-box;
    }
}
.findIntroduce-txt{
    display:inline-block;
    width:430px;
    height:100%;
    padding-top:30px;
    vertical-align: top;
    box-sizing:border-box;
    &__parm{
        display:inline-block;
        width:50%;
        margin:0;
        padding-right:calcRem(20rem);
        font-size:calcRem(15rem);
        font-weight:400;
        line-height:2.1;
        vertical-align: top;
        box-sizing:border-box;
        text-align:justify;
        word-break: break-all;
    }
}

.content-video {
    text-align: center;
    &__wrap{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    &__area{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &.is-active{
            z-index: 20;
            opacity: 1;
        }
    }
    &__intro{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 15;
        &.is-hide{
            display:none;
        }
    }
    &__play{
        width: 100%;
        height: 100%;
        background: url("https://cdn.louisclub.com/static/fr/img/find/play_btn.png") no-repeat center center/cover;
        cursor: pointer;
    }
    &__iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        z-index: 10;
    }
}
.findIntroduce-slide{
    position:relative;
    overflow:hidden;
    &__desc{
        position: absolute;
        top:calcRem(40rem);
        right:calcRem(40rem);
        margin:0;
        font-size:calcRem(16rem);
        z-index:50;
        font-family: GothamB;
        text-align:right;
        line-height:1.625;
        text-transform: uppercase;
    }
    &__point{
        display:block;
        font-family: GothamM;
        text-transform: uppercase;
    }
    &__list{
        margin:0;
        padding:0;
        list-style:none;
    }
    &__dot{
        position: absolute;
        left: 0;
        right: 0;
        bottom: calcRem(20rem) !important;
        text-align: center;
        width: 100%;
        z-index: 50;
        line-height: 0;
        font-size: 0;
        .swiper-pagination-bullet {
            margin-left: 18px;
            width: calcRem(8rem);
            height: calcRem(8rem);
            background: #fff !important;
            opacity: 1 !important;
            display: inline-block;
            border-radius: 100%;
            &:first-child{
                margin-left: 0;
            }
        }
        .swiper-pagination-bullet-active{
            background: #000 !important;
        }
    }
}
.findIntroduce-store{
    position:relative;
    border-top:1px solid rgba(255,255,255,0.6);
    $this:&;
    &:after{display:block; clear:both; content:'';}
    &__box{position:absolute; top:0; left:0; bottom:0; display:inline-block; width:calcRem(400rem); border-right:1px solid rgba(255,255,255,0.6); vertical-align: top; box-sizing: border-box;}
    &__slide{float:right; width:calcRem(800rem);}
    &__wrap{position: absolute; left:calcRem(30rem); bottom:calcRem(108rem);}
    &__name{margin-bottom:calcRem(4rem);}
    &__list{margin:calcRem(26rem) 0 0 0; padding:0; list-style:none;}
    &__item{
        &.type-address{
            #{$this}__link:before{background:url('../../images/common/ico_1.png')}
        }
        &.type-map{
            #{$this}__link:before{background:url('../../images/common/ico_2.png')}
        }
        &.type-tel{
            #{$this}__link:before{background:url('../../images/common/ico_3.png')}
        }
        & + &{margin-top:12px;}
    }
    &__input{overflow: hidden;position: absolute;top: auto;width: calcRem(1rem);height: calcRem(1rem);padding: 0;margin: -1px;border: 0;clip: rect(0, 0, 0, 0); user-select: auto;}
    &__link{position:relative; padding-left:calcRem(32rem); box-sizing: border-box; margin:0; font-size:16px; font-weight:400;
        &:before{position:absolute; top:0; bottom:0; left:0; display:block; width:calcRem(24rem); height:calcRem(24rem); margin:auto 0; content:'';}
    }
    &__name{margin:0; font-size:calcRem(24rem); font-weight:bold;}
    &__address{margin:0; font-size:calcRem(16rem); font-weight:400;}
}

.find-sns{
    float:right;
    margin:0;
    padding:0 calcRem(30rem) 0 0;
    list-style:none;
    &__item{
        & + &{margin-top:calcRem(20rem);}
    }
}

// cart action
.cart-fix{
    &.is-project{
        transition: bottom 0.3s;
    }
}

/*유튜브 썸네일 수정*/
.content-video__area.nth-1 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_1.jpg") no-repeat center center/cover;
}

.content-video__area.nth-2 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_2.jpg") no-repeat center center/cover;
}

.content-video__area.nth-3 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_3.jpg") no-repeat center center/cover;
}

.content-video__area.nth-4 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_4.jpg") no-repeat center center/cover;
}

.content-video__area.nth-5 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_5.jpg") no-repeat center center/cover;
}

.content-video__area.nth-6 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_6.jpg") no-repeat center center/cover;
}

.content-video__area.nth-7 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_7.jpg") no-repeat center center/cover;
}

.content-video__area.nth-8 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_8.jpg") no-repeat center center/cover;
}

.content-video__area.nth-9 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_9.jpg") no-repeat center center/cover;
}

.content-video__area.nth-10 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/find/youtube_thumbnail_10.jpg") no-repeat center center/cover;
}


/* 프로젝트 그루비룸 */
.event-wrap {
    width: 100%;
    margin: 0 auto calcRem(-120rem);
}
.event-top {
    position: relative;
    &__btn{
        position: absolute;
        display: block;
        right: calcRem(93rem);
        top: calcRem(40rem);
        width: calcRem(37rem);
        height: calcRem(30rem);
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/sound_off.png") no-repeat center center/contain;
        z-index: 30;
        &.is-active{
            background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/sound_on.png") no-repeat center center/contain;
        }
    }

    &__video{
        position: relative;
        width: 100%;
        video{
            width: 100%;
            display: block;
        }
    }

    &__arrow{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        display: block;
        margin: 0 auto;
        width: calcRem(31rem);
        height: calcRem(16rem);
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/top_arrow.png") no-repeat center center/contain;
        z-index: 30;
        animation: sdb 1s infinite;
    }

    &__box{
        img{
            width: 100%;
        }
    }
}
.event-section {
    position: relative;
    height: 100vh;
    z-index: 30;
    &__wrap{
        max-width: calcRem(1280rem);
        width: 100%;
        height: inherit;
        margin: 0 auto;
        padding: 0 40px;
        box-sizing: border-box;
        &.type-section{
            padding: 0 0 0 6.6%;
            box-sizing: border-box;
        }
    }

    &__area{
        max-width: calcRem(942rem);
    }

    &.nth-1{
        background-color: #000;
    }
    &.nth-0{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_0.jpg") no-repeat center center/cover;
    }
    &.nth-2{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_1.jpg") no-repeat center center/cover;
    }
    &.nth-3{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_2.jpg") no-repeat center center/cover;
    }
    &.nth-4{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_3.jpg") no-repeat center center/cover;
    }
    &.nth-5{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_4.jpg") no-repeat center center/cover;
    }
    &.nth-6{
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/section_bg_5.jpg") no-repeat center center/cover;
    }
    &.nth-7{
        background-color: #000;
    }

    &__outer{
        display: inline-table;
        width: 100%;
        height: 100%;
    }
    &__inner{
        display: table-cell;
        height: 100%;
        width: 1%;
        vertical-align: middle;
        text-align: center;
    }
    &__box:after{
        display: block;
        clear: both;
        content: '';
    }
    &__menu{
        position: relative;
        float: right;
        margin-top: calcRem(12rem);
    }
    &__link{
        position: absolute;
        display: block;
        height: 100%;
        overflow: hidden;
        text-indent: -999px;
        &:nth-child(1){
            left: 0;
            width: 23.33%;
            z-index: 5;
        }
        &:nth-child(2){
            left: 0;
            right: 0;
            width: 37.33%;
            margin: 0 auto;
        }
    }

    &__bg{
        display: none;
        &.is-active{
            display: block;
        }
    }
    &__img{
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
    }
    &__white{
        color: #fff;
    }
}

.event-section__wrap.type-section .event-section__inner {
    text-align: left;
}

.event-section__link:nth-child(3), .event-section__link.type-music {
    left:auto;
    right: 0;
    width: 21.66%;
    z-index: 5;
}

.event-section__menu.type-two .event-section__link:nth-child(1){
    left:auto;
    right:29%;
    width: 30%;
    margin: 0 auto;
}
.event-section__menu.type-two .event-section__link:nth-child(2){
    left:auto;
    width: 21.66%;
}


@media only screen and (max-width: 1280px) {
    .event-section__wrap.type-section {
        padding: 0 6.6% 0 6.6%;
        box-sizing: border-box;
    }
}

.content-video {
    text-align: center;
    &__wrap{
        position: relative;
        margin: calcRem(20rem) 0 calcRem(48rem);
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    &__area{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        &.is-active{
            z-index: 20;
            opacity: 1;
        }
    }
    &__intro{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 15;
        &.is-hide{
            display: none;
        }
    }
    &__play{
        width: 100%;
        height: 100%;
        background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/play_btn.png") no-repeat center center/cover;
        cursor: pointer;
    }
    &__youtube{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        z-index: 10;
    }
}

.content-video__area.nth-1 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_16.jpg") no-repeat center center/cover;
}

.content-video__area.nth-2 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_18.jpg") no-repeat center center/cover;
}

.content-video__area.nth-3 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_17.jpg") no-repeat center center/cover;
}

.content-video__area.nth-4 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_1.jpg") no-repeat center center/cover;
}

.content-video__area.nth-5 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_2.jpg") no-repeat center center/cover;
}

.content-video__area.nth-6 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_3.jpg") no-repeat center center/cover;
}

.content-video__area.nth-7 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_4.jpg") no-repeat center center/cover;
}

.content-video__area.nth-8 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_5.jpg") no-repeat center center/cover;
}

.content-video__area.nth-9 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_6.jpg") no-repeat center center/cover;
}

.content-video__area.nth-10 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_7.jpg") no-repeat center center/cover;
}

.content-video__area.nth-11 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_8.jpg") no-repeat center center/cover;
}
.content-video__area.nth-12 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_9.jpg") no-repeat center center/cover;
}
.content-video__area.nth-13 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_10.jpg") no-repeat center center/cover;
}
.content-video__area.nth-14 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_11.jpg") no-repeat center center/cover;
}
.content-video__area.nth-15 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_12.jpg") no-repeat center center/cover;
}
.content-video__area.nth-16 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_13.jpg") no-repeat center center/cover;
}
.content-video__area.nth-17 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_14.jpg") no-repeat center center/cover;
}
.content-video__area.nth-18 .content-video__intro {
    background: url("https://cdn.louisclub.com/static/fr/img/specialty/20200710/video_bg_15.jpg") no-repeat center center/cover;
}

.event-typed {
    display: inline-block;
    position: relative;
    &__wrap{
        display: none;
    }
}
.event-typed__tit {
    display: inline-block;
    margin: 0;
    font-size: calcRem(70rem);
    font-weight: 300;
    color: #7b7b7b;
    font-family: GothamB;
}

.event-typed__point {
    color: #fff;
}

.event-menu {
    margin: calcRem(8rem);
    padding: 0;
    text-align: left;
    &.type-section{
        float: left;
    }
    &.type-top{
        margin-top: calcRem(50rem);
    }
}
.event-menu__item {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}
.event-menu__item + .event-menu__item {
    margin-left: calcRem(28rem);
}

.typed-cursor {
    opacity: 0;
    display: inline-block;
    bottom: 0;
    right: 0;
    margin-left: calcRem(5rem);
    font-weight: 500;
    font-size: calcRem(70rem);
    &.is-focus{
        opacity: 1;
        animation: blink 0.6s infinite;
    }
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

@keyframes sdb {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0px, 20px);
        opacity: 0;
    }
}