@import "../base/variables";
@import "../base/mixins";
//@import "../pages/project";

@mixin imageBlock {
  display:block;
  width:100%;
}

.site-project{
  padding-top: calcRem(60rem);
}
// collaboration
// 콜라보 리스트
.collabo{
  &-list{
    margin: 0 auto;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: calcRem(1200rem);
    list-style: none;
    font-size: 0;
    letter-spacing: 0;
    text-align: left;
    cursor: pointer;

    &-wrap{
      padding-bottom: calcRem(80rem);
      .collabo-list__wrap:nth-child(2){
        margin-left: calcRem(80rem);
      }
    }

    &__wrap{
      display: inline-block;
      width: calcRem(560rem);
      vertical-align: top;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-transition: -webkit-filter 1s;
      transition: -webkit-filter 1s;
      transition: filter 1s;
      transition: filter 1s, -webkit-filter 1s;
    }
    /*
    &__wrap{
        &.is-hover{
            filter: grayscale(100%);
            .collabo-list__txt{
                opacity: 1;
            }
        }
    }*/
    &__list{
      display: inline-block;
    }
    &__item{
      position: relative;
    }
    &__link{
      display: block;
    }
    &__img{
      @include imageBlock;
    }
    &__box{
      @include vertical-center;
      position: absolute;
      width: calcRem(360rem);
      margin: 0 auto;
      left: 0;
      right: 0;
      padding: calcRem(10rem) 0;
      font-size: calcRem(16rem);
      letter-spacing: calcRem(0.2rem);
      color: #fff;
      border: 1px solid #fff;
      text-align: center;
      text-transform: uppercase;
      /*-webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;*/
    }

  }
}


