@import "../base/variables";
@import "../base/mixins";
@import "../pages/product";

@mixin imageBlock {
  display:block;
  width:100%;
}

// 회전 애니메이션
@keyframes objRotate{
  0%{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
  }
}

// 슬라이드되는 애니메이션
@keyframes photoline{
  0%{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100%{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.promotion{
  &-side{
      margin: 0 auto;
      width: calcRem(1200rem);
  }

  // 프로모션 리스트
  // 프로모션 메인배너
  &-banner{
    margin: 0 auto;
    position: relative;
    padding-top: calcRem(60rem);
    width: calcRem(550rem);
    &__img{
      @include imageBlock;
    }
    &__bottom{
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: calcRem(40rem);
    }
    &__txt{
      color: #fff;
      font-size: calcRem(14rem);
    }
    &__link{
      position: relative;
      display: block;
    }
    &__visual{
      &.is-video{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
    }
    &__video{
      width: auto;
      height: 100vh;
    }
  }

  // 프로모션 배너 리스트 그룹
  &-wrap{
    margin: 0 auto;
    width: calcRem(880rem);
    padding: calcRem(80rem) 0;
    list-style: none;
    font-size: 0;
    letter-spacing: 0;
    &.only-bottom{
      width: calcRem(1200rem);
      .promotion-list{
        padding-left: 0;
        width: 33%;
      }
    }
  }

  // 프로모션 배너 리스트
  &-list{
    display: inline-block;
    position: relative;
    width: calcRem(400rem);
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;

    &-wrap + &-wrap{
      padding-top: calcRem(50rem);
    }
    &-wrap{
      padding-top: 0;
      .promotion-list:nth-child(2){
        margin-left: calcRem(80rem);
      }
    }

    &__link{
      display: block;
    }
    &__img{
      @include imageBlock;
    }
    &__name{
      padding-top: calcRem(10rem);
      text-align: center;
      font-size: calcRem(14rem);
      font-weight: 100;
    }
  }

  // 프로모션 뷰 비주얼
  &-view{
    padding: calcRem(60rem) 0 calcRem(100rem);
    &.payco-only{
      margin: 0 auto;
      width: calcRem(894rem);
      min-width: calcRem(894rem);
    }
    &__name{
      font-size: calcRem(24rem);
      font-weight: 400;
      &.payco-only{
        font-size: calcRem(30rem);
        font-weight: 300;
      }
    }
    &__title{
      text-align: center;
      padding-top: calcRem(100rem);
      &.payco-only{
        padding: calcRem(30rem) 0;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
      }
    }
    &__date{
      margin-top: calcRem(9rem);
      font-size: calcRem(14rem);
      font-weight: 100;
      color: #484848;
      &.payco-only{
        letter-spacing: calcRem(1.3rem);
      }
    }
    &__visual{
     // min-width: calcRem(1200rem);
      img{
        @include imageBlock;
      }
      &--play{
        position: relative;
      }
      &--thumb{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../images/collection/video_thumnail.jpg') no-repeat center center/cover;
        z-index: 1;
        &.is-nobg{
          background-image: none;
        }
      }
      &--btn{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 17.77%;
        margin: 0 auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    &__iframe{
      width: 100%;
      height: calcRem(210rem);
      display: block;
    }
    &__video{
      width: 100%;
      display: block;
      line-height: 0;
      &--src{
        width: 100%;
      }
    }
    &__videoNew{
      width: 100%;
      display: block;
    }
    &__sound{
      display: block;
      position: absolute;
      right: calcRem(20rem);
      bottom: calcRem(25rem);
      overflow: hidden;
      width: calcRem(30rem);
      height: calcRem(30rem);
      background: url(https://cdn.louisclub.com/static/fr/img/specialty/20200911/sound_off.png) no-repeat center center/contain;
      text-indent: -9999px;
      -webkit-user-select: auto;
      -moz-user-select: auto;
      -ms-user-select: auto;
      user-select: auto;
    }
    &__motion{
      overflow: hidden;
    }
    &__wrap{
      font-size: 0;
      wdith: calcRem(5324rem);
      white-space: nowrap;
      -webkit-animation: photoline 20s infinite linear;
      animation: photoline 20s infinite linear;
    }

    &__contents{
        display: block;
        position: relative;
        width: 100%;
        padding-top: calcRem(70rem);
        text-align: center;
        background-color: #fbfbfb;
    }
    &__header{
        color: #2C5497;

        &--en{
          margin: 0;
          font-size: calcRem(44rem);
          font-family: $defaultFont;
          font-weight: 300;
          line-height: calcRem(40rem);
          text-transform: uppercase;
          letter-spacing: calcRem(1.6rem);
        }
        &--ko{
          margin: 0;
          padding-top: calcRem(10rem);
          font-size: calcRem(22rem);
          font-family: 'Noto Sans KR', sans-serif;
          font-weight: 400;
          line-height: calcRem(40rem);
          letter-spacing: calcRem(2.2rem);
          text-transform: uppercase;
        }
    }
  }

  // 프로모션 상품 리스트
  &-group{
    margin: 0 auto;
    width: calcRem(1200rem);
    margin-bottom: calcRem(-60rem);
  }
  &-product{
    // position: relative;
    &__header{
      padding: 0 calcRem(20rem);
      text-align: center;
    }
    &__name{
      padding-bottom: calcRem(10rem);
      border-bottom: 1px solid #dddddd;
      font-size: calcRem(24rem);
    }
    &__wrap{
      width: 100%;
      overflow: hidden;
      @include flexWrap;
    }
    &__item{
      width: 33%;
      float: left;
      padding: calcRem(20rem) 0 calcRem(60rem);
      position: relative;
      box-sizing: border-box;

      .product-item{
        &__state{
          text-transform: uppercase;

          &.type-circle{
            color: $whiteColor;
            text-align: center;
            padding-top: calcRem(12rem);
            box-sizing: border-box;
          }
        }
      }

      /*&:nth-child(odd){
        clear:both;
      }*/
    }
  }

  // 프로모션 모델슬라이드
  &-model{
    position: relative;
    &__wrap{
      width: 100%;
    }
    &__img{
      display: block;
      width: 100%;
    }
  }

  // 프로모션 flash추가 시
  &-flash{
    overflow: hidden;
    position: relative;
    padding-bottom: 96.11%;
    background: url('https://mcdn.louisclub.com/static/mo/img/specialty/20210614/bg.jpg') no-repeat center center/cover;
    &__img {
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      &.is-rotate{
        animation-name: objRotate;
        animation-duration: 10000ms;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -ms-animation-name: objRotate;
        -ms-animation-duration: 10000ms;
        -ms-animation-timing-function: linear;
        -webkit-animation-name: objRotate;
        -webkit-animation-duration: 10000ms;
        -webkit-animation-timing-function: linear;
      }
    }
  }

  //가격대별 선물추천
  &-recommend{
    margin: calcRem(57rem) auto 0 0;
    //min-width: calcRem(1200rem);

    &__header{
      margin-bottom:calcRem(20rem);
      text-align: center;
    }

    &__title{
      @include heading3;
      text-transform: uppercase;
      margin:0 0 calcRem(30rem);
    }

    //tab
    &__tab{
      &--inner{
        text-align: center;
        font-size:0;
        line-height:0;
      }
      &--item{
        display: inline-block;
        vertical-align: middle;
        width: 17.33333%;

        color: #4C72B1;
        border: 1px solid #4B6DC3;
        box-sizing: border-box;
        &.is-current{
          color: #18499A;
          border: 1px solid #4B6DC3;
          background: rgba(170, 184, 220, 0.33);
        }
        &:nth-child(2){
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
        }
      }

      &--link{
        display: block;
        font-size: calcRem(22rem);
        line-height: calcRem(44rem);
        font-weight: $regular;
        .is-current &{
          opacity: 1;
        }
      }
    }
  }

  &-thumb {
    //썸네일
    &__inner {
      position: relative;
      width: 100%;
      display: block;
    }

    &__img {
      width: 100%;
    }

    //prev, next
    &--prev {
      width: calcRem(15rem);
      height: calcRem(30rem);
      position: absolute;
      left: 0;
      @include vertical-center;
      @include pageBackground('/images/common/ico_slide_prev.svg', 'no-repeat center center / contain');
      background-size: calcRem(15rem) calcRem(30rem);
      z-index: $childZindex;
      cursor: pointer;
    }

    &--next {
      width: calcRem(15rem);
      height: calcRem(30rem);
      position: absolute;
      right: 0;
      @include vertical-center;
      @include pageBackground('/images/common/ico_slide_next.svg', 'no-repeat center center / contain');
      background-size: calcRem(15rem) calcRem(30rem);
      z-index: $childZindex;
      cursor: pointer;
    }

    //페이징
    &__pagination {
      padding-top: calcRem(40rem);
      text-align: center;
      font-size: 0;
      line-height: 0;

      .swiper-pagination {
        &-current {
          font-size: calcRem(18rem);
          line-height: calclH(19, 12);
          padding-right: calcRem(11rem);
          position: relative;

          &:after {
            content: "";
            width: 1px;
            height: calcRem(10rem);
            background-color: $gray1;
            position: absolute;
            right: 0;
            @include vertical-center;
          }
        }

        &-total {
          font-size: calcRem(18rem);
          line-height: calclH(19, 12);
          padding-left: calcRem(10rem);
        }
      }
    }

    // 프로그래스바
    .swiper-progress-bar {
      bottom: 0;
      position: absolute;
      width: 100%;
      display: block;
      z-index: 1;
      height: calcRem(3rem);

      .slide_progress-bar {
        margin: 0 auto;
        position: absolute;
        width: calcRem(356rem);
        height: calcRem(2rem);
        //background: rgba(255, 255, 255, 0.5);
        background: #dcdcdc;
        clear: both;
        opacity: 0;
        bottom: calcRem(30rem);
        left: 0;
        right: 0;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          background: #2C5497;
          height: 100%;
          width: 0;
          content: "";
          transition: 0.1s width linear;
        }
      }

      &.active {
        .slide_progress-bar {
          opacity: 1;
        }
      }

      &.animate {
        .slide_progress-bar {
          &:after {
            width: 100%;
            transition: width linear;
            transition-delay: unset;
            transition-duration: 5s;
          }
        }
      }
    }


    //상품명,가격
    &__bottom {
      bottom: calcRem(-28rem);
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: calcRem(16rem);
      line-height: calcRem(20rem);
    }

    &__name{
      margin: 0 auto;
      //padding-bottom: calcRem(18rem);
      //width: calcRem(308rem);
      height: calcRem(40rem);
      font-weight: 300;
      text-align: center;
      line-height: calcRem(24rem);
    }

    &__price {
      @include body2;
      position: absolute;
      width: 100%;
      margin-top: calcRem(18rem);
    }
  }

}


// 프로모션 상세 :: 스테이징 구조에 따른 스타일적용
.container + .promotion-wrap {
  padding-top: 0;
}

#planListArea{
  .promotion-list__link{
    margin-bottom: calcRem(30rem);
  }
}



/*promotin lalawllet css*/
.event {
  &.minicaviar{
    background: none !important;
  }
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 0 !important;
  &-visual{
    width: 100%;
    height: auto;
    &__wrap{
      position: relative;
      width: 100%;
    }
    &__img{
      width: 100%;
    }
  }
  &-wrap{
    padding: calcRem(40rem) 0;
    min-width: calcRem(1200rem);
  }
  &-title{
    position: relative;
    font-size: calcRem(30rem);
    font-weight: 400;
    text-transform: uppercase;
    &__name{
      text-align: center;
      letter-spacing: calcRem(1.3rem);
    }
  }
  &-slide{
    position: relative;
    width: 100%;
    height: fit-content;
    &__container{
      text-align: center;
    }
    &__section{
      position: relative;
      margin: 0 auto;
      overflow: hidden;
    }
    &__name{
      padding-bottom: calcRem(50rem);
      font-size: calcRem(22rem);
      font-weight: 300;
      letter-spacing: calcRem(1.3rem);
    }
    &__item{
      display: block;
    }
    &__img{
      width: auto !important;
      margin: 0 auto;
      display: block;
    }
  }

  /* input range */
  &-range{
    margin: 0 auto;
    width: calcRem(863rem);
    padding-top: calcRem(30rem);
    &__bar{
      -webkit-appearance: none;
      width: 100%;
      height: calcRem(100rem);
      background: none;
      &:focus{
        outline: none;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: calcRem(10rem);
        cursor: pointer;
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
      &::-webkit-slider-thumb {
        margin-top: calcRem(-10rem);
        height: calcRem(55rem);
        width: calcRem(39rem);
        border-radius: 7px;
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_cursor.png') no-repeat center center/cover;
        cursor: pointer;
        -webkit-appearance: none;
      }
      &:focus::-webkit-slider-runnable-track {
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
      &::-moz-range-track {
        width: 100%;
        height: calcRem(12.8rem);
        cursor: pointer;
      }
      &::-moz-range-thumb {
        height: calcRem(55rem);
        width: calcRem(39rem);
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_cursor.png') no-repeat center center/cover;
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: calcRem(12.8rem);
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: calcRem(39rem) 0;
        color: transparent;
      }
      &::-ms-fill-lower {
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
      &::-ms-fill-upper {
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
      &::-ms-thumb {
        height: calcRem(55rem);
        width: calcRem(39rem);
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_cursor.png') no-repeat center center/cover;
        cursor: pointer;
      }
      &:focus::-ms-fill-lower {
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
      &:focus::-ms-fill-upper {
        background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220324/pc_img_bar.png') no-repeat center center/cover;
      }
    }
  }

  &-contents{
    position: relative;
    width: 100%;
    &.minicaviar{
      background: url('https://cdn.louisclub.com/static/fr/img/specialty/20220310/pc_bg01.png') no-repeat center center/cover;
    }
    &__wrap{
      margin: 0 auto;
      width: calcRem(890rem);
      padding: calcRem(120rem) 0;
    }
    &__txt{
      padding-bottom: calcRem(120rem);
      font-size: calcRem(20rem);
      line-height: calcRem(34rem);
      text-align: center;
    }
    &__message{
      width: 100%;
      text-align: center;
    }
    &__item{
      position: relative;
      display: inline-block;
      &:nth-child(2){
        top: calcRem(80rem);
      }
      &:nth-child(3){
        bottom: calcRem(60rem);
      }
      &:last-child{
        top: calcRem(120rem);
      }
    }
    &__bag{
      padding-top: calcRem(180rem);
      width: 100%;
      display: block;
      text-align: center;
    }
    &__img{
      width: 100%;
    }
    &__inner{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #8e4db3;
    }
    &__percent{
      margin: 0;
      font-size: calcRem(100rem);
      font-family: 'Libre Baskerville', serif;
      font-weight: 300;
      line-height: 1.2;
    }
    &__span {
      font-size: calcRem(60rem);
    }
    &__bottom{
      margin: 0;
      font-size: calcRem(35rem);
      font-family: 'Libre Baskerville', serif;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0;
    }
    &__info{
      padding-top: calcRem(20rem);
      color: #8e4db3;
      font-size: calcRem(22rem);
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
    }
    &__noti{
      padding-top: calcRem(25rem);
      color: #000;
      font-size: calcRem(18rem);
      font-weight: 400;
      text-align: center;
      line-height: 1.5;
    }
  }

  /*이벤트 기간 및 참여방법*/
  &-date{
    position: relative;
    width: 100%;
    background-color: #fef5ff;
    padding: calcRem(20rem) 0;
    &__wrap{
      margin: 0 auto;
      width: calcRem(890rem);
    }
    &__cont{
      position: relative;
      margin-left: calcRem(200rem);
      font-size: calcRem(18rem);
    }
    &__cont + &__cont{
      margin-top: calcRem(4rem);
    }
    &__howto{
      position: relative;
      display: inline-block;
      &:first-child{
        width: calcRem(100rem);
      }
    }
    &__howto + &__howto{
      padding-left: calcRem(11rem);
      &:before{
        position: absolute;
        top: calcRem(4rem);
        left: 0;
        width: 0;
        height: calcRem(17rem);
        border-left: 1px solid #d2d2d2;
        content: "";
      }
    }
    &__span{
      &:first-child:before{
        content: '1';
      }
      &:nth-child(2):before{
        content: '2';
      }
      &:last-child:before{
        content: '3';
      }
    }
  }

  /*이벤트 댓글게시판*/
  &-notice{
    margin: 0 auto;
    position: relative;
    width: calcRem(890rem);
    &__box{
      padding-top: calcRem(80rem);
    }
    &__title{
      margin: 0;
      padding-bottom: calcRem(25rem);
      color: #8e4db3;
      font-size: calcRem(22rem);
      font-weight: 300;
      text-align: center;
    }
    &__area{
      width: 100%;
      height: calcRem(126rem);
      padding: calcRem(15rem);
      border: 1px solid #d3d3d3;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: calcRem(14rem);
      color: #000;
      outline: none;
      resize: none;
    }
    &__btn{
      display: block;
      width: calcRem(230rem);
      height: calcRem(50rem);
      margin: calcRem(14rem) auto 0;
      line-height: calcRem(50rem);
      color: #fff !important;
      text-align: center;
      font-size: calcRem(16rem);
      background-color: #8e4db3;
    }
    &__list{
      padding: 0;
      margin-top: calcRem(56rem);
      border-top: none;
    }
    &__item{
      padding: calcRem(30rem) 0;
      list-style: none;
      border-bottom: 1px solid #d2d2d2;
    }
    &__txt{
      overflow: hidden;
      display: inline-block;
      max-width: calcRem(680rem);
      margin: 0;
      text-overflow: inherit;
      white-space: normal;
      vertical-align: middle;
    }
    &__date{
      float: right;
      &--span{
        position: relative;
      }
      &--span + &--span{
        margin-left: calcRem(10rem);
        padding-left: calcRem(11rem);
      }
      &--span + &--span:before{
        position: absolute;
        top: calcRem(2rem);
        left: 0;
        width: 0;
        height: calcRem(13rem);
        border-left: 1px solid #d2d2d2;
        content: "";
      }
    }
  }
  &-important{
    background-color: #f9f9f9;
    &__wrap{
      margin: 0 auto;
      padding: calcRem(24rem) 0;
      width: calcRem(890rem);
      color: #9d9d9d;
      font-weight: 300;
    }
  }
}

.common-span:before{
  width: calcRem(18rem);
  height: calcRem(18rem);
  margin-right: calcRem(3rem);
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #8e4db3;
  border-radius: 100%;
  text-align: center;
  line-height: 1;
}

.pagination{
  margin-bottom: calcRem(100rem);
  &__list {
    display: table;
    width: 100%;
    text-align: center;
  }
}
/*모션 delay css*/
.type-delay5{
  transition-delay: 0.5s;
}
.type-delay10{
  transition-delay: 1s;
}
.type-delay15{
  transition-delay: 1.5s;
}
.type-delay20{
  transition-delay: 2s;
}

/*2021 shopping guide - mobile 기준*/
.event-benefit{
  &.shoppingguide{
    margin: 0 auto;
    width: calcRem(765rem);
    padding-top: calcRem(50rem);
  }
  text-align: center;
  &__header{
    &--img{
      width: 100%;
    }
  }
  &__middle{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__tip {
    position: relative;
    box-sizing: border-box;
    &.is-sticky{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &__wrap{
    padding-bottom: calcRem(50rem);
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    letter-spacing: 0;
    background-color: #f3f3f3;
  }
  &__link {
    display: block;
    vertical-align: middle;
    img{
      width: 100%;
    }
  }
  &__item{
    display: block;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }
    img{
      width: 100%;
    }
  }
  &__item + &__item{
    margin-top: 7.7%;
  }
  &__section{
    &--img{
      width: 100%;
    }
  }
  &:nth-child(2) {
    transition-delay: 0.4s;
  }
  &:nth-child(3) {
    transition-delay: 0.8s;
  }
  &__delivery {
    position: relative;
    background-color: #f3f3f3;
  }
  &__outer{
    position: relative;
  }
  &__area{
    position: relative;
  }
  &__area{
    &.type-step1{
      opacity: 0;
    }
    &.type-step2{
      margin-top: 60px;
    }
    &.type-phone {
      overflow: hidden;
      box-sizing: border-box;
    }
  }
  &__txt{
    &.is-step1{
      opacity: 0;
    }
  }
  &__list2{
    width: calcRem(765rem) !important;
    display: flex;
    margin: 0 auto !important;
    padding: 0;
    font-size: 0;
    letter-spacing: 0;
    text-align: left;
  }
  &__item2{
    flex: 1;
    list-style: none;
  }
  &__item2 + &__item2{
    margin-top: 9.7%;
  }
  &__tit{
    margin-bottom: 8.33%;
  }
  &__txt1{
    margin-bottom: 4.16%;
  }
  &__frame{
    position: relative;
    overflow: hidden;
    width: 54.46%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &__box{
    &.is-step1{
      position: relative;
      z-index: 90;
    }
    &.is-step2{
      opacity: 1;
    }
    &--img{
      margin: 0 auto;
      width: calcRem(360rem);
      height: auto;
    }
  }
  &__circle{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f7f7f7;
    margin: auto;
    transform: scale(1);
    border-radius: 50%;
    z-index: -1;
  }
}

.event-benefit img{
  margin: 0 auto;
  display: block;
}
.event-benefit__delivery img{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s, transform 1s;
}

.event-benefit__delivery img.is-active{
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .event-benefit__list2 {
    padding: 0 10%;
    box-sizing: border-box;
  }
}

.dim-scroll {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  transition: top 0.5s;
  pointer-events: none;
  &.is-active{
    display: block;
  }
  &__flex{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
  }
  &__img{
    width: 50% !important;
  }
}

.is-step2, .is-step3, .is-step4, .is-step5, .is-step6, .is-step7 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0px, 100%, 0px);
  width: 100%;
  margin: 0 auto;
}

.is-step2 {
  z-index: 20;
  transform: translate3d(0px, 0, 0px) !important;
}

.is-step3 {
  z-index: 30;
}

.is-step4 {
  z-index: 40;
}

.is-step5 {
  z-index: 50;
}

.is-step6 {
  z-index: 60;
}

.is-step7 {
  z-index: 70;
}

.is-opacity {
  opacity: 0;
}

.test {
  display: block;
}

.img-w100 {
  width: 100%;
}

.elem-absolute {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}

.before-load .container {
  display: none;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
  circle{
    stroke: black;
    stroke-width: 4;
    /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
    stroke-dasharray: 157, 157;
    stroke-dashoffset: 0;
    fill: transparent;
    animation: loading-circle-ani 1s infinite;
    /* transition: 1s; */
  }
}