<!-- terms popup -->
<section id="addressPop" class="small-popup">
    <div class="small-popup__dim"></div>
    <section class="small-popup__body">
        <div class="small-popup__header">
            <h3 class="small-popup__header--title">주소 검색</h3>
            <a class="small-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
        </div>

        <div class="wrap">
            <div class="address-search">
                <!-- 주소검색(1) -->
                <div class="address-search__section is-current"><!-- 현재 보고있는 컨텐츠에 is-current -->
                    <div class="address-search__form">
                        <div class="form__search">
                            <input type="text" class="form__search--input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
                            <button type="submit" class="form__search--btn"><span class="sr-only">검색</span></button>
                        </div>
                    </div>
                    <p class="address-search__text">도로명과 건물명을 같이 입력하면 더 정확하게 검색됩니다.</p>
                    <ul class="address-search__list">
                        <li class="address-search__item">도로명+건물번호<br />예) 하정로 26</li>
                        <li class="address-search__item">건물명<br />예) 태진사옥</li>
                        <li class="address-search__item">지번<br />예) 신설동 93-15</li>
                    </ul>
                </div>
                <!-- .주소검색(1) -->
                <!-- 주소검색(2) -->
                <div class="address-search__section">
                    <div class="address-search__form">
                        <div class="form__search">
                            <input type="text" class="form__search--input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
                            <button type="submit" class="form__search--btn"><span class="sr-only">검색</span></button>
                        </div>
                    </div>
                    <!-- list -->
                    <div class="address-list">
                        <ul class="address-list__inner">
                            <li class="address-list__item">
                                <div class="zipcode-address">
                                    <div class="zipcode-address__zip">02586</div>
                                    <div class="zipcode-address__cont">
                                        <span class="zipcode-address__cont--zip">[도로명] 서울특별시 동대문구 하정로 4</span>
                                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                                    </div>
                                    <button class="btn-v3 btn-v3--small type-primary">선택</button>
                                </div>
                            </li>
                            <li class="address-list__item">
                                <div class="zipcode-address">
                                    <div class="zipcode-address__zip">02586</div>
                                    <div class="zipcode-address__cont">
                                        <span class="zipcode-address__cont--zip">[도로명] 서울특별시 동대문구 하정로 4</span>
                                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                                    </div>
                                    <button class="btn-v3 btn-v3--small type-primary">선택</button>
                                </div>
                            </li>
                            <li class="address-list__item">
                                <div class="zipcode-address">
                                    <div class="zipcode-address__zip">02586</div>
                                    <div class="zipcode-address__cont">
                                        <span class="zipcode-address__cont--zip">[도로명] 서울특별시 동대문구 하정로 4</span>
                                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                                    </div>
                                    <button class="btn-v3 btn-v3--small type-primary">선택</button>
                                </div>
                            </li>
                            <li class="address-list__item">
                                <div class="zipcode-address">
                                    <div class="zipcode-address__zip">02586</div>
                                    <div class="zipcode-address__cont">
                                        <span class="zipcode-address__cont--zip">[도로명] 서울특별시 동대문구 하정로 4</span>
                                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                                    </div>
                                    <button class="btn-v3 btn-v3--small type-primary">선택</button>
                                </div>
                            </li>
                            <li class="address-list__item">
                                <div class="zipcode-address">
                                    <div class="zipcode-address__zip">02586</div>
                                    <div class="zipcode-address__cont">
                                        <span class="zipcode-address__cont--zip">[도로명] 서울특별시 동대문구 하정로 4</span>
                                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                                    </div>
                                    <button class="btn-v3 btn-v3--small type-primary">선택</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- .list -->
                    <% include ../_include/_paging %>
                </div>
                <!-- .주소검색(2) -->
                <!-- 주소검색(3) -->
                <div class="address-search__section">
                    <div class="zipcode-address__cont">
                        <span class="zipcode-address__cont--zip">(02586) 서울특별시 동대문구 하정로 4 (신설동)</span>
                        <span class="zipcode-address__cont--address">(신설동) [지번] 서울특별시 동대문구 신설동 94-35</span>
                    </div>
                    <div class="zipcode-address__form">
                        <input type="text" class="form__input--text" title="나머지 주소(동/호수, 층수)" placeholder="나머지 주소(동/호수, 층수)">
                    </div>
                    <div class="address-search__btn">
                        <ul class="address-search__btn--list">
                            <li class="address-search__btn--item">
                                <a href="javascript:void(0)" class="btn-v1 type-primary">주소입력</a>
                            </li>
                            <li class="address-search__btn--item">
                                <a href="javascript:void(0)" class="btn-v1 type-white">다른 주소 검색</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .주소검색(3) -->
            </div>
        </div>
    </section>
</section>