<!-- terms popup -->
<section id="addressAddPop" class="popup type-write popup-addressAdd">
    <div class="popup__dim"></div>
    <section class="popup__body">
        <a class="popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
        <div class="popup__header">
            <h3 class="popup__header--title">새로운 주소</h3>
        </div>
        <div class="wrap">
            <div class="address-add">
                <div class="address-info__form">
                    <!-- item -->
                    <div class="address-info__group">
                        <div class="address-info__label">받는분</div>
                        <div class="address-info__list">
                            <div class="address-info__inner">
                                <input type="text" class="form__input--text" placeholder="받는 분">
                            </div>
                        </div>
                    </div>
                    <!-- //item -->

                    <!-- item -->
                    <div class="address-info__group">
                        <div class="address-info__label">연락처</div>
                        <div class="address-info__list">
                            <div class="address-info__inner">
                                <ul class="address-info__inner--list">
                                    <li class="address-info__inner--item">
                                        <select name="wirteOption" id="addressSelect1" class="form__select js-placeholder" title="선택">
                                            <option value="" disabled="">선택</option>
                                            <option value="010" selected="">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                    </li>
                                    <li class="address-info__inner--item">
                                        <input type="number" class="form__input--text" title="연락처1 중간 번호" placeholder="연락처1" maxlength="4">
                                    </li>
                                    <li class="address-info__inner--item">
                                        <input type="number" class="form__input--text" title="연락처1 마지막 번호" maxlength="4">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->

                    <!-- item -->
                    <div class="address-info__group">
                        <div class="address-info__label">추가연락처</div>
                        <div class="address-info__list">
                            <div class="address-info__inner">
                                <ul class="address-info__inner--list">
                                    <li class="address-info__inner--item">
                                        <select name="wirteOption" id="addressSelect2" class="form__select js-placeholder" title="선택">
                                            <option value="" disabled="">선택</option>
                                            <option value="02">02</option>
                                            <option value="031">031</option>
                                            <option value="032">032</option>
                                            <option value="033">033</option>
                                            <option value="041">041</option>
                                            <option value="042">042</option>
                                            <option value="043">043</option>
                                            <option value="044">044</option>
                                            <option value="051">051</option>
                                            <option value="052">052</option>
                                            <option value="053">053</option>
                                            <option value="054">054</option>
                                            <option value="055">055</option>
                                            <option value="061">061</option>
                                            <option value="062">062</option>
                                            <option value="063">063</option>
                                            <option value="064">064</option>
                                            <option value="070">070</option>
                                        </select>
                                    </li>
                                    <li class="address-info__inner--item">
                                        <input type="number" class="form__input--text" title="연락처1 중간 번호" placeholder="연락처1" maxlength="4">
                                    </li>
                                    <li class="address-info__inner--item">
                                        <input type="number" class="form__input--text" title="연락처1 마지막 번호" maxlength="4">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //item -->

                    <!-- item -->
                    <div class="address-info__group">
                        <div class="address-info__label">주소</div>
                        <div class="address-info__list">
                            <!-- inner -->
                            <div class="address-info__inner address-info__inner--btn">
                                <input type="text" class="form__input--text" title="우편번호"  placeholder="우편번호" readonly>
                                <a href="#addressPop" class="form__input--btn js-popup-open">주소검색</a>
                            </div>
                            <!-- .inner -->
                            <!-- inner -->
                            <div class="address-info__item">
                                <input type="text" class="form__input--text" title="중간 주소" readonly>
                            </div>
                            <!-- .inner -->
                            <!-- inner -->
                            <div class="address-info__item">
                                <input type="text" class="form__input--text" title="상세 주소">
                            </div>
                            <!-- .inner -->
                            <!-- inner -->
                            <div class="address-info__inner">
                                <div class="form__checkbox">
                                    <input class="form__checkbox--input form__checkbox--big-red sr-only" type="checkbox" name="addressList" id="addressList">
                                    <label class="form__checkbox--text" for="addressList">배송지목록에 추가</label>
                                </div>
                            </div>
                            <!-- .inner -->
                        </div>
                    </div>
                    <!-- .item -->
                </div>
            </div>
            <div class="btn-group btn-popup__group">
                <ul class="btn-group__list type-two">
                    <li class="btn-group__item">
                        <button class="btn-group__btn btn-v1 btn-v1--small type-white">취소</button>
                    </li>
                    <li class="btn-group__item">
                        <button class="btn-group__btn btn-v1 btn-v1--small type-primary">저장</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>

