<!-- Benefits popup -->
<section id="benefitsPop" class="small-popup modal-pop">
    <div class="small-popup__dim"></div>
    <div class="small-popup__wrap">
        <section class="small-popup__body">
            <div class="small-popup__header">
                <h3 class="small-popup__header--title">혜택가 안내</h3>
                <div class="small-popup__close js-popup-close">
                    <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
                </div>
            </div>
            <div class="small-popup__cont">
                <!-- Benefits cont -->
                <div class="pop-benefits">
                    <ul class="pop-benefits__list">
                        <li class="pop-benefits__item">
                            <dl class="pop-benefits__inner">
                                <dt class="pop-benefits__title">소비자가</dt>
                                <dd class="pop-benefits__text">498,000원</dd>
                            </dl>
                        </li>
                        <li class="pop-benefits__item">
                            <dl class="pop-benefits__inner">
                                <dt class="pop-benefits__title">판매가</dt>
                                <dd class="pop-benefits__text">250,000원</dd>
                            </dl>
                        </li>
                        <li class="pop-benefits__item">
                            <dl class="pop-benefits__inner">
                                <dt class="pop-benefits__title">상품 쿠폰할인</dt>
                                <dd class="pop-benefits__text">-25,000원</dd>
                            </dl>
                        </li>
                        <li class="pop-benefits__item">
                            <dl class="pop-benefits__inner">
                                <dt class="pop-benefits__title">적립금 즉시할인</dt>
                                <dd class="pop-benefits__text">-4,500원</dd>
                            </dl>
                        </li>
                        <li class="pop-benefits__item pop-benefits__item--total">
                            <dl class="pop-benefits__inner">
                                <dt class="pop-benefits__title">혜택가</dt>
                                <dd class="pop-benefits__text">220,500원<span class="pop-benefits__text--sale">56%할인</span></dd>
                            </dl>
                        </li>
                    </ul>
                    <p class="pop-benefits__info--text">혜택가는 고객님께서 최대 할인 받을수 있는<br />예상 금액 입니다.</p>
                </div>
                <!-- .Benefits cont -->
            </div>
        </section>
    </div>
</section>
<!-- Benefits popup -->
