<!-- terms popup -->
<section id="collaborationPop" class="popup">
    <header class="popup__header">
        <button class="popup__close js-popup-close">close</button>
    </header>
    <section class="popup__body">
        <div class="collabo-wrap">
            <!--콜라보 컨텐츠(영상)-->
            <div class="collabo-wrap__list">
                <div class="collabo-wrap__title">
                    <div class="collabo-wrap__name">LOUIS QUATORZE X TZURI GUETTA</div>
                </div>
                <div class="collabo-wrap__item">
                    <video class="collabo-wrap__video" src="https://mcdn.louisclub.com/static/mo/img/collabo/view/tzuriguetta/video.mp4" poster="https://mcdn.louisclub.com/static/mo/img/collabo/view/tzuriguetta/video_thumbnail.jpg" loop="" autoplay="" muted="true" playsinline="" data-object-fit="cover"></video>
                    <a class="collabo-wrap__sound js-sound-btn" href=""></a>
                </div>
            </div>
            <!--//콜라보 컨텐츠(영상)-->
        </div>
    </section>
</section>