<!-- email-modify-result popup -->
<section id="emailModifyResult" class="small-popup">
    <div class="small-popup__dim"></div>
    <section class="small-popup__body">
        <a class="small-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
        <div class="small-popup__header">
            <h3 class="small-popup__header--title">이메일 주소 수정</h3>
        </div>
        <div class="small-popup__cont">
            <div class="wrap emailModify-wrap">
                <div class="emailModify-list">
                    <div class="email-box__field">
                        <input type="text" class="input-v1" placeholder="내용을 입력하세요">
                        <div class="email-box__select">
                            <select name="" id="" class="form__select js-placeholder is-check">
                                <option value="0">직접입력</option>
                                <option value="1">@naver.com</option>
                            </select>
                        </div>
                    </div>
                </div>
    
                <div class="emailModify-textBox">
                    <h4 class="emailModify-textBox__title">인증메일을 발송하였습니다.</h4>
                    <p class="emailModify-textBox__text">입력하신 메일을 확인 후 '완료' 버튼을 눌러 주세요.</p>
                </div>
    
                <div class="emailModify__btn">
                    <ul class="emailModify__btn--list">
                        <li class="emailModify__btn--item">
                            <a href="javascript:void(0)" class="popup-confirm__link btn-v1 type-primary">완료</a>
                        </li>
                        <li class="emailModify__btn--item">
                            <a href="javascript:void(0)" class="popup-confirm__link btn-v1 type-white">인증메일 재발송</a>
                        </li>
                    </ul>
                </div>
    
                <ul class="center-bullet">
                    <li class="center-bullet__item">이메일로 전송된 인증번호 유효기간은 30분입니다.</li>
                    <li class="center-bullet__item">10분 내 이메일을 받지 못하신 경우, 스팸메일함을 확인해 주시거나 '인증매일 재발송' 버튼을 눌러주세요</li>
                </ul>
            </div>
        </div>
    </section>
</section>
<!-- .email-modify-result popup -->

