<!-- gift popup -->
<section id="giftPop" class="small-popup modal-pop">
    <div class="small-popup__dim"></div>
    <section class="small-popup__body">
        <a class="small-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
        <div class="small-popup__header">
            <h3 class="small-popup__header--title">선물포장 안내</h3>
        </div>
        <div class="small-popup__cont">
            <!-- gift cont -->
            <div class="pop-gift">
                <ul class="pop-gift__list">
                    <li class="pop-gift__item">
                        <div class="pop-gift__title">[루이까또즈]</div>
                        <p class="pop-bullet__text">선물포장은 지갑/벨트/키링만 가능하며, 핸드백/서류가<br>방 등은 선물포장 불가합니다. (더스트백과 쇼핑백 제공)</p>
                    </li>
                    <li class="pop-gift__item">
                        <div class="pop-gift__title">[OÀLC]</div>
                        <p class="pop-bullet__text">OÀLC 브랜드 제품은 별도 선물포장이 불가능하며,<br> 구매 시 쇼핑백이 함께 제공됩니다.</p>
                    </li>
                </ul>
            </div>
            <!-- .gift cont -->
        </div>
    </section>
</section>
<!-- gift popup -->
