<!-- installment popup -->
<section id="installmentPop" class="small-popup modal-pop">
    <div class="small-popup__dim"></div>
    <section class="small-popup__body">
        <div class="small-popup__close js-popup-close">
            <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
        </div>
        <div class="small-popup__header">
            <h3 class="small-popup__header--title">무이자/부분 무이자 할부 안내</h3>
        </div>

        <div class="wrap">
            <table class="installment-table">
                <caption class="sr-only">무이자/부분 무이자 할부 안내</caption>
                <colgroup>
                    <col width="36%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">회원구분</th>
                        <th scope="col">아이디</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-kb"><img src="../../images/popup/installment_card_kb.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~7개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">10개월 (1~3회차 고객부담, 4~10회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~4회차 고객부담, 5~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-lotte"><img src="../../images/popup/installment_card_lotte.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~5개월(5만원↑20만원↓무이자, 별도 신청 없이 적용)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-hana"><img src="../../images/popup/installment_card_hana.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~8개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">10개월 (1~3회차 고객부담, 4~10회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~4회차 고객부담, 5~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-samsung"><img src="../../images/popup/installment_card_samsung.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">~6개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">10개월 (1~4회차 고객부담, 5~10회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~5회차 고객부담, 6~12회차 면제)</li>
                                <li class="installment-table__item">18개월 (1~7회차 고객부담, 8~18회차 면제)</li>
                                <li class="installment-table__item">24개월 (1~9회차 고객부담, 10~24회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-shinhan"><img src="../../images/popup/installment_card_shinhan.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~6개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">10개월 (1~4회차 고객부담, 4~10회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~5회차 고객부담, 5~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-bc"><img src="../../images/popup/installment_card_bc.png" alt="" /></div>
                            <div class="installment-table__info">사전 신청한<br />고객에 한함<br />신청방법 : ARS<br />1899-5772</div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~6개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">7개월 (1~2회차 고객부담, 3~7회차 면제)</li>
                                <li class="installment-table__item">8개월 (1~2회차 고객부담, 3~8회차 면제)</li>
                                <li class="installment-table__item">9개월 (1~2회차 고객부담, 3~9회차 면제)</li>
                                <li class="installment-table__item">10개월 (1~2회차 고객부담, 3~10회차 면제)</li>
                                <li class="installment-table__item">11개월 (1~3회차 고객부담, 4~11회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~3회차 고객부담, 4~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-nh"><img src="../../images/popup/installment_card_nh.png" alt="" /></div>
                            <div class="installment-table__info">사전 신청한<br />고객에 한함<br />신청방법 : ARS<br />1644-2009</div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~6개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                                <li class="installment-table__item">7개월 (1~2회차 고객부담, 3~7회차 면제)</li>
                                <li class="installment-table__item">8개월 (1~2회차 고객부담, 3~8회차 면제)</li>
                                <li class="installment-table__item">9개월 (1~2회차 고객부담, 3~9회차 면제)</li>
                                <li class="installment-table__item">10개월 (1~2회차 고객부담, 3~10회차 면제)</li>
                                <li class="installment-table__item">11개월 (1~3회차 고객부담, 4~11회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~3회차 고객부담, 4~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-citi"><img src="../../images/popup/installment_card_citi.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~6개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-uri"><img src="../../images/popup/installment_card_uri.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">10개월 (1~3회차 고객부담, 4~10회차 면제)</li>
                                <li class="installment-table__item">12개월 (1~4회차 고객부담, 5~12회차 면제)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-kj"><img src="../../images/popup/installment_card_kj.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~5개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="installment-table__thumb thumb-junb"><img src="../../images/popup/installment_card_junb.png" alt="" /></div>
                        </th>
                        <td>
                            <ul class="installment-table__list">
                                <li class="installment-table__item">2~5개월 (5만원↑무이자, 별도 신청 없이 적용)</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="installment-info">
                <h4 class="installment-info__title">유의사항</h4>
                <ul class="installment-info__list">
                    <li class="installment-info__item">법인(기업)/체크/선불/기프트/은행계열카드 (BC마크가 없는 NON BC카드 불가) 제외(ex>수협, 제주, 광주, 전북카드 등)</li>
                    <li class="installment-info__item">직계약 가맹점, 특별제휴가맹점, 오프라인 가맹점, 신규 가맹점 등 일부 제외</li>
                    <li class="installment-info__item">본 행사는 카드사 사정에 따라 변경 또는 중단될 수 있음</li>
                    <li class="installment-info__item">무이자할부 결제 시 포인트, 마일리지 적립 제외</li>
                    <li class="installment-info__item">하나카드는 PG업종 외 TASF 취급 수수료 거래 , 환금성, 학원, 면세점, 보험 등 제외</li>
                    <li class="installment-info__item">온라인 PG업종에 해당하는 무이자로 이 외 업종의 거래는 적용 불가 (제약, 등록금, 도시가스 등)</li>
                </ul>
            </div>
        </div>
    </section>
</section>
<!-- .installment popup -->