<!-- live popup(알림받기) -->
<!-- Benefits popup -->
<section id="livePop" class="small-popup modal-pop">
    <div class="small-popup__dim"></div>
    <div class="small-popup__wrap">
        <section class="small-popup__body live-pop">
            <div class="small-popup__header">
                <h3 class="small-popup__header--title">라이브 방송 알림</h3>
                <div class="small-popup__close js-popup-close">
                    <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
                </div>
            </div>
            <div class="small-popup__cont">
                <!-- live cont -->
                <div class="pop-live">
                    <p class="pop-live__txt">루이까또즈 라이브 방송 알람을<br />받으시겠어요?</p>
                </div>
                <!-- .live cont -->

                <!-- live button -->
                <div class="btn-group live__group">
                    <ul class="btn-group__list type-two">
                        <li class="btn-group__item">
                            <a class="btn-group__link js-popup-close" href="#;">
                                <button class="btn-group__btn btn-v1 btn-v1--small type-white">닫기</button>
                            </a>
                        </li>
                        <li class="btn-group__item">
                            <a class="btn-group__link" href="#;">
                                <button class="btn-group__btn btn-v1 btn-v1--small type-primary">알림받기</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- .live button -->
            </div>
        </section>
    </div>
</section>
<!-- Benefits popup -->

<!-- live popup(알림받기) -->
