<!--메인공지팝업-->
<section id="mainPopup" class="notice-popup" style="z-index: 10000">
    <div class="notice-popup__wrap">
        <a class="notice-popup__inner" href="https://www.stylelq.com/fr/customer/noticeBoardView.do?BRD_NTS_IDX=296&amp;cPage=&amp;site=">
            <img class="notice-popup__img" src="https://cdn.louisclub.com/static/upload/display/2022/01/21/47de7578-cbd6-4b12-855f-29e25a385b23.jpg" onerror="this.src='https://cdn.louisclub.com/static/fr/img/common/noimage_250.gif'" alt="">
        </a>
    </div>
    <div class="notice-popup__action">
        <input type="checkbox" class="notice-popup__checkbox" id="checkPopupToday">
        <label>오늘 하루 이창을 열지 않음</label>
        <a href="#;" class="notice-popup__close js-popup-close" id="mainPopupClose"></a>
    </div>
</section>
<!--//메인공지팝업-->