<!-- Benefits popup -->
<section id="naverPop" class="small-popup is-active">
    <div class="small-popup__dim"></div>
    <div class="small-popup__wrap">
        <section class="small-popup__body">
        <div class="small-popup__close js-popup-close">
            <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
        </div>
        <div class="small-popup__header">
            <h3 class="small-popup__header--title">네이버 제휴 할인</h3>
        </div>
        <div class="small-popup__cont">
            <!-- Benefits cont -->
            <div class="pop-naver">
                <div class="pop-naver__scroll">
                    <img src="../../images/popup/naver_popup_pc.jpg" alt="" />
                </div>
            </div>
            <!-- .Benefits cont -->
        </div>
    </section>
    </div>
</section>
<!-- Benefits popup -->
