<!-- shipping popup -->
<section id="addressModifyPop" class="small-popup pop-addModify">
    <div class="small-popup__dim"></div>

    <section class="small-popup__body">
        <div class="small-popup__close js-popup-close">
            <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
        </div>
        <div class="small-popup__header">
            <h3 class="small-popup__header--title align-center">배송지 변경</h3>
        </div>

        <div class="wrap">
            <!-- confirm Footer -->
            <div class="small-popup-confirm__btn">
                <ul class="small-popup-confirm__list">
                    <li class="small-popup-confirm__item"><a class="popup-confirm__link js-popup-open" href="#addressAddPop">새로운 주소로 입력</a></li>
                </ul>
            </div>
            <!-- .confirm Footer -->
            <!-- 내주소록 -->
            <div class="my-address">
                <ul class="my-address__list">
                    <li class="my-address__item">
                        <div class="my-address__user">홍길동 / 회사<span class="form__radio--select"></span>
                            <button class="my-address__btn btn-v3 btn-v3--small type-primary">선택</button>
                        </div>
                        <div class="my-address__text">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div>
                        <div class="my-address__tel">010-1234-5678</div>
                    </li>
                    <li class="my-address__item">
                        <div class="my-address__user">홍길동 / 회사<span class="form__radio--select">[기본배송지]</span>
                            <button class="my-address__btn btn-v3 btn-v3--small type-primary">선택</button>
                        </div>
                        <div class="my-address__text">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div>
                        <div class="my-address__tel">010-1234-5678</div>
                    </li>
                </ul>
            </div>
            <!-- .내주소록 -->
        </div>

    </section>
</section>
<!-- .shipping popup -->




