<!-- email modify popup -->
<section id="phoneCertification" class="small-popup">
    <div class="small-popup__dim"></div>
    <div class="small-popup__wrap">
        <section class="small-popup__body">
            <a class="small-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
            <div class="small-popup__header">
                <h3 class="small-popup__header--title">휴대폰 인증</h3>
            </div>
            <div class="small-popup__cont">
                <div class="wrap phone-wrap">
                    <div class="phone-list">
                        <div class="phone-box">
                            <img src="../../images/mypage/ico_phone.png" class="phone-box__img" alt=""/>
                        </div>
                    </div>
                    <a class="popup-confirm__link js-popup-open" href="#emailModifyResult">휴대폰으로 인증하기</a>

                    <ul class="phone-info">
                        <li class="phone-info__list">구매금액의 2%가 적립되어집니다.</li>
                        <li class="phone-info__list">구매금액은 최종 결제한 금액으로 모든 할인금액은 제외된<br />
                            금액입니다.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- .email modify popup -->