<!-- product zoom popup -->
<section id="zoomPop" class="slide-popup">
    <a class="slide-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
    <div class="popup-slider">
        <div class="swiper-container popup-slider__container">
            <div class="swiper-wrapper popup-slider__wrapper">
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-zoom js-product-zoom">
                        <img src="../../images/dummy/zoom-img.jpg" alt="" />
                    </div>
                </div>
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-zoom js-product-zoom">
                        <img src="../../images/dummy/zoom_img2.jpg" alt="" />
                    </div>
                </div>
                <div class='swiper-slide popup-slider__item'>
                    <div class="product-zoom js-product-zoom">
                        <img src="../../images/dummy/zoom-img.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-slider__wrap">
        <div class="swiper-button-next popup-slider__button--next only-zoom"></div>
        <div class="swiper-button-prev popup-slider__button--prev only-zoom"></div>
    </div>
</section>
<!-- .product zoom popup -->