<!-- Benefits popup -->
<section id="specialPop" class="small-popup modal-pop">
    <div class="small-popup__dim"></div>
    <section class="small-popup__body platforml-only">
        <a class="small-popup__close js-popup-close" href="#;"><span class="sr-only">닫기</span></a>
        <div class="small-popup__cont">
            <!-- 판매가 별도문의 cont -->
            <div class="pop-special">
                <a href="tel:02-6929-4472" class="pop-special__link">
                    <div class="pop-special__top">
                        <div class="pop-special__phone">
                            플랫폼엘<br />작품 구매 문의<br /><br />
                            02-6929-4472
                        </div>
                    </div>
                </a>

                <div class="pop-special__bottom">
                    <div class="pop-special__time">
                        운영시간<br /><br />
                        MON - FRI<br />
                        10:00 - 18:00<br />
                        <span class="pop-special__time--lunch">(LUNCH TIME 12:00-13:00)</span>
                    </div>
                </div>
            </div>
            <!-- .판매가 별도문의 cont -->
        </div>
    </section>
</section>
<!-- Benefits popup -->
