<!-- shipping popup -->
<section id="shippingPop" class="small-popup">
    <div class="small-popup__dim"></div>
    <div class="small-popup__wrap">
        <section class="small-popup__body">
            <div class="small-popup__header">
                <h3 class="small-popup__header--title align-center">배송지 정보</h3>
                <div class="small-popup__close js-popup-close">
                    <a class="small-popup__inner" href="#;"><span class="sr-only">닫기</span></a>
                </div>
            </div>
            <div class="wrap">
                <!-- 내주소록 -->
                <div class="my-address">
                    <ul class="my-address__list">
                        <li class="my-address__item">
                            <div class="radio-address">
                                <div class="form__radio form__radio--red">
                                    <input class="form__radio--input sr-only" type="radio" name="myAddress" id="myAddress1" checked>
                                    <label class="form__radio--text" for="myAddress1">홍길동 / 회사</label>
                                </div>
                                <div class="radio-address__meta">
                                    <div class="radio-address__text">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div>
                                    <div class="radio-address__tel">010-1234-5678</div>
                                </div>
                            </div>
                        </li>
                        <li class="my-address__item">
                            <div class="radio-address">
                                <div class="form__radio form__radio--red">
                                    <input class="form__radio--input sr-only" type="radio" name="myAddress" id="myAddress2">
                                    <label class="form__radio--text" for="myAddress2">홍길동 / 회사<span class="form__radio--select">[기본배송지]</span></label>
                                </div>
                                <div class="radio-address__meta">
                                    <div class="radio-address__text">(02586) 서울시 동대문구 하정로 26 (신설동) 3F</div>
                                    <div class="radio-address__tel">010-1234-5678</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- confirm Footer -->
                    <div class="small-popup-confirm__footer">
                        <ul class="small-popup-confirm__list">
                            <li class="small-popup-confirm__item"><a class="popup-confirm__link" href="javascript:void(0);">선택 주소 사용</a></li>
                        </ul>
                    </div>
                    <!-- .confirm Footer -->

                </div>
                <!-- .내주소록 -->
            </div>
        </section>
    </div>
</section>
<!-- .shipping popup -->




