<%
	type = "product"
	page = "product"
    popup = "false"
    noSort = "true"   
%>
<% include ../_include/_header %>

<div class="container">
    <div class="site-main">
	    <section class="product">
            <!-- 탭 -->
            <div class="product-tab">
                <ul class="product-tab__fix">
                    <li class="product-tab__item is-current">
                        <a href="#" class="product-tab__link js-basic-tab-link">ALL</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">BAG</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">WALLET</a>
                    </li>
                </ul>
            </div>
            <!-- //탭 -->

            <!-- 컨텐츠 -->
            <div class="product-tab__cont">
                <!-- _productFilter noSort= true 값이면 오른쪽 소팅 버튼 숨기기. [noSort = true/false]  -->
                <% include ../_include/_productFilter %>

                <!-- tab contents -->
                <div class="product-tab__info">
                    <!-- product post -->
                    <div class="product-post product-post--post">
                        <ul class="product-post__list">
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">SOLD OUT</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                            <img class="product-item__img thumb-hover" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">NEW</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                        </ul>
                    </div>
                    <!-- .product post -->
                    <% include ../_include/_paging %>
                </div>
                <!-- //tab contents -->
            </div>
            <!-- .컨텐츠 -->

        </section>
    </div>
</div>
<% include ../_include/_cartFix %>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>
