<%
	type = "product"
	page = "product"
    popup = "false"
    noSort = "false"   
%>
<% include ../_include/_header %>

<div class="container">
    <div class="site-main">
	    <section class="product">
            <!-- 탭 -->
            <div class="product-tab">
                <ul class="product-tab__fix">
                    <li class="product-tab__item is-current">
                        <a href="#" class="product-tab__link js-basic-tab-link">ALL</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">아우터</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">상의</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">하의</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">모자</a>
                    </li>
                    <li class="product-tab__item">
                        <a href="#" class="product-tab__link js-basic-tab-link">양말</a>
                    </li>
                </ul>
            </div>
            <!-- //탭 -->

            <!-- 상단이미지&back video -->
            <div class="product-banner product-banner--video"><!-- 안에 이미지가 들어갈시 product-banner--img 클래스, 비디오 추가시 product-banner--video 클래스 추가 -->
                <iframe class="product-banner__file"
                        src="https://player.vimeo.com/video/543457353?autoplay=1&amp;loop=1&amp;quality=1080p&amp;muted=1"
                        allow="autoplay; fullscreen" frameborder="0"
                        id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
            <!-- //상단이미지&back video -->

            <!-- 컨텐츠 -->
            <div class="product-tab__cont">
                <!-- _productFilter noSort= true 값이면 오른쪽 소팅 버튼 숨기기. [noSort = true/false]  -->
                <% include ../_include/_productFilter %>

                <!-- tab contents -->
                <div class="product-tab__info">
                    <!-- product post -->
                    <div class="product-post product-post--post">
                        <ul class="product-post__list">
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">SOLD OUT</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">NEW</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                        </ul>
                    </div>
                    <!-- .product post -->
                    <% include ../_include/_paging %>
                </div>
                <!-- //tab contents -->
            </div>
            <!-- .컨텐츠 -->

            <!-- 하단 배너 -->
            <div class="product-banner-btm">
                <ul class="product-banner-btm__list">
                    <li class="product-banner-btm__item">
                        <a href="" class="product-banner-btm__link">
                            <div class="product-banner-btm__img"><img src="../../images/dummy/list_banner1.png" alt=""></div>
                            <p class="product-banner-btm__txt">Adieu 2021, 20%</p>
                        </a>
                    </li>
                    <li class="product-banner-btm__item">
                        <a href="" class="product-banner-btm__link">
                            <div class="product-banner-btm__img"><img src="../../images/dummy/list_banner2.png" alt=""></div>
                            <p class="product-banner-btm__txt">D-Quilting</p>
                        </a>
                    </li>
                    <li class="product-banner-btm__item">
                        <a href="" class="product-banner-btm__link">
                            <div class="product-banner-btm__img"><img src="../../images/dummy/list_banner3.png" alt=""></div>
                            <p class="product-banner-btm__txt">Present For Men</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //하단 배너 -->
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
