<%
type = "main"
page = "main"
popup = "false"
%>
<% include ../_include/_header %>

<div class="section-body">
    <div class="main">
        <div class="main-slide__video">
            <video style="width: 100%;" src="https://cdn.louisclub.com/static/upload/display/2021/12/30/d656883d-017e-421f-80e6-7689b6fbf612.mp4" alt="#" poster="https://cdn.louisclub.com/static/upload/display/2021/12/30/69a3942e-b0c2-41e7-bb80-94be72bc25a9.jpg" loop="" muted="muted" playsinline="" autoplay="">
            </video>
        </div>
        <div class="main-slide__video">
            <video style="width: 100%;" src="https://cdn.louisclub.com/static/upload/display/2021/12/30/d656883d-017e-421f-80e6-7689b6fbf612.mp4" alt="#" poster="https://cdn.louisclub.com/static/upload/display/2021/12/30/69a3942e-b0c2-41e7-bb80-94be72bc25a9.jpg" loop="" muted="muted" playsinline="" autoplay="">
            </video>
        </div>
    </div>
</div>


<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>