<%
type = "main"
page = "main"
popup = "false"
%>
<% include ../_include/_header %>

<div class="section-body">
    <!--검색결과페이지-->
    <div class="main-search">
        <div class="main-search__wrap">
            <div class="main-search__top">
                <div class="main-search__result">"뮤트컬러템"</div>
                <div class="main-search__txt">
                    <span class="main-search__num">15</span>개의 검색 결과입니다.
                </div>
            </div>
            <div class="main-search__bottom">
                <ul class="main-search__list">
                    <li class="main-search__item is-active">
                        <a href="#;" class="main-search__inner">라라지갑</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">미니캐비어</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">뮤트컬러템</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">L-QUILTING MINI</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">PARIS COLLECTION</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">D-QUILTING</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">MINI MONTE</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">oalc</a>
                    </li>
                    <li class="main-search__item">
                        <a href="#;" class="main-search__inner">CHEESE</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 리스트 -->
        <div class="result-wrap">
            <% include ../_include/_productFilter %>

            <!-- 리스트 -->
            <div class="result-list">
                <!-- product post -->
                <div class="product-post product-post--post">
                    <ul class="product-post__list">
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__state">SOLD OUT</div>
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                        <img class="product-item__img" src="../../images/dummy/product_img3_3.png" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__state">NEW</div>
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img4.png" alt="" />
                                        <img class="product-item__img" src="../../images/dummy/product_img4_3.png" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                        <li class="product-post__item">
                            <!-- item -->
                            <div class="product-item">
                                <a href="" class="product-item__link">
                                    <div class="product-item__thumb">
                                        <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                    </div>
                                    <div class="product-item__cont">
                                        <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                        <div class="product-item__price">
                                            <span class="product-item__price--sale">328,000원</span>
                                            <span class="product-item__price--current">289,290원</span>
                                        </div>
                                    </div>
                                </a>
                                <% include ../_include/_productHoverButton %>
                            </div>
                            <!-- .item -->
                        </li>
                    </ul>
                </div>
                <!-- .product post -->
                <% include ../_include/_paging %>
            </div>
            <!-- //리스트 -->
        </div>
        <!-- // 리스트 -->
    </div>
    <!--//검색결과페이지-->

</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>