<%
type = "main"
page = "main"
popup = "false"
%>
<% include ../_include/_header %>

<div class="section-body">
    <!--top banner-->
    <div class="main-banner">
        <div class="swiper-container main-banner__container">
            <div class="swiper-wrapper main-banner__wrapper">
                <div class='swiper-slide main-banner__item js-first-slide' data-bg="black">
                    <a href="#;" class="main-banner__inner">
                        <!--이미지일 때-->
                        <div class="main-banner__source main-banner__source--img">
                            <img class="main-banner__img" src="../../images/main/main_slide01.png" alt="" />
                        </div>
                        <!--//이미지일 때-->
                    </a>
                    <div class="main-banner__content">
                        <div class="main-banner__name">L-QUILTING MINI</div>
                    </div>
                </div>
                <div class='swiper-slide main-banner__item js-first-slide' data-bg="black">
                    <a href="#;" class="main-banner__inner">
                        <!--이미지일 때-->
                        <div class="main-banner__source main-banner__source--img">
                            <img class="main-banner__img" src="../../images/main/main_slide01.png" alt="" />
                        </div>
                        <!--//이미지일 때-->
                    </a>
                    <div class="main-banner__content">
                        <div class="main-banner__name">L-QUILTING MINI</div>
                    </div>
                </div>
                <div class='swiper-slide main-banner__item js-first-slide' data-bg="black">
                    <a href="#;" class="main-banner__inner">
                        <!--이미지일 때-->
                        <div class="main-banner__source main-banner__source--img">
                            <img class="main-banner__img" src="../../images/main/main_slide01.png" alt="" />
                        </div>
                        <!--//이미지일 때-->
                    </a>
                    <div class="main-banner__content">
                        <div class="main-banner__name">L-QUILTING MINI</div>
                    </div>
                </div>
                <div class='swiper-slide main-banner__item js-first-slide' data-bg="white">
                    <a href="#;" class="main-banner__inner">
                        <!--이미지일 때-->
                        <div class="main-banner__source main-banner__source--video">
                            <video class="main-banner__video" src="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/find.mp4" loop="" autoplay="" muted="true" playsinline="" data-object-fit="cover" poster="https://mcdn.louisclub.com/static/mo/img/specialty/20200710/video_bg.jpg"></video>
                        </div>
                        <!--//이미지일 때-->
                    </a>
                    <div class="main-banner__content">
                        <div class="main-banner__name">L-QUILTING MINI</div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination main-banner__pagination"></div>
            <div class="swiper-progress-bar main-banner__progressbar">
                <span class="slide_progress-bar"></span>
            </div>
        </div>

    </div>
    <!--//top banner-->

    <!--what's new-->
    <div class="main-new">
        <div class="main-new__header">
            <div class="main-new__title">WHAT'S NEW</div>
        </div>
        <div class="main-new__slide">
            <div class="swiper-container main-new__container">
                <div class="swiper-wrapper main-new__wrapper">
                    <div class='swiper-slide main-new__item' data-bg="white">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img01.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                    <div class='swiper-slide main-new__item' data-bg="black">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img02.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                    <div class='swiper-slide main-new__item' data-bg="white">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img03.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                    <div class='swiper-slide main-new__item' data-bg="black">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img01.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                    <div class='swiper-slide main-new__item' data-bg="white">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img02.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                    <div class='swiper-slide main-new__item' data-bg="black">
                        <a href="#;" class="main-new__inner">
                            <img class="main-new__img" src="../../images/main/main-new-img03.jpg" alt="" />
                        </a>
                        <div class="main-new__content">
                            <div class="main-new__name">CHEESE(치즈) 여성반지갑 SP3PB01TA</div>
                            <div class="main-new__price">211,300원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination main-new__pagination"></div>
        <div class="main-new__more">
            <a href="#" class="main-new__link">
                <div class="main-new__button">more new</div>
            </a>
        </div>
    </div>
    <!--//what's new-->
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>