<%
type = "main"
page = "main"
popup = "false"
%>
<% include ../_include/_header %>

<div class="section-body">
    <!--최근본상품페이지-->
    <div class="main-viewed">
        <div class="main-viewed__wrap">
            <div class="viewed__result">
                <!-- _productFilter noSort= true 값이면 오른쪽 소팅 버튼 숨기기. [noSort = true/false]  -->
                <% include ../_include/_productFilter %>
                <div class="product-tab__info">
                    <!-- product post -->
                    <div class="product-post product-post--post">
                        <ul class="product-post__list">
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">SOLD OUT</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img3_3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__state">NEW</div>
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img4.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img4_3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.jpg" alt="" />
                                            <img class="product-item__img" src="../../images/dummy/product_img3.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                            <li class="product-post__item">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                    <% include ../_include/_productHoverButton %>
                                </div>
                                <!-- .item -->
                            </li>
                        </ul>
                    </div>
                    <!--최근 본 상품 없을 시-->
                    <!--<div class="viewed__result--noti">
                        최근 본 상품이 없습니다.
                    </div>-->
                    <!--최근 본 상품 없을 시-->
                    <!-- .product post -->
                    <% include ../_include/_paging %>
                </div>

            </div>
        </div>
    </div>
    <!--//최근본상품페이지-->
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>