<%
type = "center"
page = "center"
popup = "false"
lnbTitle = "대량구매/입점문의"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbSelectCenter %>
        <section class="service-center">
            <div class="center-inquiry__write">
                <div class="center-right__head">
                    <p class="center-right__title">대량구매/입점문의</p>
                </div>
                <div class="wrap">
                    <!--info form -->
                    <div class="inquiry-form__info">
                        <ul class="inquiry-form__list">
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">문의유형</div>
                                <div class="fieldset__list">
                                    <div class="fieldset__inner">
                                        <select name="wirteselect" id="storeInquiryType" class="form__select js-placeholder" title="문의 유형 선택">
                                            <option value="" disabled="" selected>문의 유형 선택</option>
                                            <option value="B">기업 판촉 대량구매</option>
                                            <option value="W">STYLE# 입점문의</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">회사명</div>
                                <div class="fieldset__list">
                                    <input type="text" class="form__input--text" title="회사명" placeholder="회사명">
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">이름</div>
                                <div class="fieldset__list">
                                    <input type="text" class="form__input--text" title="담당자 성명" placeholder="담당자 성명">
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">이메일</div>
                                <div class="fieldset__list">
                                    <div class="fieldset__inner">
                                        <div class="form-email__field">
                                            <input type="email" class="form__input--text" title="이메일" placeholder="이메일">
                                            <div class="form-email__select">
                                                <select name="" id="" class="form__select js-placeholder is-check">
                                                    <option value="0">직접입력</option>
                                                    <option value="1">@naver.com</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">연락처</div>
                                <div class="fieldset__list">
                                    <div class="fieldset__inner">
                                        <ul class="form-tel">
                                            <li class="form-tel__item">
                                                <select name="wirteOption" id="storeInquiryTel" class="form__select js-placeholder" title="선택">
                                                    <option value="" disabled="" selected="">선택</option>
                                                    <option value="010">010</option>
                                                    <option value="011">011</option>
                                                    <option value="016">016</option>
                                                    <option value="017">017</option>
                                                    <option value="018">018</option>
                                                    <option value="019">019</option>
                                                </select>
                                            </li>
                                            <li class="form-tel__item">
                                                <input type="number" class="form__input--text" title="연락처" placeholder="연락처" maxlength="4">
                                            </li>
                                            <li class="form-tel__item">
                                                <input type="number" class="form__input--text" title="연락처 마지막 번호" maxlength="4">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">제목</div>
                                <div class="fieldset__list">
                                    <input type="text" class="form__input--text" title="제목" placeholder="제목">
                                </div>
                            </li>
                            <li class="inquiry-form__item fieldset__group">
                                <div class="fieldset__label">내용</div>
                                <div class="fieldset__list">
                                    <textarea class="form__input--textarea form__input--textarea-small" title="내용" placeholder="문의하실 내용을 입력해 주세요"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- .info form -->

                    <!-- 이미지 첨부 -->
                    <div class="inquiry-imgFile fieldset__group">
                        <div class="fieldset__label">이미지 첨부</div>
                        <div class="fieldset__list">
                            <div class="fieldset__inner--btn">
                                <div class="inquiry-image">
                                    <div class="form-arrow__btn"><span class="form-arrow__btn--text">이미지 첨부1</span></div>
                                    <input type="file" name="inquiryImage" class="inquiry-image__file">
                                </div>
                                <!-- 첨부파일 버튼 추가 -->
                                <!-- <div class="inquiry-image">
                                    <div class="form-arrow__btn"><span class="form-arrow__btn--text">이미지 첨부2</span></div>
                                    <input type="file" name="inquiryImage" class="inquiry-image__file">
                                </div>
                                <div class="inquiry-image">
                                    <div class="form-arrow__btn"><span class="form-arrow__btn--text">이미지 첨부3</span></div>
                                    <input type="file" name="inquiryImage" class="inquiry-image__file">
                                </div> -->
                            </div>
                            <p class="inquiry-image__text">첨부파일 형식 : gif, jpg, png, jpeg (각 2MB이하)<br />최대 0장까지 첨부 가능합니다.</p>
                            <!-- 첨부파일 미리보기 -->
                            <div class="inquiry-image__view">
                                <ul class="inquiry-image__view--inner">
                                    <li class="inquiry-image__view--item">
                                        <div class="view-image">
                                            <a href="javascript:void(0)" class="view-image__close"><span class="sr-only">닫기</span></a>
                                            <img src="../../images/dummy/collection-img.png" alt="">
                                        </div>
                                    </li>
                                    <li class="inquiry-image__view--item">
                                        <div class="view-image">
                                            <a href="javascript:void(0)" class="view-image__close"><span class="sr-only">닫기</span></a>
                                            <img src="../../images/dummy/detail-img1.jpg" alt="">
                                        </div>
                                    </li>
                                    <li class="inquiry-image__view--item">
                                        <div class="view-image">
                                            <a href="javascript:void(0)" class="view-image__close"><span class="sr-only">닫기</span></a>
                                            <img src="../../images/dummy/gnb_banner1.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- //첨부파일 미리보기 -->
                        </div>
                    </div>
                    <!-- .이미지 첨부- -->

                    <!-- 개인정보 수집안내 -->
                    <div class="inquiry-policy">
                        <div class="inquiry-policy__title">개인정보 수집 및 이용에 관한 안내</div>
                        <div class="inquiry-policy__cont">
                            <div class="inquiry-policy__list">
                                <ul class="center-bullet-number">
                                    <li class="center-bullet-number__item">목적 : 문의를 통한 개인 식별, 비즈니스 관련 원활한 의사소통</li>
                                    <li class="center-bullet-number__item">항목 : 이름, 이메일 주소, 전화번호</li>
                                    <li class="center-bullet-number__item">보유기간 : 비즈니스 관련 문의 종료 시 까지</li>
                                </ul>
                            </div>
                            <div class="form__checkbox form__checkbox--big">
                                <input class="form__checkbox--input sr-only" type="checkbox" name="policy" id="policy">
                                <label class="form__checkbox--text" for="policy">위 개인정보 수집에 대하여 동의 합니다.</label>
                            </div>
                        </div>
                    </div>
                    <!-- .알림 신청 -->
                </div>

                <div class="btn-group btn-inquiry__group">
                    <ul class="btn-group__list type-two">
                        <li class="btn-group__item">
                            <button class="btn-group__btn btn-v1 btn-v1--small type-white">취소</button>
                        </li>
                        <li class="btn-group__item">
                            <button class="btn-group__btn btn-v1 btn-v1--small type-primary">문의하기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
