<%
type = "center"
page = "center"
popup = "false"
lnbTitle = "공지사항"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbSelectCenter %>
        <section class="service-center">
            <div class="center-notice">
                <div class="center-right__head">
                    <p class="center-right__title">공지사항</p>
                </div>
                <!-- list -->
                <div class="notice-list">
                    <ul class="notice-list__inner">
                        <li class="notice-list__item notice-list__item--notice"><!-- 상단 노출 공지는 notice-list__item--notice 클래스 추가 -->
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item notice-list__item--notice">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 와이셔츠 라이선스 계약 종료 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">#LIVE! 루이까또즈 올해를 빛낸 상품 어워드!</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 이니시스/페이코 결제 관련 서버 작업 안내 (21.11.30)</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 추석 배송안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">#이벤트안내 [8월] 루이까또즈 전시회 티켓 증정 이벤트 (종료)</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 '택배쉬는 날' 관련 배송안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">#LIVE! 궁금한 이야기 루이(까또즈)</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 스카프/머플러 물류 하계휴무로 인한 배송안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] 루이까또즈 롯데택배 일부지역 배송지연 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                        <li class="notice-list__item">
                            <div class="notice-item">
                                <a href="" class="notice-item__link">
                                    <div class="notice-item__title">[공지] ㈜태진인터내셔날 개인정보 이전 안내</div>
                                    <div class="notice-item__date">2021.06.25</div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- list -->
                <% include ../_include/_paging %>
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
