<%
type = "center"
page = "center"
popup = "false"
lnbTitle = "FAQ"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <% include ../_include/_lnbSelectCenter %>
        <section class="service-center">
            <div class="center-faq__wrap">
                <div class="center-right__head">
                    <p class="center-right__title">FAQ</p>
                </div>
                
                <div class="center-filter">
                    <!-- search -->
                    <div class="center-search">
                        <div class="center-search__form">
                            <div class="form__search">
                                <input type="text" class="form__search--input" name="keyword" id="keyword" autocomplete="off" placeholder="검색어를 입력해주세요." required="">
                                <button type="submit" class="form__search--btn"><span class="sr-only">검색</span></button>
                            </div>
                        </div>
                    </div>
                    <!-- .search -->
                    <!-- tab -->
                    <div class="center-tab">
                        <ul class="center-tab__fix">
                            <li class="center-tab__item is-current">
                                <a href="#;" class="center-tab__link js-basic-tab-link">전체</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">상품</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">주문/결제</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">교환/반품</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">쿠폰/적립금</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">A/S</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">포장</a>
                            </li>
                            <li class="center-tab__item">
                                <a href="#;" class="center-tab__link js-basic-tab-link">회원</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //tab -->

                    <!-- no data -->
                    <div>
                        <p>“배송” 검색결과 총 15개 입니다.</p>
                    </div>
                    <!-- //no data -->
                </div>
                
                <div class="center-faq">
                    <!-- list -->
                    <div class="notice-faq">
                        <ul class="notice-faq__list">
                            <!-- item -->
                            <li class="notice-faq__item is-active">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">군부대도 배송이 가능한가요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                            <!-- item -->
                            <li class="notice-faq__item">
                                <div class="faq-item">
                                    <dl class="faq-item__inner">
                                        <dt class="faq-item__title">
                                            <a href="#;" class="faq-item__link js-faq-more">
                                                <span class="faq-item__text">신용카드 / 현금영수증 세금 계산서 발급은 어디서 받나요?</span>
                                            </a>
                                        </dt>
                                        <dd class="faq-item__cont">
                                            <!-- 더미 -->
                                            <p>군부대의 경우 지역에 따라 배송이 불가한 경우가 있습니다. 해당 군부대에 상품에 따른 출고 택배사가 들어갈 수 있는지 확인 후 주문 부탁드립니다.</p>
                                            <!-- .더미 -->
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <!-- .item -->
                        </ul>
                    </div>
                    <!-- list -->
                    <% include ../_include/_paging %>
                </div>
            </div>
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>
