//배송지입력 폼
.myAddressModify{
    .center-right__head{
        border-bottom: 1px solid $black1;
        margin-bottom: calcRem(30rem);
    }
    &-center{
        padding-bottom: calcRem(15rem);
    }

    .address{
        &-info{
            &--text{           
                font-size:calcRem(11rem);
                padding-left:calcRem(7rem);
                position: relative;
                line-height:calclH(18,11);
                letter-spacing: $defaultLetter;
                color:$darkgray;
                margin:calcRem(15rem) 0 0;
                font-weight: $light;
    
                &:after{
                    content:"";
                    width:calcRem(2rem);
                    height:calcRem(2rem);
                    border-radius: 100%;
                    position: absolute;
                    top:calcRem(8rem);
                    left:0;
                    background:$darkgray;
                }
            }
    
            &__inner{
                margin-top:calcRem(10rem);
                position: relative;
    
                &:first-child{
                    margin-top:0;
                }
    
                &--btn{
                    position: relative;
                    padding-right:calcRem(87rem);
    
                    .form__input--btn{
                        @include body2;
                        color:$whiteColor;
                        padding:calcRem(9rem) calcRem(5rem);
                        height:calcRem(38rem);
                        text-align: center;
                        width:calcRem(83rem);
                        background-color: $darkgray;
                        position: absolute;
                        right:0;
                        @include vertical-center;
                        box-sizing: border-box;
                    }
                }
    
                &--list{
                    margin-right:calcRem(-5rem);
                    box-sizing: border-box;
    
                    &:after{
                        @include block-reset;
                    }
                }
    
                &--item{
                    width:33.333%;
                    float:left;
                    padding-right:calcRem(5rem);
                    box-sizing: border-box;
                }
                
                .form__checkbox{
                    position: absolute;
                    top: 50%; right: calcRem(-137rem);
                    transform: translateY(-50%);
                    &--text{
                        @include body7;
                    }
                }
            }
    
            &__custom{
                margin-top:calcRem(10rem);
                display: none;
    
                &.is-active{
                    display: block;
                }
            }
    
            // group::일반 div dom
            &__group{
                @include flexNoWrap;
            }
            &__label{
                width: calcRem(100rem);
                @include body7;
                margin-top:calcRem(10rem);
            }
            &__list{
                width: 100%;
    
                .form__input--text,
                .form__select{
                    @include body8;
                    @include placeholder-color($gray2);
                }
            }

            &__inner{
                width: 50%;
                margin-bottom: calcRem(15rem);
                
                &--btn{
                    @include flexNoWrap;
                    .form__input--btn{
                        position: inherit;
                        transform: translateY(0);
                        margin-left: calcRem(5rem);
                        padding:calcRem(10rem) calcRem(20rem);
                        box-sizing: border-box;
                        @include body7;
                    }
                }
            }
            &__item{ margin-bottom: calcRem(15rem); }
        }
    }
    
    .btn-inquiry__group{
        padding-top: calcRem(40rem);
        border-top: 1px solid $gray2;
    }
}