// 비밀번호변경
.myPass{
    .center-right__head{
        border-bottom: 1px solid $black1;
        margin-bottom: calcRem(30rem);
    }
    
    .fieldset{
        &__group{
            &:first-child{
                margin-bottom: calcRem(30rem);
                padding-bottom: calcRem(20rem);
                border-bottom: 1px solid $lightgray4;
            }
            &:last-child{
                margin-bottom: calcRem(30rem);
            }
        }
        &__label{
            width: calcRem(120rem);
        }
    }

    .btn-inquiry__group{
        padding-top: calcRem(40rem);
        border-top: 1px solid $gray2;
    }

    .myPass-infoSearch{
        margin-top: calcRem(60rem);
        text-align: center;
    }
}