//-- tab
.myReview{
    &-tab{
        height:calcRem(35rem);
        position: relative;
        padding-bottom: calcRem(50rem);

        //head
        &__fix{
            border-top:solid 1px $gray1;
            position: absolute;
            height:calcRem(35rem);
            background-color: $whiteColor;
            top:0;
            left:0;
            width:100%;
            z-index: $childZindex;
            box-sizing: border-box;

            &:after{
                @include block-reset;
            }

            .is-fixed &{
                transition: transform 0.3s;
                position: fixed;
                transform:translateZ(0) translateY(0);
            }

            .is-fixed.is-down &{
                transform:translateZ(0) translateY(calcRem(45rem));
            }
        }

        &__item{
            width:50%;
            float:left;
            text-align: center;
        }

        &__link{
            display: block;
            @include body3;
            padding:calcRem(8rem) calcRem(5rem);
            position: relative;

            .is-current &{
                font-weight: $medium;
            }

            &:after{
                content:"";
                height:calcRem(2rem);
                background-color: $black1;
                position: absolute;
                top:-1px;
                left:0;
                right:0;
                opacity: 0;

                .is-current &{
                    opacity: 1;
                }
            }
        }

        //cont
        &__cont{
            padding-top:calcRem(40rem);
        }

        &__info{
            display:none;

            &.is-current{
                display: block;
            }
        }
    }

}

.myReview-text{
    margin: 0;
    @include body7;
}

// tab1 - 리스트
.myReview{
    &-tab__cont{
        padding-top: calcRem(10rem);
    }
    .order-mypage{
        .list-table{
            tbody td{
                vertical-align: middle;
                padding: calcRem(30rem) 0;
            }
            .detail-Meta{
                height:calcRem(90rem);
                &__thumb{
                    width:calcRem(90rem);
                }
                &__title{
                    margin-top: auto;
                }
                &__option{
                    margin-bottom: auto;
                    .option-color,
                    .option-data{
                        margin:0 20px 0 5px;
                    }
                }
            }
        }
    }
}


// tab2 - 리뷰상세
.myReview{
    .order-mypage__item{
        padding: 0;
        display: block;
        border-color: $black1;

        .order-mypage__view{
            border-top:solid 1px $lightgray4;
        }
        .order-mypage__contents{
            padding: calcRem(20rem) 0;
        }
    }
        
    .detail-Meta{
        @include flexWrap;
        -webkit-box-orient: vertical; -ms-flex-direction: column;
        flex-direction: column;
        height: calcRem(90rem);

        // &__orderId{
        //     @include body6;
        // }
        &__date{
            @include body7;
            height: 100%;
            padding-top: calcRem(20rem);
        }

        // &__btn{
        //     width: calcRem(88rem);
        //     margin: auto;
        //     .btn-v3{margin: 5px 0;}
        // }
        &__thumb{
            width: calcRem(90rem);
            height: 100%;
            overflow: hidden;
            position: relative;
            margin: auto;

            img{
                @include ab-center;
            }
        }
        &__title{
            width: calc(100% - 170px);
            @include body7;
            text-align: left;
            margin-top: auto;
        }
        &__option{
            width: calc(100% - 170px);
            color: $disabledColor;
            @include body7;
            margin-bottom: auto;
            .option-color,
            .option-data{
                margin:0 20px 0 5px;
            }

            @include flexWrap;
            .btn-v3{
                width: auto;
                height: calcRem(24rem);
                padding: calcRem(5rem) calcRem(8rem);
                box-sizing: border-box;
                line-height: 1;
                margin-left: calcRem(20rem);
            }
        }
    
        // &__price{
        //     line-height: 0;
        //     position: relative;
    
        //     &--current{
        //         @include body8;
        //         font-weight: $medium;
        //         display: block;
        //     }
    
        //     &--sale{
        //         @include body7;
        //         font-weight: $light;
        //         color:$throughColor;
        //         text-decoration: line-through;
        //         display: inline-block;
        //     }
        // }
    
        // &__benefit{
        //     display: inline-block;
        //     font-size:calcRem(12rem);
        //     line-height:calclH(20,12);
        //     color:$whiteColor;
        //     padding:calcRem(2rem) calcRem(15rem);
        //     background-color: $point1;
        //     letter-spacing: $defaultLetter;
        //     margin-top:calcRem(15rem);
        // }

        // &__state{
        //     &--text{
        //         color: $point1;
        //         @include body8;
        //     }
        //     &--num{
        //         font-weight: $light;
        //         font-size: calcRem(11rem);
        //     }
        // }
    }


    // 리뷰리스트
    .review-list{
        padding-top:calcRem(30rem);
        &__grade,
        &__cont{
            width: 85%;
        }

        //평점
        &__grade{
            font-size:0;
            line-height:0;
            margin-bottom:calcRem(20rem);

            &--text{
                font-size:calcRem(12rem);
                line-height:calclH(12,12);
                font-weight: $regular;
                vertical-align: middle;
                display: inline-block;
                margin-right:calcRem(5rem);
            }

            &--star{
                vertical-align: middle;
                display: inline-block;
                overflow: hidden;

                &-item{
                    float:left;
                    width:calcRem(13rem);
                    height:calcRem(12rem);
                    @include pageBackground('/images/common/ico_star.svg','no-repeat center center / contain');
                    background-size: calcRem(13rem) calcRem(12rem);
                    margin-right:calcRem(1rem);

                    &:last-child{
                        margin-right:0;
                    }

                    &.is-active{
                        @include pageBackground('/images/common/ico_star_active.svg','no-repeat center center / contain');
                    }
                }
            }

            &--date{
                float: right;    
                font-size:calcRem(11rem);
                line-height:calclH(17,11);
                color: $darkgray;
                margin-top: -3px;
            }
        }

        //텍스트
        &__text{
            margin:0;
            @include body1;
        }
        .review-list:not(.is-view) &__text{
            @include line-clamp(3,calcRem(57rem));
        }

        &__photo{
            margin:calcRem(30rem) calcRem(-20rem) calcRem(20rem);
            overflow: hidden;
            padding:0 calcRem(20rem);
            overflow-x: scroll;
            line-height:0;
            font-size:0;
            scrollbar-width: none;

            .is-view &{
                display: block;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &--list{
                white-space: nowrap;
            }

            &--item{
                display: inline-block;
                margin-right:calcRem(10rem);

                &:last-child{
                    margin-right:calcRem(20rem);
                }
            }

            &--link{
                display: block;
                position: relative;
                width:calcRem(80rem);

                &:after{
                    content:"";
                    display: block;
                    padding-bottom:100%;
                }
            }

            &--img{
                width:100%;
                @include ab-center;
            }

            &--view{
                .review-list__photo--item{
                    display: block;
                    margin-bottom:calcRem(10rem);
                   
                    .review-list__photo--link{
                        pointer-events: none;
                        width: 100%;
                        &:after{display: none;}
                    }
                    .review-list__photo--img{
                        // position: initial; //ie X
                        position: relative;
                        top: auto;left: auto;
                        transform: translate(0,0);
                    }
                }
            }
        }

        // 버튼:: 수정/삭제
        &__btn{
            text-align: right;
            font-size: calcRem(12rem);
            font-weight: $light;
            padding: calcRem(10rem) 0;

            &--modify,&--del{
                text-decoration: underline;
                margin-left: calcRem(10rem);
                cursor: pointer;
            }
        }
    }
}