<%
type = "collection"
page = "collection"
popup = "true"
lnbTitle = "COLLECTION"
%>
<% include ../_include/_header %>
<!--기획전 big & bold symbol-->
<div class="container">
    <div class="site-collection">
        <div class="collection-group">
            <!--컬렉션 아이템소개-->
            <div class="collection-info bg-cheesebag">
                <div class="collection-info__wrap">
                    <img class="collection-info__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20210723/tit.png" alt=""/>
                </div>
                <a href="" class="collection-info__sound js-sound-btn">sound on/off</a>
            </div>
            <!--//컬렉션 아이템소개-->
            <div class="collection-info__middle">
                <div class="collection-info__outer">
                    <video src="https://cdn.louisclub.com/static/fr/img/specialty/20210723/video.mp4" poster="https://cdn.louisclub.com/static/fr/img/specialty/20210723/thum.jpg" class="event-cheese__video img-w100" loop="" autoplay="" muted="muted" playsinline="" data-object-fit="cover"></video>
                    <div class="collection-info__box">
                        우아하게 변주된  뉴 시즌의  CHEESE 컬렉션.<br />
                        프리미엄 라인에서 느낄 수 있는 텍스쳐와 디테일. 강한 존재감을 드러내는 메탈릭 골드가 포인트.
                    </div>
                </div>
            </div>

        </div>

        <!--룩북 바로가기 버튼-->
        <div class="collection-view">
            <div class="collection-view__button">
                <a class="collection-view__link js-popup-open" href="#lookbookPop">view the lookbook</a>
            </div>
        </div>
        <!--//룩북 바로가기 버튼-->

        <div class="collection-product-list">
            <!--컬렉션 상품 리스트01-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트01-->

            <!--컬렉션 상품 리스트02-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트02-->

            <!--컬렉션 상품 리스트03-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트03-->
        </div>

        <!--more collection-->
        <div class="collection-more">
            <div class="collection-more__title">
                <div class="collection-more__txt">more collection</div>
            </div>
            <div class="collection-more__slide collection-more-slide">
                <div class="swiper-container collection-more__container">
                    <div class="swiper-wrapper collection-more__wrapper">
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="swiper-button-next more-next-btn"></div>
            <div class="swiper-button-prev more-prev-btn"></div>
        </div>
        <!--//more collection-->
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_popup/_lookbookLayer %>
<% include ../_include/_footer %>