<%
type = "collection"
page = "collection"
popup = "true"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-collection">
        <div class="collection-wrap">
            <!--컬렉션 메인 비주얼-->
            <div class="collection-visual">
                <div class="collection-visual__background">
                    <img class="collection-visual__img" src="../../images/collection/collection_bgColor01.png" alt="collection01"/>
                </div>
                <div class="collection-visual__detail">
                    <a class="collection-visual__link" href="collection_detail.html">
                        <div class="collection-visual__button">MINI MONTE</div>
                    </a>
                </div>
            </div>
            <!--//컬렉션 메인 비주얼-->

            <!--컬렉션 상품슬라이드-->
            <div class="collection-product collection-slide">
                <div class="swiper-container collection-slide__container">
                    <div class="swiper-wrapper collection-slide__wrapper">
                        <div class='swiper-slide collection-slide__item'>
                            <div class="collection-slide__wrap">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- .item -->
                            </div>
                        </div>
                        <div class='swiper-slide collection-slide__item'>
                            <div class="collection-slide__wrap">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- .item -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next collecton-next-btn"></div>
                    <div class="swiper-button-prev collecton-prev-btn"></div>
                </div>
            </div>
            <!--//컬렉션 상품슬라이드-->
        </div>

        <div class="collection-wrap">
            <!--컬렉션 두번째 비주얼-->
            <div class="collection-visual">
                <div class="collection-visual__background">
                    <img class="collection-visual__img" src="../../images/collection/collection_bgColor02.png" alt="collection01"/>
                </div>
                <div class="collection-visual__detail">
                    <a class="collection-visual__link" href="collection_detail.html">
                        <div class="collection-visual__button">1980 MONOGRAM</div>
                    </a>
                </div>
            </div>
            <!--//컬렉션 메인 비주얼-->

            <!--컬렉션 상품슬라이드-->
            <div class="collection-product collection-slide">
                <div class="swiper-container collection-slide__container">
                    <div class="swiper-wrapper collection-slide__wrapper">
                        <div class='swiper-slide collection-slide__item'>
                            <div class="collection-slide__wrap">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- .item -->
                            </div>
                        </div>
                        <div class='swiper-slide collection-slide__item'>
                            <div class="collection-slide__wrap">
                                <!-- item -->
                                <div class="product-item">
                                    <a href="" class="product-item__link">
                                        <div class="product-item__thumb">
                                            <img class="product-item__img" src="../../images/dummy/product_img2.png" alt="" />
                                        </div>
                                        <div class="product-item__cont">
                                            <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                            <div class="product-item__price">
                                                <span class="product-item__price--sale">328,000원</span>
                                                <span class="product-item__price--current">289,290원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- .item -->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next collecton-next-btn"></div>
                    <div class="swiper-button-prev collecton-prev-btn"></div>
                </div>
            </div>
            <!--//컬렉션 상품슬라이드-->
        </div>

        <!--more collection-->
        <div class="collection-more">
            <div class="collection-more__title">
                <div class="collection-more__txt">more collection</div>
            </div>
            <div class="collection-more__slide collection-more-slide">
                <div class="swiper-container collection-more__container">
                    <div class="swiper-wrapper collection-more__wrapper">
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="swiper-button-next more-next-btn"></div>
            <div class="swiper-button-prev more-prev-btn"></div>
        </div>
        <!--//more collection-->
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_footer %>