<%
type = "collection"
page = "collection"
popup = "true"
lnbTitle = "COLLECTION"
%>
<% include ../_include/_header %>
<!--기획전 big & bold symbol-->
<div class="container">
    <div class="site-collection">
        <!--컬렉션 상세 비주얼-->
        <div class="collection-detail">
            <div class="collection-detail__visual">
                <img class="collection-detail__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/cheese_top.jpg" alt=""/>
            </div>
        </div>
        <!--//컬렉션 상세 비주얼-->

        <div class="collection-group">
            <!--컬렉션 아이템소개-->
            <div class="collection-info">
                <div class="collection-info__title">
                    <span class="collection-info__title--top">THE NEW PREMIUM DESIGN OF</span><br /> CHEESE BAG
                </div>
                <div class="collection-info__txt">
                    It is inspired by various shapes of cheese with new symbolic gold metal emblem.<br /><br />
                    It delivers three beautiful designs, the refind tote bag with belted decoration,<br />
                    the modern middle size's square bag and the cross body bag in a half moon shape.
                </div>
                <!--프리미엄 바로가기 버튼-->
                <div class="collection-view">
                    <div class="collection-view__button">
                        <a class="collection-view__link" href="#;">Louis Quatorze Premium Line</a>
                    </div>
                </div>
                <!--//프리미엄 바로가기 버튼-->
            </div>
            <!--//컬렉션 아이템소개-->

            <!--컬렉션 이동하기 버튼-->
            <div class="collection-button">
                <a class="collection-button__link" href="collection_premium.html">
                    <img class="collection-button__img" src="../../images/collection/collection_btn01.jpg" alt=""/>
                </a>
            </div>
            <!--//컬렉션 이동하기 버튼-->

            <!--컬렉션 모델슬라이드-->
            <div class="collection-model">
                <div class="collection-model__slide collection-model-slide">
                    <div class="swiper-container collection-model__container">
                        <div class="swiper-wrapper collection-model__wrapper">
                            <div class='swiper-slide collection-model__item'>
                                <div class="collection-model__wrap">
                                    <img class="collection-model__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/content_img_1.jpg" alt="" />
                                </div>
                            </div>
                            <div class='swiper-slide collection-model__item'>
                                <div class="collection-model__wrap">
                                    <img class="collection-model__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/content_img_2.jpg" alt="" />
                                </div>
                            </div>
                            <div class='swiper-slide collection-model__item'>
                                <div class="collection-model__wrap">
                                    <img class="collection-model__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/content_img_3.jpg" alt="" />
                                </div>
                            </div>
                            <div class='swiper-slide collection-model__item'>
                                <div class="collection-model__wrap">
                                    <img class="collection-model__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/content_img_4.jpg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next model-next-btn"></div>
                    <div class="swiper-button-prev model-prev-btn"></div>
                    <div class="swiper-pagination collection-slide-pagination"></div>
                </div>

            </div>
            <!--//컬렉션 모델슬라이드-->
        </div>

        <!--룩북 바로가기 버튼-->
        <div class="collection-view">
            <div class="collection-view__button">
                <a class="collection-view__link js-popup-open" href="#lookbookPop">view the lookbook</a>
            </div>
        </div>
        <!--//룩북 바로가기 버튼-->

        <div class="collection-product-list">
            <!--컬렉션 상품 리스트01-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트01-->

            <!--컬렉션 상품 리스트02-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트02-->

            <!--컬렉션 상품 리스트03-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트03-->
        </div>

        <!--more collection-->
        <div class="collection-more">
            <div class="collection-more__title">
                <div class="collection-more__txt">more collection</div>
            </div>
            <div class="collection-more__slide collection-more-slide">
                <div class="swiper-container collection-more__container">
                    <div class="swiper-wrapper collection-more__wrapper">
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/3.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/4.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                        <div class='swiper-slide collection-more__item'>
                            <div class="collection-more__wrap">
                                <img class="collection-more__img" src="https://mcdn.louisclub.com/static/mo/img/collection/list/5.jpg?ver=20210721" alt="" />
                            </div>
                            <div class="collection-more__detail">
                                <a class="collection-more__link js-popup-open" href="#lookbookPop">
                                    <div class="collection-more__box">D-QUILTING</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="swiper-button-next more-next-btn"></div>
            <div class="swiper-button-prev more-prev-btn"></div>
        </div>
        <!--//more collection-->
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_popup/_lookbookLayer %>
<% include ../_include/_footer %>