<%
type = "collection"
page = "collection"
popup = "true"
lnbTitle = "COLLECTION"
%>
<% include ../_include/_header %>
<!--기획전 big & bold symbol-->
<div class="container">
    <div class="site-collection">
        <!--컬렉션 프리미엄 상세 비주얼-->
        <div class="collection-premiumonly">
            <div class="collection-premiumonly__visual">
                <img class="collection-premiumonly__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/tit.png" alt=""/>
            </div>
        </div>
        <!--//컬렉션 프리미엄 상세 비주얼-->

        <div class="collection-group type-darkgray">
            <!--컬렉션 아이템소개-->
            <div class="collection-info">
                <div class="collection-info__wrap">
                    <img class="collection-info__img" src="https://cdn.louisclub.com/static/fr/img/specialty/20201029/content.jpg" alt=""/>
                </div>
            </div>
            <!--//컬렉션 아이템소개-->
        </div>

        <div class="collection-product-list">
            <!--컬렉션 상품 리스트01-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__state">NEW</div>
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트01-->

            <!--컬렉션 상품 리스트02-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트02-->

            <!--컬렉션 상품 리스트03-->
            <div class="collection-list">
                <div class="collection-list__header">
                    <div class="collection-list__name">women's wallet</div>
                </div>
                <div class="collection-list__wrap">
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                    <div class="collection-list__item">
                        <!-- item -->
                        <div class="product-item">
                            <a href="" class="product-item__link">
                                <div class="product-item__thumb">
                                    <img class="product-item__img" src="../../images/dummy/product_img1.png" alt="" />
                                </div>
                                <div class="product-item__cont">
                                    <div class="product-item__title">루이까또즈 L-Quilting Mini(엘퀼팅 미니) 여성크로스백 HP3QT06OR</div>
                                    <div class="product-item__price">
                                        <span class="product-item__price--sale">328,000원</span>
                                        <span class="product-item__price--current">289,290원</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .item -->
                    </div>
                </div>
            </div>
            <!--//컬렉션 상품 리스트03-->
        </div>

        <div class="promotion-wrap">
            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/18/74480173-3dde-4aa5-a288-e70221b13deb.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">KAREL MARTENS BAG</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/19/35143dfb-abad-4ac5-b3f5-183ffe2a0b71.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">L-Quilting mini</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->

            <!--프로모션 배너 리스트-->
            <div class="promotion-list">
                <a class="promotion-list__link" href="promotion_view.html">
                    <div class="promotion-list__box">
                        <img class="promotion-list__img" src="https://mcdn.louisclub.com/static/upload/marketing/2021/11/17/becb0eb7-fa17-4ac9-9997-c266de64dde9.jpg" alt=""/>
                    </div>
                    <div class="promotion-list__name">LALA WALLET</div>
                </a>
            </div>
            <!--//프로모션 배너 리스트-->
        </div>
    </div>
</div>

<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_popup/_lookbookLayer %>
<% include ../_include/_footer %>