//Footer
.footer {
  position: relative;
  padding: calcRem(30rem) calcRem(30rem);
  text-align: center;
  box-sizing: border-box;
  background-color: $bgColor;
  margin-top: auto;
  border-top: 1px solid #484848;

  &__layout{
    min-width: 1200px;
  }

  &__wrap{
    position: relative;
    width: 100%;
    display: flex;
  }

  &__left{
    flex: 1;
    //width: calcRem(904rem);
    text-align: left;
  }

  &__right{
    //padding-right: calcRem(170rem);
    text-align: left;
  }

  &__logo {
    vertical-align: middle;
    width: calcRem(150rem);
  }

  &__list {
    margin: auto 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    max-width: calcRem(155rem);
  }

  &__item {
    display: inline-block;
    position: relative;
    padding-bottom: calcRem(20rem);
    width: 100%;
    font-size: calcRem(11rem);
    color: $black1;
  }

  &__link {
    display: block;
    padding: calcRem(2rem) 0;
    @include body2();
    &:after{
      content: '';
      right: 0;
      position: absolute;
      display: inline-block;
      width: calcRem(5rem);
      height: calcRem(10rem);
      background-image: url('../images/common/gnb_arrow.png ');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__blank {
    text-decoration: underline;
  }

  &__copy {
    margin-top: calcRem(22rem);
    @include body4();
  }

  &__txt {
    margin-top: calcRem(18rem);
    @include body3();
    line-height: calcRem(40rem);
    color: $darkgray;

    & + & {
      margin-top: calcRem(16rem);
    }
  }
}


.footer-sns{
  width: 100%;
  display: inline-block;
  $this:&;
  &__list{
    margin:0;
    padding:0;
    font-size:0;
  }
  &__item{
    display:inline-block;
    width:calcRem(20rem);
    height:calcRem(20rem);
    list-style:none;
    &.type-facebook{
      #{$this}__link{
        @include background('/images/common/icon_footer_facebook.png','no-repeat center center / contain')
      }
    }
    &.type-instagram{
      #{$this}__link{
        @include background('/images/common/icon_footer_insta.png','no-repeat center center / contain')
      }
    }
    &.type-youtube{
      #{$this}__link{
        @include background('/images/common/icon_footer_youtube.png','no-repeat center center / contain')
      }
    }
    &.type-post{
      #{$this}__link{
        @include background('/images/common/icon_footer_post.png','no-repeat center center / contain')
      }
    }
    &.type-talk{
      #{$this}__link{
        @include background('/images/common/icon_footer_talk.png','no-repeat center center / contain')
      }
    }
    & + &{
      margin-left:calcRem(16rem)
    }
  }
  &__link{
    display:block;
    height:100%;
  }
}