@import "../base/variables";
@import "../base/mixins";

//footer
.footer {
  position: relative;
  background-color: $bgColor;
  border-top: 1px solid #484848;
  text-align: center;
  overflow: hidden;

  &__layout{
    min-width: 1200px;
  }

  &__wrap{
    position: relative;
    width: 100%;
    display: block;
    padding: calcRem(30rem) calcRem(30rem);
  }

  &__left{
    float: left;
    display: inline-block;
    text-align: left;
  }

  &__right{
    float: right;
    display: inline-block;
    width: 20%;
    text-align: left;
  }

  &__logo {
    vertical-align: middle;
    width: calcRem(150rem);
  }

  &__list {
    margin: auto 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    max-width: calcRem(155rem);
  }

  &__item {
    display: inline-block;
    position: relative;
    padding-bottom: calcRem(20rem);
    width: 100%;
    font-size: calcRem(14rem);
    font-weight: 400;
    color: $black1;
  }

  &__link {
    display: block;
    padding: calcRem(2rem) 0;
    &:after{
      content: '';
      right: 0;
      position: absolute;
      display: inline-block;
      width: calcRem(5rem);
      height: calcRem(10rem);
      background-image: url('../images/common/gnb_arrow.png ');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__blank {
    text-decoration: underline;
  }

  &__copy {
    padding: calcRem(22rem) calcRem(50rem);
    font-size: calcRem(12rem);
    font-weight: 300;
    line-height: calcRem(35rem);
  }

  &__info{
    margin-top: calcRem(18rem);
    color: #484848;
    line-height: calcRem(40rem);
    font-size: calcRem(14rem);
    font-weight: 300;
    line-height: calcRem(40rem);
    &--underline{
        text-decoration: underline;
    }
  }
}


.footer-sns{
  width: 100%;
  display: inline-block;
  border-top: 1px solid #cbcbcb;
  $this:&;
  &__list{
    margin:0;
    padding-top:calcRem(35rem);
    font-size:0;
  }
  &__item{
    display:inline-block;
    width:calcRem(20rem);
    height:calcRem(20rem);
    list-style:none;
    &.type-facebook{
      #{$this}__link{
        @include background('/images/common/icon_footer_facebook.png','no-repeat center center / contain')
      }
    }
    &.type-instagram{
      #{$this}__link{
        @include background('/images/common/icon_footer_insta.png','no-repeat center center / contain')
      }
    }
    &.type-youtube{
      #{$this}__link{
        @include background('/images/common/icon_footer_youtube.png','no-repeat center center / contain')
      }
    }
    &.type-post{
      #{$this}__link{
        @include background('/images/common/icon_footer_post.png','no-repeat center center / contain')
      }
    }
    &.type-talk{
      #{$this}__link{
        @include background('/images/common/icon_footer_talk.png','no-repeat center center / contain')
      }
    }
    & + &{
      margin-left:calcRem(16rem)
    }
  }
  &__link{
    display:block;
    height:100%;
  }
}