@import "../base/variables";
@import "../base/mixins";
//Header
.dim{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 20;
  &.is-active{
    display: block;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1200px;
  height: calcRem(120rem);
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s;
  z-index:100;
  $this: &;

  &.is-active{
    background-color: #fff;
  }

  &.is-bg-white{
    background-color: #fff;
  }

  &-wrap{
    display: block;
    &__top{
      padding: calcRem(30rem) 0 calcRem(28rem);
    }
    //로고
    &__logo {
      display: inline-block;
      width: calcRem(212rem);
      height: calcRem(36rem);
      margin: 0;
    }

    //우측메뉴
    &__right{
      top: calcRem(30rem);
      right: calcRem(156rem);
      position: absolute;
    }
    &__list{
      display: block;
    }
    &__item{
      float: left;
      display: inline-block;
      margin-left: calcRem(52rem);
      &.type-search{
        width: calcRem(20rem);
        height: calcRem(20rem);
        background: url('/images/common/search.png') no-repeat center top;
        &.is-active{
          background: url('/images/common/icon_close2.png') no-repeat center top;
        }
      }
      &.type-login{
        width: calcRem(20rem);
        height: calcRem(20rem);
        background: url('/images/common/login.png') no-repeat center top;
      }
      &.type-cart{
        width: calcRem(20rem);
        height: calcRem(20rem);
        background: url('/images/common/cart.png') no-repeat center top;
      }
    }
    &__link{
      width: 100%;
      height: 100%;
      display: inline-block;
      font-size: 0;
    }
  }

  //네비
  .gnb{
    font-size: 0;
    &.is-active{
      width: 100%;
      background-color: #fff;
    }
  }
  .gnb-1depth{
    &__list{
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    &__item{
      position: relative;
      display: inline-block;
      padding: 0 calcRem(36rem);
      list-style: none;
      vertical-align: top;
      box-sizing: border-box;
      font-size: calcRem(14rem);
      font-weight: 400;
      &.is-active{
        .gnb-2depth__list{
          position: absolute;
          display: flex;
          background-color: #fff;
          &.align-right{
            right: 0;
          }
        }
      }
    }
    &__inner{
      font-size: calcRem(14rem);
      font-weight: 400;
    }
  }

  .gnb-2depth{
    &__list{
      display: none;
      position: absolute;
      padding: calcRem(46rem) 0 calcRem(105rem);
      &.is-active{
        display: block;
        background-color: #fff;
      }
      &:after, &:before{
        top: 0;
        display: block;
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: #fff;
        content: "";
      }
      &:before{
        left: -100vw;
      }
      &:after{
        right: -100vw;
      }
    }
    &__item + &__item{
      margin-left: calcRem(100rem);
    }
    &__item{
      width: calcRem(200rem);
      display: inline-block;
      list-style: none;
      vertical-align: top;
      text-align: left;
    }
    &__inner{
      font-size: calcRem(14rem);
      font-weight: 500;
    }
  }

  .gnb-3depth{
    &__list{
      padding-top: calcRem(38rem);
      font-weight: 400;
    }
    &__item{
      padding-bottom: calcRem(15rem);
    }
  }
}
