//Layout
.wrap{
  box-sizing:border-box;
}

.container{
  padding-top:calcRem($headerHeight);
  padding-bottom:calcRem(120rem);
  background-color: #fff;
  position: relative;
}

.site-main{
  margin-top:calcRem($SiteMainMargin);
}