// 공지사항 상세페이지
.center-notice__single{
    //상단 타이틀
    .center-right__head{
        border-bottom: 0;
    }
}

.center{
    &-single{
        //헤더
        &__header{
            padding:calcRem(30rem) calcRem(20rem);
            border-bottom:solid 1px $lightgray1;
            border-top:solid 1px $black1;
        }

        &__title{
            @include title1;
            margin:0;
        }

        &__date{
            font-size:calcRem(11rem);
            line-height:calclH(18,11);
            letter-spacing: $defaultLetter;
            font-weight:$regular;
            color:$darkgray;
            margin-top:calcRem(10rem);
        }


        //컨텐츠
        &__cont{
            @include body7;
            line-height:calclH(19,12);
            min-height: calcRem(400rem);
            border-bottom:solid 1px $gray2;
            padding:calcRem(30rem) calcRem(20rem);
            box-sizing: border-box;

            strong{
                font-weight: $medium;
            }

            p{
                margin:calcRem(15rem) 0 0;

                &:first-child{
                    margin:0;
                }
            }
        }

        //목록버튼
        &__btn{
            margin:calcRem(30rem) auto 0;
            width: 25%;
        }
    }
}