//Font face

//--font url--------
//local
$fontURL :'../fonts/notosans/';
//sever
// $fontURL :'http://cdn.stylelq.com/static/test/renewal/2021/mo/';
//-------------------

@import url("https://use.typekit.net/xce7dnx.css");

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-thin.eot);
  src: url(#{$fontURL}notokr-thin.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-thin.woff2) format("woff2"), url(#{$fontURL}notokr-thin.woff) format("woff"), url(#{$fontURL}notokr-thin.ttf) format("truetype"), url(#{$fontURL}notokr-thin.svg#notokr-thin) format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-light.eot);
  src: url(#{$fontURL}notokr-light.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-light.woff2) format("woff2"), url(#{$fontURL}notokr-light.woff) format("woff"), url(#{$fontURL}notokr-light.ttf) format("truetype"), url(#{$fontURL}notokr-light.svg#notokr-light) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-regular.eot);
  src: url(#{$fontURL}notokr-regular.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-regular.woff2) format("woff2"), url(#{$fontURL}notokr-regular.woff) format("woff"), url(#{$fontURL}notokr-regular.ttf) format("truetype"), url(#{$fontURL}notokr-regular.svg#notokr-regular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-medium.eot);
  src: url(#{$fontURL}notokr-medium.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-medium.woff2) format("woff2"), url(#{$fontURL}notokr-medium.woff) format("woff"), url(#{$fontURL}notokr-medium.ttf) format("truetype"), url(#{$fontURL}notokr-medium.svg#notokr-medium) format("svg");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-bold.eot);
  src: url(#{$fontURL}notokr-bold.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-bold.woff2) format("woff2"), url(#{$fontURL}notokr-bold.woff) format("woff"), url(#{$fontURL}notokr-bold.ttf) format("truetype"), url(#{$fontURL}notokr-bold.svg#notokr-bold) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-black.eot);
  src: url(#{$fontURL}notokr-black.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-black.woff2) format("woff2"), url(#{$fontURL}notokr-black.woff) format("woff"), url(#{$fontURL}notokr-black.ttf) format("truetype"), url(#{$fontURL}notokr-black.svg#notokr-black) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto-kr';
  src: url(#{$fontURL}notokr-black.eot);
  src: url(#{$fontURL}notokr-black.eot?#iefix) format("embedded-opentype"), url(#{$fontURL}notokr-black.woff2) format("woff2"), url(#{$fontURL}notokr-black.woff) format("woff"), url(#{$fontURL}notokr-black.ttf) format("truetype"), url(#{$fontURL}notokr-black.svg#notokr-black) format("svg");
  font-weight: 700;
  font-style: normal;
}

// @font-face {
//     font-family: 'futura-pt';
//     src: url();
//     unicode-range: U+0041-005A,U+0061-007A;
// }

// @font-face {
//     font-family: 'noto-kr';
//     src:url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
//     font-display:auto;font-style:normal;font-weight:500;
//     unicode-range: U+0041-005A,U+0061-007A;
// }