<%
type = "cart"
page = "cart"
popup = "false"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="site-main">
        <section class="cart">
            <h3 class="cart__title">SHOPPING CART</h3>
            <div class="cart-banner">
                <div class="cart-banner__text">고객님은 <span class="cart-banner__text--point">비로그인</span> 상태 입니다.<br />로그인 하시면 혜택가로 구매 가능 합니다.</div>
                <div class="cart-banner__btn">
                    <ul class="cart-banner__list">
                        <li class="cart-banner__item">
                            <a href="" class="btn-v1 btn-v1--small type-primary">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- list -->
            <div class="cart-list">
                <table class="basic-table" summary="장바구니">
                    <caption>장바구니</caption>
                    <colgroup>
                        <col width="5%"><col width="50%"><col><col><col><col><col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox-point">
                                    <input class="checkbox-point__input sr-only chk-all" type="checkbox" name="cart" id="cartAll" >
                                    <label for="cartAll" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                </div>
                            </th>
                            <th>상품/옵션 정보</th>
                            <th>판매가/혜택가</th>
                            <th>수량</th>
                            <th>합계</th>
                            <th>배송비</th>
                            <th>선택</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox-point">
                                    <input class="checkbox-point__input sr-only" type="checkbox" name="cart" id="cart1" >
                                    <label for="cart1" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                </div>
                            </td>
                            <td>
                                <!-- Select -->
                                <div class="selBox__meta--select">
                                    <input type="text" value="" class="hidden-input is-hide">
                                    <p class="selBox-custom__selected"><span class="selected_text">Sorting</span></p>
                                    <ul class="selBox-custom__select">
                                        <li class="selBox-custom__option"><a href="" class="filter-custom__link">New in</a></li>
                                        <li class="selBox-custom__option"><a href="" class="filter-custom__link">Best</a></li>
                                        <li class="selBox-custom__option"><a href="" class="filter-custom__link">Price low to high</a></li>
                                        <li class="selBox-custom__option"><a href="" class="filter-custom__link">Price high to low</a></li>
                                    </ul>
                                </div>
                                <!-- .Select -->
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox-point">
                                    <input class="checkbox-point__input sr-only" type="checkbox" name="cart" id="cart2">
                                    <label for="cart2" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox-point">
                                    <input class="checkbox-point__input sr-only" type="checkbox" name="cart" id="cart3" >
                                    <label for="cart3" class="checkbox-point__label"><span class="sr-only">체크</span></label>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- .list -->

            <!-- recommended -->
            <div class="recommended">
                <h3 class="recommended__title">THE RECOMMENDED</h3>
                <div class="recommended-slide">
                    <div class="swiper-container recommended-slide__container">
                        <div class="swiper-wrapper recommended-slide__wrapper">
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <div class="recommended-product__state">NEW</div>
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like is-active" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <!-- 좋아요시 a 링크에 is-active -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <div class="recommended-product__state">NEW</div>
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                            <div class='swiper-slide recommended-slide__item'>
                                <div class="recommended-product">
                                    <div class="recommended-product__thumb">
                                        <img class="recommended-product__img" src="../../images/dummy/recommended_img.png" alt="" />
                                        <!-- <a class="recommended-product__like" href="javascript:void(0);"><span class="sr-only">좋아요</span></a> -->
                                        <% include ../_include/_productHoverButton %>
                                    </div>
                                    <div class="recommended-product__cont">
                                        <div class="recommended-product__title">루이까또즈 씨엘(CIEL) 미니지갑 블루라일락 SP3SD71PB</div>
                                        <div class="recommended-product__price">211,300원</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next detail-thumb--next"></div>
                    <div class="swiper-button-prev detail-thumb--prev"></div>
                    <div class="swiper-pagination recommended-slide__pagination"></div>
                </div>
            </div>
            <!-- .recommended -->
        </section>
    </div>
</div>
<% include ../_include/_contentFooter %>
<% include ../_include/_cartFix %>
<% include ../_include/_footer %>